Dear [% req.param('first_name') %],

Your ad campaign with Silver Lining Networks has been successfully processed.  A charge in the amount of $[% req.param('plan') %] will appear on your credit card every month until you cancel.  Please contact support@silverliningnetworks.com if you need to make a change to your subscription.

You will be contacted by a Silver Lining Networks representative shortly who will assist you in placing your advertisements on the network, and will setup your email based advertising reports.

Billed To:
[% req.param('first_name') %] [% req.param('last_name') %]
[% req.param('street') %]
[% req.param('city') %], [% req.param('state') %] [% req.param('zip') %]

----------------------Purchase Receipt ---------------------
Description: Advertiser Recurring Billing for $[% req.param('plan') %]/month
Date: [% date %]
Order Number: [% order_number %]
-------------------------------------------------------------------------

PLEASE RETAIN THIS FOR YOUR RECORDS

Silver Lining Networks Inc.
- If you have questions please contact us at support@silverliningnetworks.com
- You may also give us a call at 888.334.6602 and we will return your call
- For information regarding use of WiFi, please read our terms of service
