    <ul id="payment_info">

        <li class="clear"><strong>Thank you for your business.</strong>  You are purchasing an advertiser plan with Silver Lining.  Your credit card will be charged a monthly fee until you cancel.</li>

[% PROCESS billing/authorize.tmpl %]
   
</ul>
