[% PROCESS header.tmpl title="Silver Lining Dashboard:  Add or edit ad zone" selected="adcenter" %]
<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>[% PROCESS ad/nav.tmpl %]<li><strong>Text Message Bar</strong></li></ul>
		</div>
	</div>
</div>

<!-- BANNER PREVIEW -->
<div class="grid_16 preview">
	<h3>Preview (Max 140 characters)</h3>
	<div id="text_banner_preview">
		<p>[% req.param('text_message') or reg.account.text_message %]</p>
	</div>
</div>	

<div id="main_content" class="grid_10 suffix_1">
	<h2>Text Entry Message Bar</h2>

	
	[% IF msg %]
		<p class="success">[% msg %]</p>
	[% END %]

	
	<div class="row">
	<form class="form" method="post" action="[% base_uri %]/app/ad/msg/index">
	<!-- ERRORS -->
	[% IF errors.missing %]<p class="error">Please enter a text message</p>[% END %]
	[% IF errors.invalid %]<p class="error">Text message can be no greater than 250 characters</p>[% END %]

	
	<ul> 
		<li>
			<div class="grid_9 alpha omega suffix_7">
				<!-- email -->
				<label for="text_message" class="[% IF errors.missing.text_message %]error[% END %]">Message</label>
				<textarea name="text_message" id="text_message" rows="5" cols="70">[% req.param('text_message') or reg.account.text_message %]</textarea>
				<label for="text_message" class="tip">Enter Text, max 140 characters</label>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</li>			



      <li>
      <label for="twitter_brand">Message Bar Branding Image[% IF reg.account.plan == 'free' %] (<a href="[% base_uri %]/billing/publisher/?plan=basic&email=[% reg.email %]">Paid account needed to change image)</a>[% END %]</label>
       <a href="[% bug.link_href %]"><img src="[% bug.image_href %]"></a>

[% IF reg.account.plan != 'free' %] 
     [% PROCESS ad/banner.tmpl type="Message Bar Branding" ad_zone=bug %]
       [% END %]
         </li>

		<li>
			<input type="checkbox" name="sweep" id="sweep" />
			<label class="check_label left" for="sweep">Activate the Message Bar on all devices </label>
			<div class="clear"></div>
			<label for="sweep" class="tip">(this will reset all existing ad bar settings)</label>	
		</li>
		<li>
			<input type="submit" value="Save Text Message" />
		</li>
	</ul>
	
	</form>
	<div class="clear"></div>
	</div>
</div>



[% PROCESS footer.tmpl %]
