[% INCLUDE header.tmpl %]

<div id="container">

<p class="breadcrumb"><a href="/app">Home</a> => <a href="/app/ad">Ads</a> => 
	[% IF ad.ad_id == -1 %]Add[% ELSIF ad.ad_id != -1 %]Edit[% END %]</p>
<div id="edit_form">
[% IF ad.ad_id == -1 %]
<p>You are adding an ad to the system</p>
[% ELSIF ad.ad_id != -1 %]
<p>You are editing ad id [% ad.ad_id %]</p>
[% END %]
<form method="POST" action="/app/ad/edit/?ad_id=[% ad.ad_id %]">
<p>Name:&nbsp;<input type="text" name="name" size="15" maxlength="15" value="[% ad.name %]"></p>
<p>Text:&nbsp;&nbsp;&nbsp;<input type="text" size="25" maxlength="25" value="[% ad.text %]"></p>
<p>Template name:&nbsp;&nbsp;<input type="text" name="template" size="15" maxlength="15" value="[% ad.template %]"></p>
<p>Active:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select name="active">
<option [% IF ad.active == 1 %] SELECTED [% END %] value="1">Active</option>
<option [% IF ad.active == 0 %] SELECTED [% END %] value="0">Inactive</option>
</select>
</p>
<p>Ad Group:&nbsp;<select name="ad_group_id">
[% FOREACH ad_group = ad_groups %]
<option [% IF ad.ad_group_id.ad_group_id == ad_group.ad_group_id %] SELECTED 
[% END %] value="[% ad_group.ad_group_id %]">[% ad_group.name %]</option>
[% END %]
</select>
<p><input type="submit" value="Save"></p>
</form>
</div>
</div>
[% INCLUDE footer.tmpl %]