body {
	font-family:  'Trebuchet MS', Verdana, sans-serif;
	background-color:  #FFFFFF;
	font-size: 14px;
}

A:link {	text-decoration: 	none; 
			color: 				blue
		}
A:visited {	text-decoration: 	none; 
			color: 				blue
		}
A:active {	text-decoration: 	none; 
			color: 				blue
		}
A:hover {	text-decoration: 	underline; 
			color: 				red
		}

p.breadcrumb {
	font-style:  italic;
	font-size:  12px;
}

p {
	font-weight:  bold;
	text-align:  left;
}

#container {
	text-align:  center;
	width:  800px;
	position:  relative;
	left:  50px;
}

#edit_form {
	text-align:  left;
	position:  relative;
}

table.edit {
	border:  1px solid;
	border-padding: 2;
	border-spacing: 3;
	padding: 2px;
}

table.list {
	border:  1px solid;
	border-padding: 2;
	border-spacing: 3;
	}

tr.list_header {
	font-color:  blue;
	font-style:  italic;
	font-weight:  bold;
	background-color:  #86c286;
}

tr.lite {
	background-color:  #ffffff;
}

tr.dark {
	background-color:  #cccccc;
}

td { font-size: 14px; padding: 2px }

