<dt><label for="plan">Choose a plan:</label></dt>

<dd>
    <span class="half" style="width: 250px;">
    <select id="plan" name="plan">
        <option value="100.00" [% IF req.param('plan') == '100.00' %]SELECTED[% END %]>5k Ad Views/Month ($100/month)</option>
        <option value="150.00" [% IF req.param('plan') == '150.00' %]SELECTED[% END %]>10k Ad Views/Month ($150/month)</option>
	    <option value="200.00" [% IF req.param('plan') == '200.00' %]SELECTED[% END %]>20k Ad Views/Month ($200/month)</option>
	</select>
	</span>
	<div class="clear"></div>
</dd>
