<dt><label for="plan">Choose a plan:</label></dt>

<dd>
    <span class="half">
    <select id="plan" name="plan">
        <option value="24.00" [% IF req.param('plan') == '24.00' %]SELECTED[% END %]>Basic ($24/month)</option>
        <option value="49.00" [% IF req.param('plan') == '49.00' %]SELECTED[% END %]>Plus ($49/month)</option>
	    <option value="99.00" [% IF req.param('plan') == '99.00' %]SELECTED[% END %]>Premium ($99/month)</option>
	    <option value="249.00" [% IF req.param('plan') == '249.00' %]SELECTED[% END %]>Enterprise ($249/month)</option>
	</select>
	</span>
	<div class="clear"></div>
</dd>
