ServerRoot           [% sl_root %]/httpd2
ServerAdmin          fred@redhotpenguin.com
ServerSignature      Off
ServerTokens         Prod
PidFile              [% sl_root %]/tmp/sl_[% sl_server %].pid
DocumentRoot         [% sl_root %]/[% sl_version %]/htdocs
TypesConfig          [% sl_root %]/[% sl_version %]/conf/mime.types
User                 [% sl_apache_user %] 
Group                [% sl_apache_group %]
KeepAlive            [% sl_apache_keepalive %]
MaxKeepAliveRequests 0
KeepAliveTimeout     300
MinSpareServers      [% sl_apache_min_spare_servers %]
MaxSpareServers      [% sl_apache_max_spare_servers %]
StartServers         [% sl_apache_start_servers %]
LogLevel             [% sl_apache_loglevel %]
MaxClients           [% sl_apache_maxclients %]
ErrorLog             [% sl_root %]/[% sl_version %]/[% sl_server %]/logs/httpd_error_log
TransferLog          [% sl_root %]/[% sl_version %]/[% sl_server %]/logs/httpd_access_log
MaxRequestsPerChild  250
LogFormat "%h %l %u %t (%{User-agent}i) \"%r\" %>s %b"
UseCanonicalName     Off
HostNameLookups      Off
Timeout              300

[% IF sl_proxy == 'mod_proxy' %]
#LoadModule proxy_module       modules/mod_proxy.so
#LoadModule proxy_http_module       modules/mod_proxy_http.so
<IfModule mod_proxy.c>
    # If mod_proxy is used for proxy forwarding
    ProxyRequests On
    Listen        [% sl_http_frontend_port %]
    <IfModule mod_cache.c>
        <IfModule mod_mem_cache.c>
        CacheEnable mem /
        MCacheSize 65536
        MCacheMaxObjectCount 1024
        MCacheMinObjectSize 1
        MCacheMaxObjectSize 4096
        </IfModule>
    </IfModule>
</IfModule>

[% ELSIF sl_proxy == 'perlbal' %]

Listen [% sl_http_backend_port %]

[% END %]

ServerName           [% sl_servername %]
ErrorDocument        404	/404.html
ErrorDocument        500	/500.html

LoadModule apreq_module       modules/mod_apreq2.so
LoadModule perl_module        modules/mod_perl.so

PerlPassEnv SL_ROOT
PerlRequire "[% sl_root %]/[% sl_version %]/[% sl_server %]/conf/startup.pl"
[% IF sl_debug %]
PerlRequire "[% sl_root %]/[% sl_version %]/conf/db.pl"
[% END %]
PerlSetVar data_root "[% sl_root %]/data"
PerlSetVar ad_url "[% sl_adserver_uri %]"

[% IF sl_devel %]
# Apache::Reload for development.
PerlModule           Apache2::Reload
PerlInitHandler      Apache2::Reload
PerlSetVar           ReloadAll On
PerlSetVar           ReloadDirectories "[% sl_root %]/[% sl_version %]/[% sl_server %]/lib"
[% END %]
[% IF sl_prof %]
	PerlModule Apache::DProf
[% END %]

PerlSetVar           SLWhiteList [% sl_whitelist %]
PerlSetVar           SLMethod [% sl_method %]
PerlSetVar           SLCssUri [% sl_css_uri %]
PerlSetVar           SLProxy [% sl_proxy %]

PerlPostReadRequestHandler Apache2::Const::OK
PerlMapToStorageHandler Apache2::Const::OK
PerlTransHandler SL::Apache::PerlTransHandler

<Location />
    SetHandler          modperl
 	PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlTypeHandler         Apache2::Const::OK
[% IF sl_debug %]
    PerlFixupHandler +Apache::DB
[% ELSE %]
    PerlFixupHandler        Apache2::Const::OK
[% END %]
    PerlResponseHandler     SL::Apache 
</Location>

<Directory />
    AllowOverride None
</Directory>
[% IF sl_proxy_deflate %]
Include [% sl_root %]/[% sl_version %]/conf/deflate.conf
[% END %]
