[% PROCESS header.tmpl title="Silver Lining Dashboard:  Edit Banner Ad"  selected="adcenter" %]



<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>[% PROCESS ad/groups/nav.tmpl %]<li>Edit<strong> '[% ad_zone.name %]'</strong> Banner Ad</li></ul>
		</div>
	</div>
</div>
<div class="clear"></div>


<!-- BANNER PREVIEW -->
<div class="grid_16 preview">
   <h3>Preview - Banner Ad must be 728 pixels wide by 90 pixels tall (IAB Leaderboard)</h3>
	<div id="banner_preview">
   		 <div id="banner">[% IF req.param('code') or ad_zone.code %][% re.param('code') or ad_zone.code %][% ELSE %]<a href="http://www.silverliningnetworks.com/?referer=dashboard_example"><img src="/resources/images/ads/sln/sl_leaderboard.gif"></a>[% END %]</div>
		<div class="clear"></div>
	</div>
</div>	

<form method="POST" action="/app/ad/groups/edit">

<div id="main_content" class="grid_10 suffix_1">


	<h2>Edit '[% ad_zone.name %]' Banner Ad</h2>


		<!-- Errors -->
        [% IF image_err %]<p class="error">[% IF image_err.missing %]No image was found at [% req.param('image_href' ) %][% ELSE %]The image must be 728 pixels wide by 90 pixels tall, yours was [% image_err.width %] pixels wide by [% image_err.height %] pixels tall</p>[% END %][% END %]
		[% IF errors.missing %]<p class="error">Please fill in the missing fields</p>[% END %]
		[% IF errors.invalid %]<p class="error">Some fields were invalid, please correct them</p>[% END %]

		
		<ul class="form row"> 
			<li>
            [% PROCESS ad/name.tmpl type="Banner" %]
			</li>
		</ul>


		<ul>
			<li>
            [% PROCESS ad/zone_type.tmpl type="Banner" %]
		  </li>
		</ul>

		
		<ul class="form">
            [% PROCESS ad/banner.tmpl type="Banner" %]
            [% PROCESS ad/code.tmpl type="Banner" %]


			<li>
				<label for="zone_type" class="label">Place banner at...</label>
				<div class="grid_2 alpha">
					<input id="text" type="radio" name="banner_placement" value="top" [% IF (ad_zone.ad_size_id == 1) or (ad_zone.ad_size_id == 10) %]checked="checked"[% END %]/>
					<label for="top" class="check_label">Top of page</label>
				</div>
				
				<div class="grid_4 omega">
					<input class="left" id="text" type="radio" name="banner_placement" value="bottom" [% IF (ad_zone.ad_size_id == 12) %]checked="checked"[% END %]/>
					<label for="bottom" class="check_label left">Bottom of page</label>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>



			<li>
				<div class="grid_10 alpha">
					<input id="text" type="checkbox" name="floating" [% IF (ad_zone.ad_size_id == 12) or (ad_zone.ad_size_id == 10) or (ad_zone.ad_size_id == 12) %]checked="checked"[% END %]/>
					<label for="floating" class="check_label">Keep banner fixed in view (floating above webpage)</label>
				</div>
				<div class="clear"></div>
			</li>


		</ul>
</div>



[% PROCESS ad/advanced.tmpl type="Banner" %]


<div class="grid_16">
	<ul class="form">
		<li>
			<input type="hidden" name="id" value="[% ad_zone.ad_zone_id %]">
		   <input type="submit" value="Save Banner Ad" />
		</li>
	</ul>
</div>

</form>


[% PROCESS footer.tmpl %]
