[% PROCESS header.tmpl title="Silver Lining Dashboard:  Edit ad zone"  selected="adcenter" %]
<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>[% PROCESS ad/groups/nav.tmpl %]<li>Edit<strong> '[% ad_zone.name %]'</strong> Banner</li></ul>
		</div>
	</div>
</div>

<div class="clear"></div>


<!-- BANNER PREVIEW -->
[% IF !ad_zone.image_href %]
	[% IF req.param('code') or ad_zone.code %]
	   <div class="grid_16">
			<div id="banner_preview">
	   		 <div id="banner">[% req.param('code') or ad_zone.code %]</div>
			<div class="clear"></div>
			</div>
		</div>	
	[% END %]
[% END %]




<form method="post" action="[% base_uri %]/app/ad/groups/edit">
<div id="main_content" class="grid_10 suffix_1">

	<h2>'[% ad_zone.name %]' Banner</h2>

		<!-- Errors -->
		[% IF status == 'update_ok' %]<p class="error">Your ad zone has been updated.</p>[% END %]
		[% IF errors.missing %]<p class="error">Please fill in the missing fields</p>[% END %]
		[% IF errors.invalid %]<p class="error">Some fields were invalid, please correct them</p>[% END %]
		
		<ul class="form row"> 
			<li>
				<!-- name -->
				<div class="grid_6 alpha omega suffix_4">
					<label for="name" class="[% IF errors.missing.name %]error[% END %]">Ad Zone Name</label>
					<input type="text" name="name" size="30" value='[% req.param('name') or ad_zone.name %]' />
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>
			
			<li style="display:none;">
				<!-- ad size -->
				<label for="ad_size_id" class="[% IF errors.missing.ad_size_id %]error[% END %]">Ad Size</label>
				<select name="ad_size_id" id="ad_size_id">
					<option value="">Select ad zone size</option>
					[% FOREACH ad_size = ad_sizes %]
				    [% IF loop.prev.grouping != ad_size.grouping %]
				    <option value=""></option>
				    <option value="">--&nbsp; 
				    [% END %]
				    [% IF ad_size.grouping == 1 %]Persistent Leaderboard
				    [% ELSIF ad_size.grouping == 8 %]Persistent Micro Bar
				    [% ELSIF ad_size.grouping == 6 %]Persistent Full Banner[% END %]
				    </option>
					<option value="[% ad_size.ad_size_id %]" [% IF ad_zone.ad_size.ad_size_id == ad_size.ad_size_id %]selected="selected"[% END %]>[% ad_size.name %]</option>
					[% END %]
				</select>

				[% # PROCESS ad_size.tmpl adsizes=adsizes selected=ad_zone.ad_size.ad_size_id %]
				<div class="clear"></div>
				<p><a target="_new" href="http://silverliningworks.typepad.com/pdf/Silver_Lining_Ad_Zones.pdf">ad zone white paper</a> for details</p>
			</li>	
		</ul>
		
		<ul>
			<li>
				<label for="zone_type" class="block">Insert banner by:</label>
				<div class="grid_2" id="zone_type_banner">
					<input id="text" type="radio" name="zone_type" value="banner" [% IF ad_zone.image_href or ad_zone.link_href %]checked[% END %]/>
					<label for="banner" class="check_label">Image Link</label>
				</div>
				
				<div class="grid_4" id="zone_type_code">
					<input id="text" type="radio" name="zone_type" value="code" [% IF !ad_zone.image_href && !ad_zone.link_href %]checked[% END %]/>
					<label for="banner" class="check_label">Invocation Code</label>
				</div>
				<div class="clear"></div>
			</li>
			
    <li id="banner" class="form">
			       <div class="grid_6 alpha omega suffix_4">
		            <label for="image_href" class="[% IF errors.missing.image_href or errors.invalid.image_href %]error[% END %]">Banner Image Link</label>
					<input type="text" name="image_href" size="30" value="[% req.param('image_href') or ad_zone.image_href %]" />
					<div class="clear"></div>
					<label class="tip" for="image_href">Location of the Banner image, ex. yoursite.com/banner.gif</label>
		            
        <label for="link_href" class="[% IF errors.missing.link_href or errors.invalid.link_href %]error[% END %]">Banner Destination</label>
					<input type="text" name="link_href" size="30" value="[% req.param('link_href') or ad_zone.link_href %]" />
					<div class="clear"></div>
					<label class="tip" for="link_href">The webpage displayed when the Banner is clicked.</label>
		
		
						[% IF ad_zone.image_href %]
		                    [% IF req.param('code') or ad_zone.code %]
						    <p>[% req.param('code') or ad_zone.code %]</p>
						    [% END %]
		                [% END %]
					</div>
	
				<div class="clear"></div>
			</li>

			<li id="code" >
		       <div class="grid_10 alpha omega">
				<label for="code" class="[% IF errors.missing.code %]error[% END %]">Banner Invocation Code (provided by your ad server)</label>
				<textarea name="code" rows="10" cols="75">[% IF !ad_zone.image_href %][% req.param('code') or ad_zone.code %][% END %]</textarea>
				<label class="tip" for="code">For faster speed add your Ad Server IP address to the custom_skips.txt on your router</label>
				<div class="clear"></div>	
				</div>
				<div class="clear"></div>
			</li>

			<li>
				[% IF ad_zone.ad_zone_id %]
				<input type="hidden" name="id" value="[% ad_zone.ad_zone_id %]">
				[% END %]			
				<input type="submit" value="Save ad zone" />
			</li>
		</ul>
</div>


<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
			<h3>Advanced Options</h3>
			<ul class="form">
				<li>
	
					<!-- active -->
					<label for="active">Is this Ad Zone active?</label>
					<input id="active" type="radio" name="active" value="t" [% IF req.param('active') == 't' or ad_zone.active %]checked[% END %]/>
					<label for="t" class="check_label">Yes</label>	
					<div class="clear"></div>
							
					<input id="active" type="radio" name="active" value="f" [% IF !req.param('active') && !ad_zone.active %]checked[% END %]/>
					<label for="f" class="check_label">No</label>
					<div class="clear"></div>
					<label class="tip">To ensure consistency in reporting, ad zones cannot be deleted</label>
				</li>
	
	
				<li>
					<!-- default -->
					<label for="is_default">Is this a default Ad Zone?</label>
					<input type="radio" name="is_default" value="t" [% IF ad_zone.is_default %]checked[% END %]>
					<label for="t" class="check_label">Yes</label>	
					<div class="clear"></div>
							
					<input type="radio" name="is_default" value="f"  [% IF !ad_zone.is_default %]checked="1"[% END %] /> 
					<label for="f" class="check_label">No</label>
					<div class="clear"></div>
					<label class="tip">When two routers share the same WAN ip, sometimes the specific router cannot be identified.<br />In that case, an ad zone marked as a default ad zone will be shown.</label>
					<label class="tip">The default ad zone is also automatically assigned to a device that has no ad zones assigned.</label>
				</li>

			</ul>
		</div>
	</div>

</div>

</form>


[% PROCESS footer.tmpl %]
