[% PROCESS header.tmpl title="Silver Lining Dashboard:  Add or edit ad zone"  load="changeBugList()" selected="adcenter" %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS ad/groups/nav.tmpl %] > [% UNLESS ad_zone.ad_zone_id  %]Create an Ad Zone[% ELSE %]Edit Ad Zone '[% ad_zone.name %]'[% END %]</h2>

<hr class="sl_line">

<div id="edit_form">

<p><h2>[% IF ad_zone.ad_zone_id %]You are editing ad zone '[% ad_zone.name %]'[% ELSE%]<h2>You are adding a new ad zone[% END %]</h2></p>


[% IF status == 'update_ok' %]
<p><font color="red">Your ad zone has been updated.</font></p>
[% END %]

[% IF errors.missing %]
<p><font color="red">Please fill in the missing fields</font></p>
[% END %]

[% IF errors.invalid %]
<p><font color="red">Some fields were invalid, please correct them</font></p>
[% END %]



<hr class="sl_line">


<form method="POST" action="[% base_uri %]/app/ad/groups/edit">

<!-- name -->
<p>
[% IF errors.missing.name %]<font color="red">[% END %]
Ad Zone Name:&nbsp;&nbsp;
[% IF errors.missing.name %]</font>[% END %]

<input [% IF ad_zone.public == 1  && reg.root != 1 %]disabled="1" [% END %] type="text" name="name" size="30" value='[% req.param('name') or ad_zone.name %]'></p>

<!-- end name -->


<hr class="sl_line">



<!-- ad_size_id -->
<p>
[% IF errors.missing.ad_size_id %]<font color="red">[% END %]
Ad Size:&nbsp;&nbsp;
[% IF errors.missing.ad_size_id %]</font>[% END %]

<select [% IF ad_zone.public == 1  && reg.root != 1 %]disabled="1" [% END %]name="ad_size_id" id="ad_size_id" onChange="changeBugList();void 0;">

<option value="" [% IF ! bug.ad_size_id and req.param('ad_size_id') == '' %][% END %]>Select ad zone size</option>


[% FOREACH ad_size = ad_sizes %]

[% IF loop.prev.grouping != ad_size.grouping %]
[% END %]
[% IF ad_size.grouping != 3 and ad_size.grouping != 2 and ad_size.grouping !=7 %]
<option value=""></option>
<option value="">--&nbsp; 
[% END %]


[% IF ad_size.grouping == 1 %]Persistent Leaderboard Options
[% ELSIF ad_size.grouping == 6 %]Persistent Full Banner Options
[% ELSIF ad_size.grouping == 2 %]Persistent Branding Zone Image
[% ELSIF ad_size.grouping == 3 %]Splash page Ad
[% ELSIF ad_size.grouping == 7 %]Persistent Double Combinations[% END %]
</option>

[% END %]


[% IF ad_size.grouping != 3 and ad_size.grouping != 2 and ad_size.grouping !=7 %]
<option value="[% ad_size.ad_size_id %]" [% IF ad_zone.ad_size_id.ad_size_id == ad_size.ad_size_id %]SELECTED[% END %]>[% ad_size.name %]</option>
[% END %]



</select>
</p>

<p><font color="#CCCCCC">See the <a target="_new" href="http://www.silverliningnetworks.com/pdf/Silver_Lining_Ad_Zones.pdf">ad zone white paper</a> for details</font></p>

<!-- end ad_size_id -->


<hr class="sl_line">





<!-- invocation code -->
<p>
[% IF errors.missing.code %]<font color="red">[% END %]
Ad Invocation Code (provided by your ad server):&nbsp;&nbsp;
[% IF errors.missing.code %]</font>[% END %]
</p>
<p><font color="#CCCCCC">For optimum ad serving speed, add the IP address of your ad server to the custom_skips.txt file on your router</font></p>

<p><textarea [% IF ad_zone.public == 1  && reg.root != 1 %]disabled="1" [% END %]name="code" rows="10" cols="80">[% req.param('code') or ad_zone.code %]</textarea>
</p>

[% IF req.param('code') or ad_zone.code %]
<p>[% req.param('code') or ad_zone.code %]</p>
[% END %]

<!-- end invocation code -->


<hr class="sl_line">




<div id="code_double" [% IF ad_zone.code_double == '' %]style="display: none;"[% END %]>

<!-- invocation double code -->
<p>
[% IF errors.missing.code_double %]<font color="red">[% END %]
Double Ad Zone Code (provided by your ad server):&nbsp;&nbsp;
[% IF errors.missing.code_double %]</font>[% END %]
</p>

<p><font color="#CCCCCC">For optimum ad serving speed, use secure (https) links to your ad server resources</font></p>

<p>
<textarea name="code_double" rows="10" cols="100">[% req.param('code_double') or ad_zone.code_double %]</textarea>

[% IF req.param('code_double') or ad_zone.code_double %][% req.param('code_double') or ad_zone.code_double %][% END %]

</p>





<!-- end invocation code -->


<hr class="sl_line">

</div>



<!-- branding image -->
[% IF errors.missing.bug_id %]<font color="red">You need a valid branding image for this ad zone.</font>
<hr class="sl_line">
[% END %]

[% FOREACH buglist = bug_lists %]

<div id="[% buglist %]" [% IF $buglist.0.ad_size_id.ad_size_id != ad_size_id %]style="display: none;"[% END %]>



[% IF $buglist.0.ad_size_id.ad_size_id %]
<p>Select a branding image for this ad zone:</p>

[% FOREACH bug = $buglist %]
<p><input [% IF ad_zone.public == 1  && reg.root != 1 %]disabled="1" [% END %]type="radio" name="bug_id" value="[% bug.bug_id %]" [% IF ad_zone.bug_id.bug_id == bug.bug_id %]checked[% END %]>&nbsp;&nbsp;<a href="[% bug.link_href %]"><img src="[% bug.image_href %]" border="1"></a>&nbsp;&nbsp;[% bug.ad_size_id.bug_width %]px wide by [% bug.ad_size_id.bug_height %]px tall</p>
[% END %]

[% ELSE %]

<p>You haven't created any <a href="[% base_uri %]/app/ad/bugs/list">branding images yet</a> for this ad zone size,<br /> please do so to create this zone.</p>
[% END %]

<hr class="sl_line"> <!-- don't move this :) -->

</div>
[% END %]


<!-- end branding image -->




<!-- active -->

<p>Active:&nbsp;&nbsp;Yes<input [% IF ad_zone.public == 1  && reg.root != 1 %]disabled="1" [% END %]type="radio" name="active" value="t" [% IF (ad_zone.active == 1) or (! ad_zone) %]checked[% END %]>&nbsp;
No<input type="radio" name="active" value="f" [% IF ad_zone.active == 0 %] checked [% END %]></p>

<p><font color="#CCCCCC">
Is this Ad Zone active? (To ensure consistency in reporting, ad zones cannot be deleted)
</font></p>


<!-- end active -->


<hr class="sl_line">


[% IF ! ad_zone.public  or reg.root == 1 %]
<input type="submit" value="Save ad zone">
[% END %]

[% IF ad_zone.ad_zone_id %]
<input type="hidden" name="id" value="[% ad_zone.ad_zone_id %]">
[% END %]

</form>

</div>
</div>
</div>


<script type="text/javascript">
function changeBugList() {

    // hide all sub lists
    for (var i = 1; i < 14; i++) {

        document.getElementById('bug_list_' + i).style.display='none';
    }


    // what ad size is selected?
    size = document.getElementById('ad_size_id').value;

    if (size != '') {
        document.getElementById('bug_list_' + size).style.display='block';
    }

    // show second box for double ad zones
    if (((size > 6) && (size < 10) ) || ( size == 14 )) {
        document.getElementById('code_double').style.display='block';
    } else {
        document.getElementById('code_double').style.display='none';
   }
}


function setBugList(ad_size_id) {

    document.getElementById('bug_list_' + ad_size_id).style.display='block';
}
</script>


[% PROCESS footer.tmpl %]
