[% PROCESS header.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS ad/groups/nav.tmpl %]</h2>
<p>This page is for managing <b>ad groups.</b></p>
<p>Ad groups can be assigned to routers and locations.  You can associate image bugs with ad groups, as well as urls for css pages so that you can customize your ad group.  You can also specify a custom template for your ad group.</p>
<p>
<ul>
  <li><a href="[% base_uri %]/app/ad/groups/edit">Add a new ad group</a></li>
  <li><a href="[% base_uri %]/app/ad/groups/list">View existing ad groups</a></li>
  <li><a href="[% base_uri %]/app/ad/groups/ads">Associate ads with ad groups</a></li>
  <li><a href="[% base_uri %]/app/ad/groups/routers">Associate ad groups with routers</a></li>
  <li><a href="[% base_uri %]/app/ad/groups/locations">Associate ad groups with locations</a></li>
  </ul>
</p>
</div>
</div>
[% PROCESS footer.tmpl %]