[% PROCESS header.tmpl title="Silver Lining Dashboard:  Ad Zones" selected="adcenter" %]
<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>[% PROCESS ad/nav.tmpl %]<li><strong>Banner Ads</strong></li></ul>
		</div>
	</div>
</div>
<div class="clear"></div>


<div id="main_content" class="grid_10 suffix_1">


	<div class="grid_6 alpha">
		<h2>Banner Advertisements</h2>
		<p class="tip">You have <strong>[% count %]</strong> banner advertisements</p>
	</div>
	<div class="grid_4 omega">
		<a class="right" id="button_add_banner" href="[% base_uri %]/app/ad/groups/add">Add a Banner</a>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>



	
	
	[% IF msg %]<p class="error">[% msg %]</p>[% END %]
	
	
	
	
	<table class="large_table">
	<tr>
		<th>Ad Zone Name</th>
<!--		<th>Views Yesterday</th>-->
		<th>Last Modified</th>
		<th>Active on</th>

	</tr>
	
	[% FOREACH ad_zone = ad_zones %]
		<tr>
			<td class="larger">
			<a href="[% base_uri %]/app/ad/groups/edit/?id=[% ad_zone.ad_zone_id %]">
			[% ad_zone.name %]</a></td>
			
			<!--<td class="smaller">69</td>-->
			
			<td class="smaller">[% ad_zone.mts %]</td>

			<td class="smaller">
			[% IF ad_zone.router_count == 0 %]
			    [% ad_zone.router_count %]
			[% ELSE %]
			<a href="[% base_uri %]/app/router/list?ad_zone_id=[% ad_zone.ad_zone_id %]">
			[% ad_zone.router_count %]</a>
			[% END %]
			devices
			</td>
			
		</tr>
	[% END %]
	</table>
</div>

<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
		
			<h3>Brand your Network</h3>
			[% IF reg.account_id.plan == 'free' %]
			To brand your ad bar, you will need a paid account.  <a href="[% base_uri %]/billing/publisher/?plan=basic&email=[% reg.email %]">Click here</a> to sign up for our Basic Plan.
			
			[% ELSE %]
			<a href="[% base_uri %]/app/ad/bugs/list">
				<img alt="Brand your ad banners with your logo." src="[% base_uri %]/resources/images/logos/application/brand_placeholder_lb.png" width="200" height="90"/>
			</a>
			<p><a href="[% base_uri %]/app/ad/bugs/list">Customize the logo</a> that is displayed next to the Ad banners on your network. </p>
			[% END %]
			
		</div>
	</div>
</div>

[% PROCESS footer.tmpl %]