[% PROCESS header.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS ad/groups/nav.tmpl %] > <a href="[% base_uri %]/app/ad/groups/list">[% count %] Ad Groups Total</a></h2>

[% IF session.msg %]
<p><font color="red">[% session.msg %]</font></p>
[% END %]

<p style="text-align: right; padding-bottom: 5px;"><a href="[% base_uri %]/app/ad/groups/edit">Create a New Ad Group</a></span></p>
<table class="list"
<tr class="list_header">
<td>&nbsp;&nbsp;Id&nbsp;&nbsp;</td><td>Name</td>
<td># of ads</td>
<td>Creation Time</td>
<td>Active&nbsp;&nbsp;</td>
<td>Edit</td>
</tr>
[% FOREACH ad_group = ad_groups %]
  <tr class="[% IF loop.index % 2 %]lite[% ELSE %]dark[% END %]">
	
  <td style="color: #639D63">&nbsp;&nbsp;
<a href="[% base_uri %]/app/ad/groups/edit/?id=[% ad_group.ad_group_id %]">[% ad_group.ad_group_id %]</a></td>
<td>[% ad_group.name %]</a></td>

<td>[% ad_group.ad_count %]</td>
<td>[% ad_group.cts %]</td>

<td style="text-align: center;">
[% IF ad_group.active %]Yes[% ELSE %]No[% END %]</td>
<td><a href="[% base_uri %]/app/ad/groups/edit/?id=[% ad_group.ad_group_id %]">
Edit</a></td>
</tr>
[% END %]
</table>
</div>
</div>
[% PROCESS footer.tmpl %]
