<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
			<h3>Advanced Options</h3>
			<ul class="form row">
				<li>
					<!-- active -->
					<label for="active">Is this [% type %] active?</label>
					<input type="radio" name="active" value="1" [% IF req.param('active') == 't' or ad_zone.active %]checked="1"[% END %]/>
					<label for="t" class="check_label">Yes</label>	
					<div class="clear"></div>
							
					<input type="radio" name="active" value="0" [% IF (!req.param('active') && !ad_zone.active) or (req.param('active') == 0) %]checked="1"[% END %]/>
					<label for="f" class="check_label">No</label>
					<div class="clear"></div>
					<label class="tip">To ensure consistency in reporting, [% type %]s cannot be deleted.</label>
					<div class="clear"></div>
				</li>
				
				<li class="margin_b_20">
					<label for="is_default">Frequency for displaying banner</label>
					<p class="tip">This refers to how often this ad banner is displayed relative to your other ad banners.</p>

					
					<input type="radio" name="display_rate" value="high"  [% IF (req.param('display_rate') == 'high') or (ad_zone.weight == 3) %]checked="checked"[% END %] />
					<label for="high" class="check_label">High Display Rate</label>
					<div class="clear"></div>
							
					<input type="radio" name="display_rate" value="normal" [% IF !ad_zone.weight or ( req.param('display_rate') == 'normal') or (ad_zone.weight == 2) %]checked="checked"[% END %] /> 
					<label for="normal" class="check_label">Normal Display Rate</label>
					<div class="clear"></div>
					
					<input type="radio" name="display_rate" value="low" [% IF (req.param('display_rate') == 'low') or (ad_zone.weight == 1) %]checked="checked"[% END %]/> 
					<label for="low" class="check_label">Low Display Rate</label>
					<div class="clear"></div>
				</li>
				
[% UNLESS type == 'Swap Zone' %]	
				<li>
					<!-- default -->
					<label for="is_default">Is this the default [% type %]?</label>
					<input type="radio" name="is_default" value="1" [% IF (req.param('is_default') == 1) or (ad_zone.is_default == 1) %]checked="1"[% END %]>
					<label for="t" class="check_label">Yes[% IF (type == 'Banner Ad') %] - <strong>Overrides all Text Message and Twitter Feed Assignments</strong>[% END %]</label>
					<div class="clear"></div>
							
					<input type="radio" name="is_default" value="0"  [% IF (!req.param('is_default') && !ad_zone.is_default) or (req.param('is_default') == 0) %]checked="1"[% END %] /> 
					<label for="f" class="check_label">No</label>
					<div class="clear"></div>
					<p class="tip">In cases where the specific router cannot be identified, the default [% type %] will be shown.</p>
				</li>
[% END %]
			</ul>
		</div>
	</div>
</div>
