<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
			<h3>Advanced Options</h3>
			<ul class="form">
				<li>
	
					<!-- active -->
					<label for="active">Is this [% type %] active?</label>
					<input type="radio" name="active" value="t" [% IF req.param('active') == 't' or ad_zone.active %]checked="1"[% END %]/>
					<label for="t" class="check_label">Yes</label>	
					<div class="clear"></div>
							
					<input type="radio" name="active" value="f" [% IF req.param('active') =='f' %]checked="1"[% END %]/>
					<label for="f" class="check_label">No</label>
					<div class="clear"></div>
					<label class="tip">To ensure consistency in reporting, [% type %]s cannot be deleted</label>
				</li>
	
	
				<li>
					<!-- default -->
					<label for="is_default">Is this a default [% type %]?</label>
					<input type="radio" name="is_default" value="t" [% IF req.param('is_default') == 't' or ad_zone.is_default %]checked="1"[% END %]>
					<label for="t" class="check_label">Yes</label>
					<div class="clear"></div>
							
					<input type="radio" name="is_default" value="f"  [% IF !req.param('is_default') && !ad_zone.is_default %]checked="1"[% END %] /> 
					<label for="f" class="check_label">No</label>
					<div class="clear"></div>
					<p class="tip">When two routers share the same WAN ip, sometimes the specific router cannot be identified.<br />In that case, an [% type %] marked as a default [% type %] will be shown.</p>
					<p class="tip">The default [% type %] is also automatically assigned to a device that has no [% type %]s assigned.</p>
				</li>

			</ul>
		</div>
	</div>
</div>
