[% PROCESS header.tmpl %]
[% PROCESS left.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS dashboard.tmpl %] > <a href="[% base_uri %]/app/ad/index">Manage Your Ads</a></h2>
<p>This page is for managing ads and ad groups.
  <ul>
  <li><a href="[% base_uri %]/app/ad/ads/list">Add and edit ads</a></li>
  <li><a href="[% base_uri %]/app/ad/groups/list">Add and edit ad groups</a></li>
  <li><a href="[% base_uri %]/app/ad/bugs/list">Manage image bugs</a></li>
</ul>
</p>
</div>
</div>
[% PROCESS footer.tmpl %]