[% PROCESS header.tmpl title="Silver Lining Dashboard:  Manage Your Ads" %]
[% PROCESS left.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS dashboard.tmpl %] > Manage Your Ads</h2>
<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>

<p>This is the home page for managing ads.
  <ul>
  <li><a href="[% base_uri %]/app/ad/groups/list">Add and edit ad groups</a></li>
</ul>
</p>
</div>
</div>
[% PROCESS footer.tmpl %]