[% INCLUDE header.tmpl %]

<div id="list_center">
	<div class="content">

<h2><a href="/app">Dashboard</a> > <a href="/app/ad/list">Manage Your Ads</a> > [% IF ad.id == -1 %]Create a New Ad[% ELSIF ad.id != -1 %]Edit an Existing Ad[% END %]</h2>
<hr size=1 color="#CCCCCC">
<div id="edit_form">

<table class="edit"> 

<tr><td colspan=2>
	[% IF ad.id != -1 %]
	<h2>Edit Existing Ad Id '[% ad.id %]'</h2>
[% ELSIF ad.id == -1 %]
<h2>Create a New Ad</h2></td></tr>
[% END %]
[% IF errors.missing %]
<p><font color="red">Please complete the missing fields</font></p>
[% END %]
[% IF errors.invalid %]
<p><font color="red">Some fields were invalid, please correct them</font></p>
[% END %]
<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>

<form method="POST" action="/app/ad/edit/?id=[% ad.id %]">
<tr><td>
[% IF errors.missing.text %]<font color="red">Ad Text:</font>[% ELSE %]
Ad Text:
[% END %]
</td>
<td><input type="text" name="text" size="50" maxlength="100" value='[% ad.text %]'></td></tr>

<tr><td colspan=2><font color="#CCCCCC">(100 character limit)</font></td></tr>

<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>

<tr><td>
[% IF errors.missing.link %]<font color="red">Ad Links To:</font>[% ELSE %]
[% END %]
Ad Links To:
</td>

<td><input type="text" name="uri" size="50" maxlength="512" value="[% IF ad.id == -1 %]http://[% ELSE %][% ad.uri %][% END %]"></td></tr>

<tr><td colspan=2><font color="#CCCCCC">
(example http://anywebsite.com/)</font></td></tr>
[% IF ad.uri %]<tr><td colspan=2><a href="[% ad.uri %]">Link</a></td></tr>[% END %]
<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>

<tr><td>Active:</font></td><td>
Yes<input type="radio" name="active" value="1" [% IF ad.active == 1 ||  ad.id == -1 %] checked [% END %]>
No<input type="radio" name="active" value="0" [% IF ad.active == 0 %] checked [% END %]></td></tr>
<tr><td colspan=3><font color="#CCCCCC">
Deactivating the ad removes it from the ad serving rotation.<br />To ensure consistency in reporting, ads cannot be deleted.
</font></td></tr>

<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>
<tr><td><input type="submit" value="Save"></td></tr>
</form>
</table>
</div>
</div>
</div>
[% INCLUDE right.tmpl %]
[% INCLUDE footer.tmpl %]
