[% INCLUDE header.tmpl %]

<div id="list_center">
<div class="content">

<h2><a href="/app">Dashboard</a> > Manage Your Ads > [% count %] Ads Total</h2>
[% IF status == 'added' %]
<p><font color="red">Ad '[% ad_text %]' was successfully added.</font></p>
[% ELSIF  status == 'updated' %]
<p><font color="red">Ad '[% ad_text %]' was successfully updated.</font></p>
[% END %]
<p style="text-align: right; padding-bottom: 5px;"><a href="/app/ad/edit/?id=-1">Create a New Ad</a></span></p>
<table class="list">
<tr class="list_header">
<td>&nbsp;&nbsp;Ad&nbsp;&nbsp;</td><td>Text</td>
[% IF root == 1 %]
<td>Creator</td>
[% END %]
<td>Creation Time</td>
<td>Active&nbsp;&nbsp;</td>
<td>Edit</td>
</tr>
[% FOREACH ad = ads %]
  <tr class="[% IF loop.index % 2 %]lite[% ELSE %]dark[% END %]">
	
  <td style="color: #639D63">&nbsp;&nbsp;
<a href="/app/ad/edit/?id=[% ad.id %]">[% ad.id %]</a></td>
<td>[% ad.text %]</a></td>
[% IF root == 1 %]
  <td>[% ad.email %]
[% END %]

<td>[% ad.cts %]</td>

<td style="text-align: center;">[% IF ad.active %]Yes[% ELSE %]No[% END %]</td>
<td><a href="/app/ad/edit/?id=[% ad.id %]">Edit</a></td>
</tr>
[% END %]
</table>
</div>
</div>
[% INCLUDE footer.tmpl %]
