[% PROCESS header.tmpl title="Silver Lining Dashboard:  Edit Branding Image Ad Zone"  selected="adcenter" %]

<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>[% PROCESS ad/bugs/nav.tmpl %]<li>Edit <strong>'[% ad_zone.name %]'</strong> Branding Image</li></ul>
		</div>
	</div>
</div>
<div class="clear"></div>


[% IF req.param('image_href') or ad_zone.image_href %]
    <!-- BANNER PREVIEW -->
	   <div class="grid_16">
			<div id="banner_preview">
	   		 <div id="banner"><img src="[% req.param('image_href') or ad_zone.image_href %]"></div>
			<div class="clear"></div>
			</div>
		</div>	
[% END %]


<form class="form row" method="POST" action="[% base_uri %]/app/ad/bugs/edit">

<div id="main_content" class="grid_10 suffix_1">
	<h2>Edit '[% ad_zone.name %]' Branding Image</h2>

		<!-- Errors -->
		[% IF errors.missing %]<p class="error">Please fill in the missing fields</p>[% END %]
		[% IF errors.invalid %]<p class="error">Some fields were invalid, please correct them</p>[% END %]

		<ul class="form row"> 
			<li>
				<!-- name -->
				<div class="grid_6 alpha omega suffix_4">
					<label for="name" class="[% IF errors.missing.name %]error[% END %]">Branding Image Name</label>
					<input type="text" name="name" size="30" value='[% req.param('name') or ad_zone.name %]' />
				    <div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>


        [% PROCESS ad/banner.tmpl type="Branding" %]



			<li>
			<input type="hidden" name="id" value="[% ad_zone.ad_zone_id %]">
			</li>
		</ul>
</div>


[% PROCESS ad/advanced.tmpl type="Branding Image" %]


<div class="grid_16">
	<ul class="form">
		<li>
		   <input type="submit" value="Save Branding Image" />
		</li>
	</ul>
</div>

</form>

[% PROCESS footer.tmpl %]
