[% PROCESS header.tmpl title="Silver Lining Dashboard:  Create or Edit Image Bug" %]
[% PROCESS left.tmpl %]

<div id="list_center">
	<div class="content">

<h2>[% PROCESS ad/bugs/nav.tmpl %] > 
[% UNLESS bug.bug_id  %]New branding image[% ELSE %]Edit existing branding image[% END %]</h2>

<hr class="sl_line">

<div id="edit_form">

<table class="edit"> 


<tr><td colspan="2">
[% IF bug.bug_id %]
	<h2>Edit existing branding image</h2>
[% ELSE %]
<h2>Create a new branding image</h2></td></tr>
[% END %]
</td></tr>


[% IF errors.missing %]
<tr><td colspan="2">
<font color="red">Please complete the missing fields</font>
</td></tr>
[% END %]

[% IF errors.invalid %]
<tr><td colspan="2">
<font color="red">Some fields were invalid, please correct them</font>
</td></tr>
[% END %]


<tr><td colspan=2><hr class="sl_line"></td></tr>

<form method="POST" action="[% base_uri %]/app/ad/bugs/edit">

[% IF bug.bug_id %]
<input type="hidden" name="id" value="[% bug.bug_id %]">
[% END %]




<!-- image_href -->
[% IF errors.missing.image_href or errors.invalid.image_href%]<font color="red">

<tr><td colspan="2">
[% IF errors.missing.image_href or errors.invalid.image_href%]<font color="red">
[% IF req.param('ad_size_id') or bug.ad_size_id %]
- Image must match the ad zone type dimensions shown in the select box<br />
[% END %]
- Image must be less than 20,480 bytes (20k) in size<br />
- Image should be .png format for best results<br />
[% END %]
</td></tr>
[% END %]

<tr><td>
[% IF errors.missing.image_href or errors.invalid.image_href%]<font color="red">
[% END %]
Branding image location:
[% IF errors.missing.image_href or errors.invalid.image_href %]</font>[% END %]
</td>

<td><input type="text" name="image_href" size="50" maxlength="512" value="
[% req.param('image_href') or bug.image_href or 'http://' %]">
</td></tr>

<tr><td colspan=2><font color="#CCCCCC">
Example http://www.silverliningnetworks.com/images/silver-lining-ad-bar.gif
</font></td></tr>

[% IF req.param('image_href') or bug.image_href %]
<tr><td colspan=2>
<img border="1" src="[% req.param('image_href') or bug.image_href %]">
</td></tr>
[% END %]

<!-- end image_href -->



<tr><td colspan=2><hr class="sl_line"></td></tr>





<!-- link_href -->

<tr><td>
[% IF errors.missing.link_href or errors.invalid.link_href %]<font color="red">
[% END %]
Branding image links to:
[% IF errors.missing.link_href or errors.invalid.link_href %]</font>[% END %]
</td>

<td>
<input type="text" name="link_href" size="50" maxlength="512" value="[% req.param('link_href') or bug.link_href or 'http://' %]">
</td></tr>

<tr><td colspan=2><font color="#CCCCCC">
Example http://www.silverliningnetworks.com/?referer=silverlining</font></td></tr>

[% IF bug.link_href %]
<tr><td colspan=2><a href="[% bug.link_href %]">Branding image link</a></td></tr>[% END %]
<!-- end link_href -->

<tr><td colspan=2><hr class="sl_line"></td></tr>


<!-- ad_size -->
<tr><td colspan=2>
[% IF errors.missing.ad_size_id %]<font color="red">[% END %]
Ad zone type associated with this branding image:&nbsp;&nbsp;
[% IF errors.missing.ad_size_id %]</font>[% END %]
<select name="ad_size_id">

<option value="" [% IF ! bug.ad_size_id and req.param('ad_size_id') == '' %]SELECTED[% END %]>Select Ad Format</option>

[% FOREACH ad_size = ad_sizes %]

[% IF ! req.param('ad_size_id') %]
<option value="[% ad_size.ad_size_id %]" [% IF bug.ad_size_id.ad_size_id == ad_size.ad_size_id %]SELECTED[% END %]>[% ad_size.name %] - image [% ad_size.bug_width %]px wide x [% ad_size.bug_height %]px tall</option>

[% ELSIF req.param('ad_size_id') %]
<option value="[% ad_size_id.ad_size_id %]" [% IF req.param('ad_size_id') == ad_size.ad_size_id %]SELECTED[% END %]>[% ad_size.name %] - image [% ad_size.bug_width %]px wide x [% ad_size.bug_height %]px tall</option>
[% END %]

[% END %]
</select>
</td></tr>

<tr><td colspan=2>
<font color="#CCCCCC">Choose the ad zone type which this image is associated with.</font>
</td></tr>



<tr><td colspan=2><hr class="sl_line"></td></tr>
<tr><td><input type="submit" value="Save"></td></tr>
</form>
</table>

</div>
</div>
</div>

[% PROCESS footer.tmpl %]
