[% PROCESS header.tmpl title="Silver Lining Dashboard:  Edit Branding Image Ad Zone"  selected="adcenter" %]

<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>[% PROCESS ad/bugs/nav.tmpl %]<li>Edit <strong>'[% ad_zone.name %]'</strong></li></ul>
		</div>
	</div>
</div>
<div class="clear"></div>





<form  method="POST" action="[% base_uri %]/app/ad/bugs/edit">

<div id="main_content" class="grid_10 suffix_1">
	<h2>Edit '[% ad_zone.name %]'</h2>

	<!-- Errors -->
    [% IF image_err %]<p class="error">[% IF image_err.missing %]No image was found at [% req.param('image_href' ) %][% ELSE %]The image must be 120 pixels wide by 90 pixels tall, yours was [% image_err.width %] pixels wide by [% image_err.height %] pixels tall</p>[% END %][% END %]
	[% IF errors.missing %]<p class="error">Please fill in the missing fields</p>[% END %]
	[% IF errors.invalid %]<p class="error">Some fields were invalid, please correct them</p>[% END %]



		<ul class="form"> 
			<li>
            [% PROCESS ad/name.tmpl type="Branding Image" %]
			</li>


            [% PROCESS ad/banner.tmpl type="Branding Image" %]

		</ul>

		<!-- BANNER PREVIEW -->
		<p id="branding">
			<strong>Preview:</strong>
		[% IF !req.param('image_href') && (ad_zone.image_href != ' ') %]
			<a href="[% req.param('image_link') or ad_zone.image_link %]">
				<img src="[% req.param('image_href') or ad_zone.image_href %]">
			</a>
		[% ELSE %]
			<a href="http://www.silverliningnetworks.com/?referer=dashboard_example">
				<img src="[% base_uri %]/resources/images/ads/sln/120x90.gif">
			</a>
		[% END %]
	 		<span class="block">120px by 90px</span>
	 		<span class="block">(IAB Button 1)</span>
		</p>

	
	<div class="clear"></div>
</div>


[% PROCESS ad/advanced.tmpl type="Branding Image" %]


<div class="grid_16">
	<ul class="form">
		<li>
			<input type="hidden" name="id" value="[% ad_zone.ad_zone_id %]">
		   <input type="submit" value="Save Branding Image" />
		</li>
	</ul>
</div>

</form>

[% PROCESS footer.tmpl %]
