[% PROCESS header.tmpl %]
[% PROCESS left.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS ad/bugs/nav.tmpl %]</h2>
<p>This page is for managing <b>image bugs</b>.</p>
<p>Image bugs are images which can be associated with <b><a href="[% base_uri %]/app/ad/groups/index">ad groups</a></b>.
</p>
<p>
  <ul>
  <li><a href="[% base_uri %]/app/ad/bugs/edit">Add a new bug</a></li>
  <li><a href="[% base_uri %]/app/ad/bugs/list">View existing bugs</a></li>
  </ul>
</p>
</div>
</div>
[% PROCESS footer.tmpl %]