[% PROCESS header.tmpl %]
[% PROCESS left.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS ad/bugs/nav.tmpl %] > <a href="[% base_uri %]/app/ad/bugs/list">[% count %] Bugs Total</a></h2>

[% IF session.msg %]
<tr><td colspan=2><hr size=1 color="#CCCCCC" width=600px></td></tr>
<tr><td><font color="red">[% session.msg %]</td></tr>
[% END %]

<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>

<p style="text-align: left; padding-bottom: 5px;">
<a href="[% base_uri %]/app/ad/bugs/edit">Create a New Bug Image</a></span></p>
<table class="list">
<tr class="list_header">
<td>Name</td>
<td>Image</td>
<td>Active</td>
</tr>
[% FOREACH bug = bugs %]
  <tr class="[% IF loop.index % 2 %]lite[% ELSE %]dark[% END %]">
	
  <td style="color: #639D63">&nbsp;&nbsp;
<!-- name -->
<a href="[% base_uri %]/app/ad/bugs/edit/?id=[% bug.bug_id %]">[% bug.name or 'unnamed' %]</a></td>

<!-- image href -->
<td class="[% IF loop.index % 2 %]el_lite_left[% ELSE %]el_dark_left[% END %]">
<a href="[% bug.link_href %]"><img src="[% bug.image_href %]"></a></td>

<!-- active -->
<td class="[% IF loop.index % 2 %]el_lite_left[% ELSE %]el_dark_left[% END %]">
[% IF bug.active %]Yes[% ELSE %]No[% END %]</td>

</tr>
[% END %]
</table>
</div>
</div>
[% PROCESS footer.tmpl %]
