[% PROCESS header.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS ad/adgroups/nav.tmpl %]</h2>
<p>This page is for associated <b>ads</b> with <b>ad groups.</b></p>
<p>Create new ad to ad group associations or edit existing associations.</p>
<p>
<ul>
  <li><a href="[% base_uri %]/app/ad/adgroups/edit">Add a new association</a></li>
  <li><a href="[% base_uri %]/app/ad/adgroups/list">View existing associations</a></li>
  </ul>
</p>
</div>
</div>
[% PROCESS footer.tmpl %]

