[% PROCESS header.tmpl title="Silver Lining Dashboard:  Add or edit ad zone" selected="adcenter"  %]
<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>[% PROCESS ad/nav.tmpl %]<li><strong>Twitter Feed</strong></li></ul>
		</div>
	</div>
</div>
<div class="clear"></div>


<div id="main_content" class="grid_10 suffix_1">	
	<h2>Twitter Feed Message Bar</h2>

	<form class="form row" method="post" action="[% base_uri %]/app/ad/twitter/index">
		<!-- ERRORS -->
		[% IF errors.missing %]	<p class="error">Please input a Twitter User Name</p>[% END %]
		[% IF errors.invalid %]	<p class="error">The Twitter User Name you submitted is invalid</p>[% END %]	
		
		<ul> 
			<li>
				<div class="grid_6 alpha omega suffix_4">
					<!-- email -->
					<label for="twitter_id" class="[% IF errors.missing.twitter_id or errors.invalid.twitter_id %]error[% END %]">Twitter user name</label>
					<input type="text" name="twitter_id" id="twitter_id" size="32" value='[% req.param('twitter_id') or reg.account.twitter_id %]' />
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>		
			
			<li>
				<input type="checkbox" name="sweep" id="sweep" /> <label class="check_label" for="sweep">Activate the Twitter Feed on all devices </label>
				<div class="clear"></div>
				<label class="tip" for="sweep">(this will reset all existing ad bar settings)</label>
			</li>	
			<li>
				<input type="submit" value="Save Twitter Feed" />
				<div class="clear"></div>
			</li>
		</ul>
	</form>
</div>

<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
			<!-- TWITTER FEED -->
			[% IF  !errors.invalid.twitter_id %]
				<h3 class="twitter_header">[% req.param('twitter_id') or reg.account.twitter_id %]</h3>
				<div id="twitter_div">
					<p id="twitter_update_list"></div>
				</div>	
			<script type="text/javascript" src="http://s2.slwifi.com/js/blogger.js"></script>
			<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/[% req.param('twitter_id') or reg.account.twitter_id %].json?callback=twitterCallback2&count=1"></script>	
			[% END %]			
		</div>
	</div>
</div>

[% PROCESS footer.tmpl %]
