<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/zendesk.css" />
  <link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/triple_a.css" />
  <!--[if IE 6]><link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/triple_a_ie6.css" /><![endif]--> 
  <!--[if IE 7]><link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/triple_a_ie7.css" /><![endif]-->
  <link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/thickbox.css" />
  <title>Checkout: Payment Page - Silver Lining Networks</title>
</head>
<body id="sln">

<!-- TOP SECTION START #################### -->
	<div id="section_one">
		<div class="center">
			<!-- CHOOSE WIFI COPY ************************ --> 
			<div class="two_thirds left padding_top">
				<h2>Purchase WiFi Internet Access</h2>
				<p>
				<strong>You're almost there.</strong>
				Please fill out the form below to purchase ad free high speed WiFi service.  				
				 </p>

			
			</div>

			<!-- LOGO ************************ --> 
			<div class="one_third right">
                [% PROCESS auth/form/aircloud_logo.tmpl %]
            </div>

			<div class="clear"></div>
		</div>
	</div>

	
    <!-- BODY SECTION START ######################################### -->
    [% PROCESS auth/form/bodywrapper_top.tmpl %]

        <!-- MAIN COLUMN ######## -->
        [% PROCESS auth/form/paperbox_top.tmpl %]

         <h2 class="header">Takes less than a minute</h2>

         <!-- PAYMENT FORM -->
         <form id="sl_payment" action="[% base_uri %]/auth/paid" method="post">
         <input type="hidden" name="plan" value="[% req.param('plan') %]">

                        <dl id="form_list">
[% IF errors.payment %]
<dd><font color="red">[% errors.payment %]</font></dd>
[% ELSIF errors.invalid %]
<dd><font color="red">Some fields were invalid, please correct them</font></dd>
[% ELSIF errors.missing %]
<dd><font color="red">Please complete the missing fields</font></dd>
[% END %]

                                <dd class="subtle"><em>All fields required</em></dd>
                                
                                [% PROCESS auth/form/name.tmpl %]
                                [% PROCESS auth/form/user_info.tmpl nopass=1 %]
                                [% PROCESS auth/form/creditcard.tmpl %]
                                [% PROCESS auth/form/address.tmpl ziponly=ziponly %]
                                [% PROCESS auth/form/submit_button.tmpl %]

                                <input type="hidden" name="mac" value="[% req.param('mac') %]" />
                                <input type="hidden" name="url" value="[% req.param('url') %]" />
                       </dl>
                </form>

        [% PROCESS auth/form/paperbox_bottom.tmpl %]
        <!-- END MAIN COLUMN -->

        <!-- SIDE COLUMN ##### -->
        <div class="one_third left">
            [% PROCESS auth/form/sidebar.tmpl %]
        </div>
        <!-- END SIDE COLUMN ##### -->

        [% PROCESS auth/form/bodywrapper_bottom.tmpl %]

        <!-- END BODY SECTION ######################################### -->

        <!-- PLEDGE -->

        [% PROCESS auth/form/our_pledge.tmpl %]

        [% # PROCESS auth/form/coupon.tmpl %]

  <script src="[% base_uri %]/resources/js/simple_validation.js" type="text/javascript"></script>


[% PROCESS zendesk.tmpl %]

</body>
</html>
