Dear [% req.param('first_name') %],

Thank you for purchasing WiFi Internet access with [% network_name %].

Billed To:
[% req.param('first_name') %] [% req.param('last_name') %]
[% IF ziponly %]Zip Code: [% req.param('zip') %][% ELSE %]
[% req.param('street') %]
[% req.param('city') %], [% req.param('state') %] [% req.param('zip') %][% END %]

----------------------Purchase Receipt ---------------------
Description: [% IF !ziponly %]Monthly [% network_name %] WiFi Internet Access [% ELSE %][% plan %] WiFi Internet Access[% END %]
Date: [% date %]
Order Number: [% code %]
Provider: [% network_name %]
Total Cost: [% IF !ziponly %]$[% END %][% amount %]
-------------------------------------------------------------------------
[% IF !ziponly %]
Your credit card will be charged $[% amount %] once a month until you
cancel your subscription.
[% END %]

PLEASE RETAIN THIS FOR YOUR RECORDS

Silver Lining Networks Inc.
- If you have questions please contact us at support@silverliningnetworks.com
- For information regarding use of WiFi, please read our terms of service
