Dear [% fname %],

Thank you for purchasing WiFi Internet access with Silver Lining Networks.

Billed To:
[% fname %] [% lname %]
[% street %]
[% city %], [% state %] [% zip %]

----------------------Purchase Receipt ---------------------
Description: [% plan %] WiFi Internet Access
Date: [% date %]
Order Number: [% authorization_code %]
Provider: [% network_name %]
-------------------------------------------------------------------------

Total Cost: [% amount %]

PLEASE RETAIN THIS FOR YOUR RECORDS

Silver Lining Networks Inc.
- If you have questions please contact us at support@silverliningnetworks.com
- For information regarding use of WiFi, please read our terms of service
