ServerRoot           [% cfg.sl_httpd_root %]
ServerAdmin          [% cfg.sl_admin %]
ServerSignature      Off
ServerTokens         Prod
PidFile              [% cfg.sl_root %]/tmp/sl_cp.pid
DocumentRoot         [% cfg.sl_root %]/htdocs
TypesConfig          [% cfg.sl_root %]/conf/mime.types
User                 [% cfg.sl_apache_user %]
Group                [% cfg.sl_apache_group %]
KeepAlive            On
MaxKeepAliveRequests 100
KeepAliveTimeout     300
MinSpareServers      4
MaxSpareServers      8
StartServers         24
LogLevel             [% cfg.sl_apache_loglevel %]
MaxClients           128
ErrorLog             [% cfg.sl_root %]/logs/httpd_cp_error_log
TransferLog          [% cfg.sl_root %]/logs/httpd_cp_access_log
MaxRequestsPerChild  100
LogFormat "%h %t (%{User-agent}i) %{Host}i \"%r\" %>s %b %{SL_URL}e %{SL_TIMER}e %D"
UseCanonicalName     Off
HostNameLookups      Off
Timeout              300
AllowEncodedSlashes On

Listen [% cfg.sl_gateway_ip %]:[% cfg.sl_apache_listen %]

ServerName [% cfg.sl_servername %]

ErrorDocument        404  /errors/404.html
ErrorDocument        500  /errors/500.html

LoadModule perl_module   modules/mod_perl.so
LoadModule apreq_module  modules/mod_apreq2.so
PerlPostConfigRequire "[% cfg.sl_root %]/conf/startup.pl"

PerlPostReadRequestHandler Apache2::Const::OK
#PerlTransHandler Apache2::Const::OK

<Location /errors>
	Sethandler default-handler
</Location>

<Location />
    SetHandler modperl
    PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlTypeHandler         Apache2::Const::OK
    PerlFixupHandler        Apache2::Const::OK
    PerlResponseHandler SL::CP
</Location>

<Location /ads>
    SetHandler modperl
    PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlTypeHandler         Apache2::Const::OK
    PerlFixupHandler        Apache2::Const::OK

    PerlResponseHandler SL::CP->ads
</Location>

<Location /paid>
    SetHandler modperl
    PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlTypeHandler         Apache2::Const::OK
    PerlFixupHandler        Apache2::Const::OK

    PerlResponseHandler SL::CP->paid
</Location>

<Location /upgrade>
    SetHandler modperl
    PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlTypeHandler         Apache2::Const::OK
    PerlFixupHandler        Apache2::Const::OK

    PerlResponseHandler SL::CP->upgrade
</Location>
 


<Directory />
    AllowOverride none
</Directory>

