ServerRoot           [% cfg.sl_root %]
ServerAdmin          [% cfg.sl_admin %]
ServerSignature      Off
ServerTokens         Prod
PidFile              [% cfg.sl_root %]/tmp/sl.pid
DocumentRoot         [% cfg.sl_root %]/htdocs
TypesConfig          [% cfg.sl_root %]/conf/mime.types
User                 [% cfg.sl_apache_user %] 
Group                [% cfg.sl_apache_group %]
KeepAlive            [% cfg.sl_apache_keepalive %]
MaxKeepAliveRequests 0
KeepAliveTimeout     300
ServerLimit          512
MinSpareServers      [% cfg.sl_apache_min_spare_servers %]
MaxSpareServers      [% cfg.sl_apache_max_spare_servers %]
StartServers         [% cfg.sl_apache_start_servers %]
LogLevel             [% IF cfg.sl_debug %]debug[% ELSE %]warn[% END %]
MaxClients           [% cfg.sl_apache_maxclients %]
ErrorLog             [% cfg.sl_root %]/logs/error_log
TransferLog          [% cfg.sl_root %]/logs/access_log
MaxRequestsPerChild  [% cfg.sl_apache_max_requests_per_child %]
LogFormat "%h %t (%{User-agent}i) %{Host}i \"%r\" %>s %b %{SL_URL}e %{SL_TIMER}e %D"
UseCanonicalName     Off
HostNameLookups      Off
Timeout              300
AllowEncodedSlashes On

Listen [% cfg.sl_apache_listen %]

ServerName           [% cfg.sl_apache_servername %]

ErrorDocument 500 "Whoops, an error has occurred.  Our systems support team has been notified, but you can email [% cfg.sl_admin %] for help."

LoadModule perl_module        modules/mod_perl.so
LoadModule apreq_module        modules/mod_apreq2.so

PerlPostConfigRequire "[% cfg.sl_root %]/conf/startup.pl"

[% IF cfg.sl_debug %]
# Apache::Reload for development.
PerlLoadModule       Apache2::Reload
PerlInitHandler      Apache2::Reload
PerlSetVar ReloadAll Off
PerlSetVar ReloadModules "SL::*"
PerlSetVar ReloadModules "WebService::*"
[% END %]

PerlPassEnv          SL_DEBUG
PerlPassEnv          SL_PROXY_DEBUG
PerlPassEnv          SL_VERBOSE_DEBUG
PerlPassEnv          SL_TIMING

# handle dummy connections then security
PerlPostReadRequestHandler Apache2::Connection::XForwardedFor 
#PerlMapToStorageHandler    Apache2::Const::OK
#PerlTransHandler           Apache2::Const::OK


<Location />
    SetHandler          modperl
    PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
#    PerlTypeHandler         Apache2::Const::OK
    PerlFixupHandler        SL::Search::Apache2->cookie_monster
    PerlResponseHandler     SL::Search::Apache2->handler
</Location>

<Location /search>
    SetHandler          modperl
    PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlTypeHandler         Apache2::Const::OK
    PerlFixupHandler        SL::Search::Apache2->cookie_monster
    PerlResponseHandler     SL::Search::Apache2->search
</Location>

<Location /tos>
    SetHandler          modperl
    PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlTypeHandler         Apache2::Const::OK
    PerlFixupHandler        SL::Search::Apache2->cookie_monster
    PerlResponseHandler     SL::Search::Apache2->tos
</Location>

<Location /resources>
    SetHandler default-handler
</Location>

<Directory />
    AllowOverride None
</Directory>

[% IF cfg.sl_status %]
<Location /sl_secret_status>
	SetHandler modperl
    PerlHandler Apache2::Status
    PerlSetVar StatusOptionsAll On
</Location>
[% END %]
