<VirtualHost [% cfg.sl_apache_vhost %]>

DocumentRoot "/var/www/search.slwifi.com"
ServerAdmin          [% cfg.sl_admin %]
ServerName           [% cfg.sl_apache_servername %]
ServerSignature      Off

LogLevel             [% IF cfg.sl_debug %]debug[% ELSE %]warn[% END %]
ErrorLog             [% cfg.sl_apache_log_dir %]/[% cfg.sl_apache_servername %]_error_log
TransferLog          [% cfg.sl_apache_log_dir %]/[% cfg.sl_apache_servername %]_access_log
LogFormat "%h %t (%{User-agent}i) %{Host}i \"%r\" %>s %b %{SL_URL}e %{SL_TIMER}e %D"
UseCanonicalName     Off
HostNameLookups      Off
Timeout              300
AllowEncodedSlashes On


ErrorDocument 500 "Whoops, an error has occurred.  Our systems support team has been notified, but you can email [% cfg.sl_admin %] for help."

# load Apache2::Request
LoadModule apreq_module        modules/mod_apreq2.so

PerlPostConfigRequire "[% cfg.sl_root %]/startup.pl"

[% IF cfg.sl_debug %]
# Apache::Reload for development.
PerlLoadModule       Apache2::Reload
PerlInitHandler      Apache2::Reload
PerlSetVar ReloadAll Off
PerlSetVar ReloadModules "SL::* WebService::*"
[% END %]

PerlPassEnv          SL_DEBUG
PerlPassEnv          SL_PROXY_DEBUG
PerlPassEnv          SL_VERBOSE_DEBUG
PerlPassEnv          SL_TIMING

# handle dummy connections then security
#PerlPostReadRequestHandler Apache2::Connection::XForwardedFor 
PerlPostReadRequestHandler Apache2::Const::OK
PerlMapToStorageHandler    Apache2::Const::OK
PerlTransHandler           Apache2::Const::OK

<Location />
    SetHandler          modperl
    PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlResponseHandler     SL::Search::Apache2->handler
</Location>

<Location /search>
    SetHandler          modperl
    PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlTypeHandler         Apache2::Const::OK
    PerlFixupHandler        SL::Search::Apache2->cookie_monster
    PerlResponseHandler     SL::Search::Apache2->search
    PerlLogHandler          SL::Search::Apache2->log_handler
</Location>

<Location /tos>
    SetHandler          modperl
    PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlTypeHandler         Apache2::Const::OK
    PerlFixupHandler        SL::Search::Apache2->cookie_monster
    PerlResponseHandler     SL::Search::Apache2->tos
</Location>

<Location /resources>
    SetHandler default-handler
</Location>

<Directory />
    AllowOverride None
</Directory>

[% IF cfg.sl_status %]
<Location /sl_secret_status>
	SetHandler modperl
    PerlHandler Apache2::Status
    PerlSetVar StatusOptionsAll On
</Location>
[% END %]

</VirtualHost>
