#sl_top {
    z-index: 99;
    background-color: white;
	position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
/*   border: solid 1px black; */
}
p.sl {
/*    border: solid 1px black;  */
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.sl_textad_text {
	position: absolute;
	top: 17px;
	left: 150px;
	vertical-align: 50%;
    font-weight: bold;
    font-family: Trebuchet;
    color: #0033FF;
}

#sl_ctr {
    position: relative;
    top: 70px;
	margin-top: 0px
}

