ServerRoot           [% cfg.sl_httpd_root %]
ServerAdmin          [% cfg.sl_admin %]
ServerSignature      Off
ServerTokens         Prod
PidFile              [% cfg.sl_root %]/tmp/sl_proxy.pid
DocumentRoot         [% cfg.sl_root %]/htdocs
TypesConfig          [% cfg.sl_root %]/conf/mime.types
User                 [% cfg.sl_apache_user %] 
Group                [% cfg.sl_apache_group %]
KeepAlive            [% cfg.sl_apache_keepalive %]
MaxKeepAliveRequests 0
KeepAliveTimeout     300
ServerLimit          768
MinSpareServers      [% cfg.sl_apache_min_spare_servers %]
MaxSpareServers      [% cfg.sl_apache_max_spare_servers %]
StartServers         [% cfg.sl_apache_start_servers %]
LogLevel             [% cfg.sl_apache_loglevel %]
MaxClients           [% cfg.sl_apache_maxclients %]
ErrorLog             [% cfg.sl_root %]/logs/httpd_error_log
TransferLog          [% cfg.sl_root %]/logs/httpd_access_log
MaxRequestsPerChild  [% cfg.sl_apache_max_requests_per_child %]
LogFormat "%h %t (%{User-agent}i) %{Host}i \"%r\" %>s %b %{SL_URL}e %{SL_TIMER}e %D"
UseCanonicalName     Off
HostNameLookups      Off
Timeout              300
AllowEncodedSlashes On
#ProxyVia On # don't enable this

Listen [% cfg.sl_apache_listen %]
<IfModule mod_proxy.c>
    # If mod_proxy is used for proxy forwarding
    ProxyRequests On
	
    <IfModule mod_cache.c>
        <IfModule mod_mem_cache.c>
            CacheEnable mem /
			# /ig is for igoogle.com, disable
			CacheDisable /ig
            MCacheSize 524288
            MCacheMaxObjectCount 4096
            MCacheMinObjectSize 1
            MCacheMaxObjectSize 8192
        </IfModule>
    </IfModule>
</IfModule>

ServerName           [% cfg.sl_servername %]
ErrorDocument        404	/404.html
ErrorDocument        500 /500.html

LoadModule perl_module        modules/mod_perl.so

[% IF cfg.sl_prof %]
<Perl>
    require Apache::DB;
    Apache::DB->init;
</Perl>
PerlModule Apache::DProf
[% END %]

PerlPassEnv SL_ROOT
PerlPostConfigRequire "[% cfg.sl_root %]/conf/startup.pl"

PerlSetVar data_root "[% cfg.sl_root %]/data"

[% IF cfg.sl_devel %]
# Apache::Reload for development.
PerlModule           Apache2::Reload
PerlInitHandler      Apache2::Reload
PerlSetVar           ReloadAll On
PerlSetVar           ReloadDirectories "[% cfg.sl_root %]/lib"
[% END %]

PerlPassEnv          SL_DEBUG
PerlPassEnv          SL_VERBOSE_DEBUG
PerlPassEnv          SL_TIMING
PerlSetVar           SLRateLimit "[% cfg.sl_rate_limit %]"

# handle dummy connections then security
PerlMapToStorageHandler    Apache2::Const::OK
#PerlTransHandler SL::Apache::Proxy::TransHandler

<Location />
    SetHandler          modperl
 	PerlHeaderParserHandler Apache2::Const::OK
    PerlAccessHandler       Apache2::Const::OK
    PerlAuthenHandler       Apache2::Const::OK
    PerlAuthzHandler        Apache2::Const::OK
    PerlTypeHandler         Apache2::Const::OK
    PerlFixupHandler        Apache2::Const::OK
    PerlResponseHandler Apache2::Proxy->handler
</Location>

<Directory />
    AllowOverride None
</Directory>


