SHELL=/bin/bash
MAILTO=phred

# grab the latest configuration data once a day, five minutes after restart
5 0 * * * /usr/bin/perl /usr/sbin/sl_config_update

# check to make sure the tunnel is up
*/5 * * * * /usr/bin/perl /usr/sbin/sl_tunnel

# make sure the captive portal is running
* * * * *  /usr/bin/perl  /home/phred/sl/SL-CP/bin/sl_cp_watch

# bounce expired users every 5 minutes
*/5 * * * *  /usr/bin/perl  /home/phred/sl/SL-CP/bin/sl_cp_bouncer
