Dear [% fname %],

Your Silver Lining Networks account has been successfully processed.  A charge in the amount of $[% amount %] will appear on your credit card every 30 days.  Please contact support@silverliningnetworks.com if you need to make a change to your subscription.  Thank you for using Silver Lining Networks.

Billed To:
[% fname %] [% lname %]
[% street %]
[% city %], [% state %] [% zip %]

----------------------Purchase Receipt ---------------------
Plan: [% $plan FILTER ucfirst %%] Network Operator Account for $[% amount %] per month.
Date: [% date %]
Order Number: [% authorization_code %]
-------------------------------------------------------------------------

PLEASE RETAIN THIS FOR YOUR RECORDS

Silver Lining Networks Inc.
- If you have questions please contact us at support@silverliningnetworks.com
- For information regarding use of WiFi, please read our terms of service
