Dear [% req.param('first_name') %],

[% IF !order_number %]Thank you for registering with Silver Lining Networks.  Most users are able to get up and running within a few minutes of creating their account.
[% ELSIF order_number %]Your Silver Lining Networks account has been successfully created.  A charge in the amount of $[% amount %] will appear on your credit card every 30 days, starting on [% start_date %].  Please contact support@silverliningnetworks.com if you need to make a change to your subscription.  Thank you for using Silver Lining Networks.[% END %]

Please feel free to write us with any questions about the service at support@silverliningnetworks.com.

Sincerely,
Silver Lining Networks Support

[% IF order_number %]
Billed To:
[% req.param('first_name') %] [% req.param('last_name') %]
[% req.param('street') %]
[% req.param('city') %], [% req.param('state') %] [% req.param('zip') %]

----------------------Purchase Receipt ---------------------
Plan: [% $plan FILTER ucfirst %] Network Operator Account, $[% amount %]/month
Date: [% date %]
Order Number: [% order_number %]
-------------------------------------------------------------------------

PLEASE RETAIN THIS RECEIPT FOR YOUR RECORDS[% END %]

Silver Lining Networks Inc.
- If you have questions please contact us at support@silverliningnetworks.com
- Or open a ticket at http://support.silverliningnetworks.com/
- You may also give us a call at 888.334.6602 and we will return your call
- For information regarding use of WiFi, please read our terms of service
