    <ul id="payment_info">


        <li class="clear"><strong>[% PROCESS billing/publisher/prices.tmpl %]</strong>
            <ul>
                <li>Private Label: <strong>Yes</strong></li>
                <li>Ad Insertions Per Month: <strong>250,000</strong></li>
                <li>Ad Marketplace Revenue Share: <strong>70%</strong></li>
                <li>Cost Per Ad Insertion (CPMI): <strong>$1</strong></li>
            </ul>
        </li>


    </ul>
