ServerRoot           [% cfg.sl_root %]
ServerAdmin          support@slwifi.com
ServerSignature      Off
ServerTokens         Prod
PidFile              [% cfg.sl_root %]/tmp/sl_app.pid
DocumentRoot         [% cfg.sl_root %]/htdocs
TypesConfig          [% cfg.sl_root %]/conf/mime.types
User                 [% cfg.sl_app_apache_user %] 
Group                [% cfg.sl_app_apache_group %]
KeepAlive            [% cfg.sl_app_apache_keepalive %]
MaxKeepAliveRequests 0
KeepAliveTimeout     300
MinSpareServers      [% cfg.sl_app_apache_min_spare_servers %]
MaxSpareServers      [% cfg.sl_app_apache_max_spare_servers %]
StartServers         [% cfg.sl_app_apache_start_servers %]
LogLevel             [% IF cfg.sl_debug %]debug[% ELSE %]warn[% END %]
MaxClients           [% cfg.sl_app_apache_maxclients %]
ErrorLog             [% cfg.sl_root %]/logs/error_log
TransferLog          [% cfg.sl_root %]/logs/access_log
MaxRequestsPerChild  250
LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\""
UseCanonicalName     Off
HostNameLookups      Off
Timeout              300

Listen        [% cfg.sl_app_httpd_listen %]

ServerName           [% cfg.sl_app_servername %]
ErrorDocument        500	"An unrecoverable error occurred, please email support@slwifi.com for help."

LoadModule perl_module        modules/mod_perl.so
LoadModule apreq_module        modules/mod_apreq2.so

PerlOptions +GlobalRequest
PerlPassEnv SL_DEBUG
PerlPassEnv SL_TEST_MODE
PerlPassEnv DBIC_TRACE

PerlPostConfigRequire "[% cfg.sl_root %]/conf/startup_app.pl"

PerlSetVar data_root "[% cfg.sl_root %]/data"

[% IF cfg.sl_devel %]
# Apache::Reload for quick fixes
PerlModule           Apache2::Reload
PerlInitHandler      Apache2::Reload
PerlSetVar           ReloadAll Off
PerlSetVar ReloadModules "SL::*"
[% END %]

[% IF cfg.sl_prof %]
	PerlModule Apache::DProf
[% END %]

PerlPostReadRequestHandler SL::App::PostReadRequestHandler

PerlLoadModule Apache2::Dispatch

<Location "/robots.txt">
 SetHandler default-handler
</Location>


#BROKEN
# redirect / requests to base_uri
#<Location />
#    SetHandler modperl
#    PerlResponseHandler SL::App->dispatch_index
#</Location>

## the public facing page
## FIXME - apache dispatch bug
<Location />
	SetHandler modperl

    # dispatch directives
	DispatchPrefix SL::App
	[% IF dispatch_debug %]DispatchDebug [% dispatchdebug %][% END %]
	DispatchRequire On
	DispatchUpperCase On

	PerlResponseHandler Apache2::Dispatch
	PerlCleanupHandler Apache2::SizeLimit
</Location>

<Location /sl/css>
    SetHandler default-handler
</Location>

<Location /sl/img>
    SetHandler default-handler
</Location>

<Location /sl/resources>
    SetHandler default-handler
</Location>

<Location /sl/checkin>
    SetHandler modperl

	DispatchPrefix SL::App::Checkin

	DispatchRequire On
	DispatchUpperCase On

	PerlResponseHandler Apache2::Dispatch
</Location>


## the user application, need to be logged in
<Location  /sl/app>
	AuthType SL::App::CookieAuth
	AuthName [% cfg.sl_app_cookie_name %]
	SetHandler modperl
	PerlAuthenHandler SL::App::CookieAuth->authenticate
	PerlAuthzHandler Apache2::Const::OK
	require valid-user
</Location>



## method handlers for authentication and signup

<Location /sl/login>
	SetHandler modperl
	PerlResponseHandler SL::App::CookieAuth->login
</Location>

<Location /sl/logout>
	SetHandler modperl
	PerlResponseHandler SL::App::CookieAuth->logout
</Location>

<Location /sl/forgot>
	SetHandler modperl
	PerlResponseHandler SL::App::CookieAuth->forgot
</Location>

<Location /sl/signup>
	SetHandler modperl
	PerlResponseHandler SL::App::CookieAuth->signup
</Location>

<Location /sl/forgot/reset>
    SetHandler modperl
    PerlResponseHandler SL::App::CookieAuth->forgot_reset
</Location>

<Location /sl/splash>
    SetHandler modperl
    PerlResponseHandler SL::App::Ad::Splash->dispatch_splash
</Location>


## captive portal handler

<Location /sl/auth>
    SetHandler modperl
	PerlFixupHandler SL::App::CPAuthHandler
    PerlResponseHandler SL::App::CP->auth
</Location>

<Location /sl/auth/free>
    SetHandler modperl
    PerlResponseHandler SL::App::CP->free
</Location>

<Location /sl/auth/paid>
    SetHandler modperl
    PerlResponseHandler SL::App::CP->paid
</Location>

<Location /sl/auth/token>
    SetHandler modperl
    PerlResponseHandler SL::App::CP->token
</Location>

<Location /sl/auth/post>
    SetHandler modperl
    PerlResponseHandler SL::App::CP->post
</Location>

<Location /sl/auth/check>
    SetHandler modperl
    PerlResponseHandler SL::App::CP->check
</Location>

<Location /sl/auth/paypal_notify>
    SetHandler modperl
    PerlResponseHandler SL::App::CP->paypal_notify
</Location>

<Location /sl/auth/paypal_return>
    SetHandler modperl
    PerlResponseHandler SL::App::CP->paypal_return
</Location>

<Location /sl/billing>
	SetHandler modperl

    # dispatch directives
	DispatchPrefix SL::App::Billing
	[% IF dispatch_debug %]DispatchDebug [% dispatchdebug %][% END %]
	DispatchRequire On
	DispatchUpperCase On

	PerlResponseHandler Apache2::Dispatch
</Location>


## optimizations, mod_perl for speed freaks

<Directory />
    AllowOverride None
</Directory>

[% IF cfg.sl_proxy_deflate %]
Include [% cfg.sl_root %]/conf/deflate.conf
[% END %]
