ServerRoot           [% cfg.sl_httpd_root %]
ServerAdmin          fred@redhotpenguin.com
ServerSignature      Off
ServerTokens         Prod
PidFile              [% cfg.sl_app_root %]/tmp/sl_app.pid
DocumentRoot         [% cfg.sl_app_root %]/htdocs
TypesConfig          [% cfg.sl_app_root %]/conf/mime.types
User                 [% cfg.sl_app_apache_user %] 
Group                [% cfg.sl_app_apache_group %]
KeepAlive            [% cfg.sl_app_apache_keepalive %]
MaxKeepAliveRequests 0
KeepAliveTimeout     300
MinSpareServers      [% cfg.sl_app_apache_min_spare_servers %]
MaxSpareServers      [% cfg.sl_app_apache_max_spare_servers %]
StartServers         [% cfg.sl_app_apache_start_servers %]
LogLevel             [% cfg.sl_app_apache_loglevel %]
MaxClients           [% cfg.sl_app_apache_maxclients %]
ErrorLog             [% cfg.sl_app_root %]/logs/httpd_app_error_log
TransferLog          [% cfg.sl_app_root %]/logs/httpd_app_access_log
MaxRequestsPerChild  250
LogFormat "%h %l %u %t (%{User-agent}i) \"%r\" %>s %b"
UseCanonicalName     Off
HostNameLookups      Off
Timeout              300

Listen        [% cfg.sl_app_http_port %]

ServerName           [% cfg.sl_app_servername %]
ErrorDocument        404	/404.html
ErrorDocument        500	/500.html

LoadModule apreq_module        modules/mod_apreq2.so
LoadModule perl_module        modules/mod_perl.so

PerlPassEnv SL_DEBUG

PerlPostConfigRequire "[% cfg.sl_app_root %]/conf/startup_app.pl"

[% IF cfg.sl_debug %]
PerlRequire "[% cfg.sl_app_root %]/conf/db.pl"
[% END %]
PerlSetVar data_root "[% cfg.sl_app_root %]/data"

# Apache::Reload for quick fixes
PerlModule           Apache2::Reload
PerlInitHandler      Apache2::Reload
PerlSetVar           ReloadAll On
PerlSetVar ReloadModules "SL::*"

[% IF cfg.sl_prof %]
	PerlModule Apache::DProf
[% END %]

PerlPostReadRequestHandler SL::Apache::App::PostReadRequestHandler

PerlLoadModule Apache2::Dispatch

## the public facing page
## FIXME - apache dispatch bug
<Location />
	SetHandler modperl

    # dispatch directives
	DispatchPrefix SL::Apache::App
	[% IF dispatch_debug %]DispatchDebug [% dispatchdebug %][% END %]
	DispatchRequire On
	DispatchUpperCase On

	PerlResponseHandler Apache2::Dispatch
</Location>

<Location /css>
    SetHandler default-handler
</Location>

<Location /img>
    SetHandler default-handler
</Location>

<Location /resources>
    SetHandler default-handler
</Location>


## the user application, need to be logged in
<Location  /app>
	AuthType SL::Apache::App::CookieAuth
	AuthName [% cfg.sl_app_cookie_name %]
	SetHandler modperl
	PerlAuthenHandler SL::Apache::App::CookieAuth->authenticate
	PerlAuthzHandler Apache2::Const::OK
	require valid-user
</Location>



## method handlers for authentication and signup

<Location /login>
	SetHandler modperl
	PerlResponseHandler SL::Apache::App::CookieAuth->login
</Location>

<Location /logout>
	SetHandler modperl
	PerlResponseHandler SL::Apache::App::CookieAuth->logout
</Location>

<Location /forgot>
	SetHandler modperl
	PerlResponseHandler SL::Apache::App::CookieAuth->forgot
</Location>

<Location /signup>
	SetHandler modperl
	PerlResponseHandler SL::Apache::App::CookieAuth->signup
</Location>

<Location /forgot/reset>
    SetHandler modperl
    PerlResponseHandler SL::Apache::App::CookieAuth->forgot_reset
</Location>


## captive portal handler

<Location /auth>
    SetHandler modperl
    PerlResponseHandler SL::Apache::App::CP->auth
</Location>


<Location /auth/free>
    SetHandler modperl
    PerlResponseHandler SL::Apache::App::CP->free
</Location>


<Location /auth/paid>
    SetHandler modperl
    PerlResponseHandler SL::Apache::App::CP->paid
</Location>

<Location /auth/token>
    SetHandler modperl
    PerlResponseHandler SL::Apache::App::CP->token
</Location>


<Location /auth/post/paid>
    SetHandler modperl
    PerlResponseHandler SL::Apache::App::CP->post_paid
</Location>

<Location /auth/post/ad>
    SetHandler modperl
    PerlResponseHandler SL::Apache::App::CP->ad
</Location>


## optimizations, mod_perl for speed freaks

<Directory />
    AllowOverride None
</Directory>

[% IF cfg.sl_proxy_deflate %]
Include [% cfg.sl_app_root %]/conf/deflate.conf
[% END %]
