    <ul id="payment_info">

    <li><img class="repeater" src="[% base_uri %]/resources/images/billboard/repeater.png" alt="WiFi Router and Repeater" />
            <ul>
                <li><strong>Silver Lining Pre-installed</strong></li>
                <li><strong>Free Shipping</strong></li>
                <li><strong>Router Model MR3201A</strong></li>
                <li><strong><a href="http://www.open-mesh.com/">Open-Mesh.com</a> Mesh Networking</strong></li>
            </ul>
    </li>

        <li class="clear"><strong>Thank you for your business.</strong></li>

        [% PROCESS billing/authorize.tmpl %]

    </ul>
