[% PROCESS header.tmpl title="Silver Lining Dashboard:  Create or Edit ad for Group '$ad_group.name'"  %]
[% PROCESS left.tmpl %]

<div id="list_center">
	<div class="content">

<h2>[% PROCESS ad/groups/ads/nav.tmpl %] > <a href="[% base_uri %]/app/ad/groups/ads/list?ad_group_id=[% ad_group.id %]">Ad Group '[% ad_group.name %]'</a> > [% UNLESS ad_sl.ad_sl_id  %]Create New Ad[% ELSE %]Edit Existing Ad[% END %]</h2>
<hr class="sl_line">
<div id="edit_form">

<table class="edit"> 

<tr><td colspan=2>
	[% IF ad_sl.ad_sl_id %]
	<h2>Edit Existing Ad</h2>
[% ELSE %]
<h2>Create a New Ad</h2></td></tr>
[% END %]

[% IF errors.missing %]
<p><font color="red">Please complete the missing fields</font></p>
[% END %]
[% IF errors.invalid %]
<p><font color="red">Some fields were invalid, please correct them</font></p>
[% END %]
<tr><td colspan=2><hr class="sl_line"></td></tr>

<form method="POST" action="[% base_uri %]/app/ad/groups/ads/edit">
<input type="hidden" name="ad_sl_id" value="[% ad_sl.ad_sl_id %]">
<input type="hidden" name="ad_group_id" value="[% req.param('ad_group_id')  %]">

<!-- text -->
<tr><td>
[% IF errors.missing.text %]<font color="red">[% END %]
Ad Text:
[% IF errors.missing.text %]</font>[% END %]
</td>
<td><input type="text" name="text" size="50" maxlength="100" value='[% ad_sl.text or req.param('text') %]'></td></tr>
<tr><td colspan=2><font color="#CCCCCC">(100 character limit)</font></td></tr>
<tr><td colspan=2><hr class="sl_line"></td></tr>

<!-- uri -->
<tr><td>
[% IF errors.missing.uri %]<font color="red">[% END %]
Ad Links To:
[% IF errors.missing.uri %]</font>[% END %]
</td>
<td><input type="text" name="uri" size="50" maxlength="512" value="[% IF ad.id == -1 %]http://[% ELSE %][% ad_sl.uri %][% END %]"></td></tr>
<tr><td colspan=4><font color="#CCCCCC">
(example http://anywebsite.com/)</font></td></tr>
[% IF ad_sl.uri %]<tr><td colspan=2><a href="[% ad_sl.uri %]">Link</a></td></tr>[% END %]
<tr><td colspan=2><hr class="sl_line"></td></tr>

[% IF ad_sl.reg_id %]
<!-- creator -->
<tr><td colspan="2">Ad created by <b>[% ad_sl.reg_id.email %]</b></td></tr>
<tr><td colspan="2"><hr class="sl_line"></td></tr>
[% END %]

<!-- active -->
<tr><td>Active:</td>
<td>
Yes<input type="radio" name="active" value="1" [% IF ad_sl.ad_id.active == 1 ||  ! ad_sl.ad_sl_id %] checked [% END %]>
No<input type="radio" name="active" value="0" [% IF ad_sl.ad_id.active == 0 %] checked [% END %]></td></tr>
<tr><td colspan=3><font color="#CCCCCC">
Deactivating the ad removes it from the ad serving rotation.<br />To ensure consistency in reporting, ads cannot be deleted.
</font></td></tr>

<tr><td colspan=2><hr class="sl_line"></td></tr>
<tr><td><input type="submit" value="Save"></td></tr>
</form>
</table>
</div>
</div>
</div>

[% PROCESS footer.tmpl %]
