<p class="sl_textad">
<a style="text-decoration:none" href="http://h1.redhotpenguin.com:7777/click/4b0a3c9fa343bc654ad458d1b67704d9">
<img class="sl_textad" src="http://www.redhotpenguin.com/images/sl/free_wireless.gif"></a>
&nbsp;&nbsp;&nbsp;
<a style="text-decoration:none" href="http://h1.redhotpenguin.com:7777/click/20fa75c97f31aa72ae24cc7b571ca7c3">
<span class="sl_textad_text">Have a website? Earn money with LinkShare merchants.<span></a>
<hr style="border: 0; margin: 0; height: 1px; background-color: #666666; color: #f00;"></p>