[% PROCESS header.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS dashboard.tmpl %] > <a href="[% base_uri %]/app/ad/index">Manage Your Ads</a> > <a href="[% base_uri %]/app/ad/ads/index">Ads</a></h2>
<p>This page is for managing ads and ad groups.
  <ul>
  <li><a href="[% base_uri %]/app/ad/ads/edit">Add a new ad</a></li>
  <li><a href="[% base_uri %]/app/ad/ads/list">View existing ads</a></li>
  </ul>
</p>
</div>
</div>
[% PROCESS footer.tmpl %]