[% PROCESS header.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS ad/ads/nav.tmpl %]</h2>
<p>This page is for managing <b>ads</b>.</p>
<p>Ads are members of <b><a href="[% base_uri %]/app/ad/groups/index">ad groups</a></b>.  They are tracked in the reporting individually.</p>
<p>
  <ul>
  <li><a href="[% base_uri %]/app/ad/ads/edit">Add a new ad</a></li>
  <li><a href="[% base_uri %]/app/ad/ads/list">View existing ads</a></li>
  </ul>
</p>
</div>
</div>
[% PROCESS footer.tmpl %]