
[% PROCESS header.tmpl %]
[% PROCESS left.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS ad/ads/nav.tmpl %] > [% count %] Ads Total</h2>
<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>
[% IF session.msg %]
<tr><td colspan=2><hr size=1 color="#CCCCCC" width=600px></td></tr>
<tr><td><font color="red">[% session.msg %]</td></tr>
[% END %]

<p style="text-align: left; padding-bottom: 5px;"><a href="[% base_uri %]/app/ad/ads/edit">Create a New Ad</a></span></p>
<table class="list">
<tr class="list_header">
<td class="header">Ad</td>
<td class="header">Creator</td>
<td class="header">Active</td>
</tr>
[% FOREACH ad_sl = ad_sls %]

  <tr class="[% IF loop.index % 2 %]lite[% ELSE %]dark[% END %]">

<td class="[% IF loop.index % 2 %]el_lite_left[% ELSE %]el_dark_left[% END %]">
  <a href="[% base_uri %]/app/ad/ads/edit/?ad_sl_id=[% ad_sl.ad_sl_id %]">[% ad_sl.text %]</a></td>

<td class="[% IF loop.index % 2 %]el_lite_left[% ELSE %]el_dark_left[% END %]">
[% ad_sl.reg_id.email %]</td>

<td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
[% IF ad.active %]Yes[% ELSE %]No[% END %]</td>

</tr>
[% END %]
</table>
</div>
</div>
[% PROCESS footer.tmpl %]
