[% PROCESS header.tmpl title="Silver Lining Dashboard:  Create or edit router" selected="network"  %]
<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>[% PROCESS router/nav.tmpl %] <li><strong>Turn Ad Bar On/Off</strong></li></ul>
		</div>
	</div>
</div>
<div class="clear"></div>


<div id="main_content" class="grid_10 suffix_1">

	<h2>Turn Ad Bar On/Off for All Routers</h2>
	<div class="row">
		[% IF errors.missing %]<p class="error">Please choose On or Off</p>[% END %]
		<p>This master switch toggles the ad and messaging bar on <strong>ALL routers</strong>.</p>
		
		
		
		<form class="form" id="adbar" method="post" action="[% base_uri %]/app/router/adbar">
			<ul>
				<li>
					<div class="grid_6 alpha omega suffix_4">
						<label for="adbar">Ad Bar On/OFF</label>
						<select name="adbar" size="40">
							<option value="" selected="selected">On or Off?</option>
							<option value="t">On</option>
							<option value="f">Off</option>
						</select>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</li>		
				<li>
					<input id="submit" type="submit" value="Make it so"/>
					<div class="clear"></div>
				</li>
			</ul>
			
			<p>This change will take 5 to 15 minutes to take effect.  You may toggle adserving for individual routers on the edit router page.</p>
		</form>
	</div>
</div>

<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
				<h3>About ON/OFF Option</h3>
				<ul class="bullet_list">
					<li>Choosing <strong>"Off"</strong> will turn off the ad bar on every router.</li>
					<li>Choosing <strong>"On"</strong> will turn on the ad bar on every router.</li>
				</ul>
		</div>
	</div>
</div>



[% PROCESS footer.tmpl %]
