[% PROCESS header.tmpl title="Silver Lining Dashboard:  Create or edit router"  %]
[% PROCESS left.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS router/nav.tmpl %] > Turn Ad Bar On/Off</h2>
<hr class="sl_line">
<br />
<h1>Turn Ad Bar On/Off for All Routers</h1>
<div id="edit_form">

[% IF errors.missing %]
<p><font color="red">Please choose On or Off</font></p>
[% END %]

<p>This master switch toggles the ad and messaging bar on ALL routers.</p>
<ul>
<li>Choosing "Off" will turn off the ad bar on every router.</li>
<li>Choosing "On" will turn on the ad bar on every router.</li>
</ul>
<p>This change will take 5 to 15 minutes to take effect.  You may toggle adserving for individual routers on the edit router page.</p>
<br />

<div class="edit_form">
<form id="adbar" method="POST" action="[% base_uri %]/app/router/adbar">

<select name="adbar">
	<option value="" selected="selected">On or Off?</option>
<option value="t">On</option>
<option value="f">Off</option>
</select>
&nbsp;<input id="submit" type="Submit" value="Make it so">

</form>

</div>
</div>

</div>
[% PROCESS footer.tmpl %]
