[% PROCESS header.tmpl title="Silver Lining Dashboard:  Create or edit router"  selected="network" %]

<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>
				[% PROCESS router/nav.tmpl %] 

				<li><strong>[% UNLESS router.router_id  %]New router[% ELSE %]Edit router '[% router.name %]'[% END %]</strong></li>
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>

<form method="post" action="[% base_uri %]/app/router/edit">
<div id="main_content" class="grid_9 suffix_2">

[% IF !router && (reg.account_id.account_id !=2 ) %]
	<!-- IF TRYING TO ADD A NEW ROUTER -->
	<h3>Existing Customers</h3>
	<p>Learn about our brand new Silver Lining Repeaters. Our <a href="http://www.silverliningnetworks.com/store/">new repeaters are plug and play</a> and work out of the box!</p>
	<p>If you are already using one or more WRT54GL device, rest assured you are a highly valued customer and we will continue to support you and your WRT54GL for the life of your account.</p>
	 
	<h3>Open-Mesh.com Users</h3>
	<p>If you have an existing Open-Mesh.com account, <a href="[% base_uri %]/app/router/omsync">click here</a> to sync Silver Lining with your Open-Mesh.com network and update your list of devices.</p>
	<p><a href="http://silverlining.zendesk.com/forums/26828/entries/37866">Click here</a> to learn more about integrating Open-Mesh.com with Silver Lining.</p>


[% ELSE %]
	<!-- IF TRYING TO EDIT AN EXISTING ROUTER -->
	<h2>[% IF router.name %][% router.name %][% ELSE %]Add New Router[% END %]</h2>



		[% IF errors.missing %]<p class="error">Please complete the missing fields</p>[% END %]
		[% IF errors.invalid %]<p class="error">Some fields were invalid, please correct them</p>[% END %]




		<input type="hidden" name="router_id" value="[% router.router_id %]"/>
		<ul style="margin-bottom:0;" class="row">
			<li>
					<!-- device -->
					<label for="device" class="label [% IF errors.missing.device %]error[% END %]">Device Type</label>
					<select name="device" id="device">
						<option value="" [% IF ! router.device and req.param('device') == '' %][% END %]>Select a device type</option>
						<option value="mr3201a" [% IF req.param('device') == 'mr3201a' or router.device == 'mr3201a' %]selected="selected" [% END %]>MR3201A, OM1P, EOC-1650</option>
						[% IF router || reg.account_id.account_id == 2 %]<option value="wrt54gl" [% IF req.param('device') == 'wrt54gl' or router.device == 'wrt54gl' %]selected="selected" [% END %]>Linksys WRT54GL</option>[% END %]

					</select>

						<!-- value="linuxbox" [% IF req.param('device') == 'linuxbox' or router.device =='linuxbox' %]SELECTED[% END %]>Centos 5.2 Linux Server</option>-->
					<div class="clear"></div>
					<label for="device" class="tip">Silver Lining currently works with only the devices in the list above.</label>
					<div class="clear"></div>
 
				<div class="clear"></div>
			</li>	
		</ul>		
		
		
		<ul class="form"> 
			<li>
				<div class="grid_6 alpha omega suffix_4">
					<!-- name -->
					<label for="name" class="[% IF errors.missing.name %]error[% END %]">Name:</label>
					[% IF (req.param('device') && (req.param('device') != 'mr3201a') or (router.device != 'mr3201a' ))  %]<input type="text" id="name" name="name" size="40" maxlength="50" value="[% req.param('name') or router.name %]"/>
					<div class="clear"></div>
					<label for="name" class="tip">50 character limit</label>
[% ELSE %][% req.param('name') or router.name %]<input type="hidden" name="name" value="[% req.param('name') or router.name %]">[% END %]

				</div>
				<div class="clear"></div>
			</li>	

			<li>
				<div class="grid_6 alpha omega suffix_4">
					<!-- macaddr -->
					<label for="macaddr" class="[% IF errors.missing.macaddr or errors.invalid.macaddr %]error[% END %]">Mac address</label>
[% IF (req.param('device') && (req.param('device') != 'mr3201a') or (router.device != 'mr3201a' ))  %]<input type="text" name="macaddr" id="macaddr" size="17" maxlength="17" value="[% req.param('macaddr') or router.displaymac %]"/>
					<div class="clear"></div>
					<label for="macaddr" class="tip">Example:  00:12:cf:43:38:bd</label>

[% ELSE %][% req.param('macaddr') or router.macaddr %]<input type="hidden" name="macaddr" value="[% req.param('macaddr') or router.macaddr %]">[% END %]
				</div>
				<div class="clear"></div>
			</li>


			<li id="wrt54gl">
			<ul>
				<li>
					<!-- notes -->
					<label for="notes">Notes</label>
					<textarea id="notes" name="notes" rows="2" cols="50">[% req.param('notes') or router.notes %]</textarea>
					<div class="clear"></div>
					<label for="notes" class="tip">100 character limit</label>
				</li>
	
				<li>
					<!-- SSID -->
					<label for="ssid" class="[% IF errors.missing.ssid %]error[% END %]">SSID</label>
					<input type="text" id="ssid" name="ssid" size="25" maxlength="25" value='[% req.param('ssid') or router.ssid %]'/>
					<div class="clear"></div>
					<label for="ssid" class="tip">Allow up to five minutes to take effect</label>
				</li>
						
				<li>
					<!-- serial number -->
					<label for="serial_number" class="[% IF errors.missing.serial_number or errors.invalid.serial_number %]error[% END %]">Serial number or service tag</label>
					<input type="text" id="serial_number" name="serial_number" size="25" maxlength="25" value='[% req.param('serial_number') or router.serial_number %]'/>
					<div class="clear"></div>
					<label for="serial_number" class="tip">Optional, to determine router model compatibility, example CL7A0F318014</label>
				</li>


				<li>
					<!-- splash page -->
					<label for="splash_href" class="[% IF errors.missing.splash_href or errors.invalid.splash_href %]error[% END %]">Splash page url</label>
					<input type="text" id="splash_href" name="splash_href" size="45" maxlength="255" value='[% req.param('splash_href') or router.splash_href %]'/>
					<div class="clear"></div>
					<label for="splash_href" class="tip">Example:  http://silverliningworks.typepad.com/network/</label>
					<div class="clear"></div>
					<label for="splash_href" class="tip">Available on Linksys WRT54GL and Linux server only</label>
				</li>
	
				<li>
					<!-- splash page timeout -->
					<label for="splash_timeout" class="[% IF errors.missing.splash_timeout or errors.invalid.splash_timeout %]error[% END %]">Splash page timeout</label>
					<input type="text" id="splash_timeout" name="splash_timeout" size="3" maxlength="3" value='[% req.param('splash_timeout') or router.splash_timeout or '20' %]'/>
					<div class="clear"></div>
					<label for="splash_timeout" class="tip">Number of inactive minutes before splash page is shown</label>
				</li>
			</ul>
				
			</li>	




			<li>

                <label for="zone"></label>

				<!-- ad zones -->
				[% IF reg.account.zone_type == 'text_message' %]
                    <label for="msg" class="check_label"><a href="[% base_uri %]/app/ad/msg/index">Text Message Bar</a> active for all devices</label>
				[% ELSIF reg.account.zone_type == 'twitter_feed' %]
					<label for="twitter" class="check_label"><a href="[% base_uri %]/app/ad/msg/index">Twitter Feed</a> active for all devices</label>
				[% ELSIF !reg.account.zone_type || (reg.account.zone_type == 'banner_ad' ) %]


			    [% IF ad_zones %]
					<label for="adzone">Select Banner Ads to display on this device:</label>
					[% FOREACH ad_zone = ad_zones %]
					[% IF loop.index % 2 == 0 %] [% END %]
					    
					    	<input type="checkbox" name="ad_zone" value="[% ad_zone.ad_zone_id %]" [% IF ad_zone.selected or (req.param('ad_zone_id') == ad_zone.ad_zone_id) %]checked="checked"[% END %] />
					    	<label class="check_label"><a [% IF ad_zone.image_href %]class="preview" title="[% ad_zone.link_href %]" rel="[% ad_zone.image_href %]"[% END %] href="[% base_uri %]/app/ad/groups/edit?id=[% ad_zone.id %]">[% ad_zone.name %]</a>[% IF ad_zone.is_default == 1 %] - <em>Default</em>[% END %]</label>
					   
					[% IF loop.index % 2 != 0 %]<div class="clear"></div>[% END %]
					[% END %]

				<div class="clear"></div>
				[% ELSE %]
			    	<p class="error">You have not created any ad zones, please <a href="/app/ad/groups/list">create a few</a> to serve ads on this router</p>
				[% END %]
			</li>
			<li>
                [% IF reg.account.plan == 'free' %]
       				 <p class="notice">
       				 	To brand your ad bar, you will need a paid account.  
       				 	<a href="[% base_uri %]/billing/publisher/?plan=basic&email=[% reg.email %]">Click here</a> 
       				 	to sign up for our Basic Plan.
       				 </p>
               [% ELSE %]

			    [% IF bzones %]
					<label for="adzone">Branding Images</label>
					<label for="adzone" class="tip">Choose the logo/branding images you want to display (random rotation)</label>
						[% FOREACH bzone = bzones %]
						[% IF loop.index % 2 == 0 %] [% END %]
							
						    	<input type="checkbox" name="branding_zone" value="[% bzone.ad_zone_id %]"[% IF bzone.selected or (req.param('ad_zone_id') == bzone.ad_zone_id) %]checked="checked"[% END %] />
						    	<label class="check_label"><a class="preview" title="[% bzone.link_href %]" rel="[% bzone.image_href %]" href="[% base_uri %]/app/ad/bugs/edit?id=[% bzone.id %]">[% bzone.name %]</a>[% IF bzone.is_default == 1 %] - <em>Default</em>[% END %]</label>
						    
						[% IF loop.index % 2 != 0 %] <div class="clear"></div>[% END %]
						[% END %]

				<div class="clear"></div>
				[% ELSE %]
					<p class="error">You have not created any branding images, please <a href="/app/ad/groups/list">create a few</a></p>
				[% END %]
                [% END %]

                [% END %]

				<div class="clear"></div>			
			</li>
            

			<li>
				<!-- splash page -->
			    [% IF szones %]
					<label for="adzone" class="main_label">Assign a <a href="[% base_uri %]/ad/splash/index">splash page ad</a> to this device</label>
					<label for="ad_zone" class="tip">Click checkbox to add the splash page ad zone to the router (random rotation)</label>
					
					[% FOREACH szone = szones %]
					[% IF loop.index % 2 == 0 %] [% END %]
					    <div class="grid_4 alpha omega">
					    	<input type="checkbox" name="splash_zone"  value="[% szone.ad_zone_id %]"[% IF szone.selected or (req.param('ad_zone_id') == szone.ad_zone_id) %]checked="checked"[% END %] />
					    	<label class="check_label"><a [% IF szone.image_href %]class="preview" title="[% ad_zone.link_href %]" rel="[% szone.image_href %]"[% END %]  href="[% base_uri %]/app/ad/groups/edit?id=[% szone.id %]">[% szone.name %]</a>[% IF szone.is_default == 1 %] - <em>Default</em>[% END %]</label>
					    </div>
					[% IF loop.index % 2 != 0 %]<div class="clear"></div>[% END %]
					[% END %]

				[% ELSE %]
					<p class="error">You have not created any splash page ads, please <a href="/app/ad/groups/list">create a few</a></p>
				[% END %]
				<div class="clear"></div>			
            </li>

		</ul>		

</div>



<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom" class="form">
		
			<h3>Advanced Options</h3>
			<ul class="row">
				<li>
					<!-- adbar -->
					<label for="adserving">Ad Bar</label>
					<div class="clear"></div>
					<p>Turn the ad and messaging bar On or Off.  Takes 5-15 minutes to take effect.</p>
					<input type="radio" name="adserving" value="t" [% IF router.adserving == 1 %]checked="checked"[% END %]/><label for="adserving" class="check_label">On</label>
					<input type="radio" name="adserving" value="f" [% IF !router.adserving %] checked="checked" [% END %]/><label for="adserving" class="check_label">Off</label>
					<div class="clear"></div>
				</li>	
				
	
	
				<li>
					<!-- active -->
					<label for="active">Active</label>
					<div class="clear"></div>
					<p>Is this router active? (To ensure consistency in reporting, routers cannot be deleted, just hidden)</p>
					<input type="radio" name="active" value="t" [% IF router.active ==1 %]checked="checked"[% END %] /><label class="check_label">Yes</label>
					<input type="radio" name="active" value="f" [% IF !router.active %] checked="checked" [% END %] /><label class="check_label">No</label>
					<div class="clear"></div>
				</li>	
			</ul>				
		
		
			
			<label for="wan_ip">Registered at IP <p>[% router.wan_ip || '0.0.0.0' %]</p></label>
	
		</div>
	</div>

[% END %]

</div>
<div class="clear"></div>


<div class="grid_16 form">
	<ul>
		<li>
			<input id="submit" type="submit" value="Save Router Settings" size="50"/>
		</li>
	</ul>
</div>
<div class="clear"></div>

</form>


[% PROCESS footer.tmpl %]
