[% PROCESS header.tmpl title="Silver Lining Dashboard:  Create or Edit Router"  %]
[% PROCESS left.tmpl %]

<div id="list_center">
	<div class="content">

<h2>[% PROCESS router/nav.tmpl %] > 
[% UNLESS router.router_id  %]
Add a New Router[% ELSE %]Edit existing Router '[% router.name %]'[% END %]</h2>
<hr size=1 color="#CCCCCC">

<h3>Router '[% router.name or 'New Router' %]'</h3>
<div id="edit_form">

[% IF errors.missing %]
<p><font color="red">Please complete the missing fields</font></p>
[% END %]
[% IF errors.invalid %]
<p><font color="red">Some fields were invalid, please correct them</font></p>
[% END %]

<table class="edit">
<tr><td colspan="2"><hr></td></tr>

<form method="POST" action="[% base_uri %]/app/router/edit">
<input type="hidden" name="router_id" value="[% router.router_id %]">

<!-- name -->
<tr><td>
[% IF errors.missing.name %]<font color="red">[% END %]
Name this router:
[% IF errors.missing.name %]<font color="red">[% END %]
</td>
<td>
<input type="text" name = "name" size="45" maxlength="50" value='[% req.param('name') or router.name %]'>
</td></tr>
<tr><td colspan="2"><font color="#CCCCCC">(100 character limit)</font></td></tr>
<tr><td colspan="2"><hr size=1 color="#CCCCCC"></td></tr>

<!-- SSID -->
<tr><td>
[% IF errors.missing.ssid %]<font color="red">[% END %]
SSID:
[% IF errors.missing.ssid %]<font color="red">[% END %]
</td>
<td>
<input type="text" name = "ssid" size="25" maxlength="25" value='[% req.param('ssid') or router.ssid %]'>
</td></tr>
<tr><td colspan="2"><font color="#CCCCCC">(Allow up to a minute to take effect)</font></td></tr>
<tr><td colspan="2"><hr size=1 color="#CCCCCC"></td></tr>

<!-- macaddr -->
<tr><td>
[% IF errors.missing.macaddr or errors.invalid.macaddr %]<font color="red">[% END %]
Mac Address:
[% IF errors.missing.macaddr or errors.invalid.macaddr %]</font>[% END %]
</td>
<td>
<input type="text" name = "macaddr" size="17" maxlength="17" value='[% req.param('macaddr') or router.macaddr%]'>
</td></tr>
<tr><td colspan="2">
<font color="#CCCCCC">(example <b>00:17:f2:43:38:bd</b>)</font></td></tr>
<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>

<!-- serial number -->
<tr><td>
[% IF errors.missing.serial_number or errors.invalid.serial_number %]<font color="red">[% END %]
Serial Number:
[% IF errors.missing.serial_number or errors.invalid.serial_number %]</font>[% END %]
 <td>
<input type="text" name="serial_number" size="25" maxlength="25" value='[% router.serial_number %]'>
 </td></tr>
 <tr><td colspan="2">
<font color="#CCCCCC">(Optional, to determine router model compatibility, example <b>CL7A0F318014</b>)</font></td></tr>
 <tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>
 
<!-- splash page -->
<tr><td>
[% IF errors.missing.splash_href or errors.invalid.splash_href %]<font color="red">[% END %]
Splash page url:</td>
[% IF errors.missing.splash_href or errors.invalid.splash_href %]</font>[% END %]
<td>
<input type="text" name="splash_href" size="45" maxlength="255" value='[% req.param('splash_href') or router.splash_href %]'>
</td></tr>
<tr><td colspan="2">
<font color="#CCCCCC">(example <b><a href="http://www.silverliningnetworks.com/network/">http://www.silverliningnetworks.com/network/</a></b>)</font></td></tr>
<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>

<!-- splash page timeout -->
<tr><td>
[% IF errors.missing.splash_timeout or errors.invalid.splash_timeout %]<font color="red">[% END %]
Splash page timeout:</td>
[% IF errors.missing.splash_timeout or errors.invalid.splash_timeout %]</font>[% END %]
<td>
<input type="text" name="splash_timeout" size="3" maxlength="3" value='[% req.param('splash_timeout') or router.splash_timeout or '60' %]'>
</td></tr>
<tr><td colspan="2">
<font color="#CCCCCC">(Number of inactive minutes before splash page is shown)</font></td></tr>
<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>

<!-- bug link and image -->

<!-- image_href -->
<tr><td>
[% IF errors.missing.bug_image_href or errors.invalid.bug_image_href %]<font color="red">
[% END %]
Branding Image Location:
[% IF errors.missing.bug_image_href or errors.invalid.bug_image_href %]</font>[% END %]
</td>
<td>
<input type="text" name="bug_image_href" size="50" maxlength="512" value="[% req.param('bug_image_href') or router.bug_image_href %]">
</td><td>
</tr>
<tr><td colspan=2><font color="#CCCCCC">
( 120 pixels wide by 45 pixels high, example http://www.silverliningnetworks.com/images/silver-lining-ad-bar.gif )</font></td></tr>
<tr><td colspan=2>
<a href="[% router.bug_image_href %]"><img border='0' src="[% router.bug_image_href %]"></a></td>
<!-- end image_href -->

<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>

<!-- link_href -->
<tr><td>
[% IF errors.missing.bug_link_href or errors.invalid.bug_link_href %]<font color="red">[% END %]
Branding Image Links To:
[% IF errors.missing.bug_link_href or errors.invalid.bug_link_href %]</font>[% END %]
</td>
<td><input type="text" name="bug_link_href" size="50" maxlength="512" 
value="[% req.param('bug_link_href') or router.bug_link_href %]">
</td></tr>
<tr><td colspan=2><font color="#CCCCCC">
( example http://www.silverliningnetworks.com/?referer=silverlining )</font></td></tr>
<tr><td colspan=2><a href="[% req.param('bug_link_href') or router.bug_link_href %]">Link</a></td></tr>
<!-- end image_href -->


<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>


[% IF reg.custom_ads %]
<!-- ad groups -->
<tr><td colspan="2">Ad Groups associated with this Router</td></tr>
<tr><td colspan="4">
[% FOREACH ad_group = ad_groups %]
    <input type="checkbox" name="ad_group" value="[% ad_group.ad_group_id %]" 
[% IF ad_group.selected or (req.param('ad_group_id') == ad_group.ad_group_id) %]CHECKED[% END %]>
[% ad_group.name %]&nbsp;&nbsp;
[% END %]
</td></tr>
<tr><td colspan=4><font color="#CCCCCC">
Click checkbox to add the Ad Group to the Router</font></td></tr>
<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>

[% END %]

<tr><td colspan="2"><input type="Submit" value="Save Router Settings"></td></tr>

[% IF locations != '' %]
<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>
<tr><td colspan="2">
This router has been registered at the following locations:</td></tr>

[% FOREACH location = locations %]
  <tr><td colspan="2"><ul>
      <li>[% IF location.name %][% location.name %] - [% ELSE %][% END %]
          [% location.ip %]</li>
  </ul></td></tr>
[% END %]

[% END %]
  </table>

</div>
</div>
</div>
[% PROCESS footer.tmpl %]
