[% PROCESS header.tmpl title="Silver Lining Dashboard:  Create or edit router"  selected="network" %]

<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>
				[% PROCESS router/nav.tmpl %] 

				<li><strong>[% UNLESS router.router_id  %]New router[% ELSE %]Edit router '[% router.name %]'[% END %]</strong></li>
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>


<div id="main_content" class="grid_10 suffix_1">
[% IF !router && (reg.account_id.account_id !=2 ) %]

<h3>Existing Customers</h3>
<p>Learn about our brand new Silver Lining Repeaters. Our <a href="http://www.silverliningnetworks.com/store/">new repeaters are plug and play</a> and work out of the box!</p>
<p>If you are already using one or more WRT54GL device, rest assured you are a highly valued customer and we will continue to support you and your WRT54GL for the life of your account.</p>
 
<h3>Open-Mesh.com Users</h3>
<p>If you have an existing Open-Mesh.com account, <a href="[% base_uri %]/app/router/omsync">click here</a> to sync Silver Lining with your Open-Mesh.com network and update your list of devices.</p>
<p><a href="http://silverlining.zendesk.com/forums/26828/entries/37866">Click here</a> to learn more about integrating Open-Mesh.com with Silver Lining.</p>
 



[% ELSE %]



<h3>[% IF router.name %][% router.name %][% ELSE %]Add New Router[% END %]</h3>
<div id="edit_form">

[% IF errors.missing %]
<p><font color="red">Please complete the missing fields</font></p>
[% END %]
[% IF errors.invalid %]
<p><font color="red">Some fields were invalid, please correct them</font></p>
[% END %]


<form method="POST" action="[% base_uri %]/app/router/edit">
<input type="hidden" name="router_id" value="[% router.router_id %]">





<!-- device -->
[% IF errors.missing.device %]<font color="red">[% END %]
<p>Device Type:&nbsp;&nbsp;
[% IF errors.missing.device %]</font>[% END %]
<select name="device" id="device">

<option value="" [% IF ! router.device and req.param('device') == '' %][% END %]>Select a device type</option>
<option value="mr3201a" [% IF req.param('device') == 'mr3201a' or router.device == 'mr3201a' %]SELECTED[% END %]>Open-Mesh.com 32MB (MR3201A, OM1P, PicoStation)</option>
[% IF router || reg.account_id.account_id == 2 %]<option value="wrt54gl" [% IF req.param('device') == 'wrt54gl' or router.device == 'wrt54gl' %]SELECTED[% END %]>Linksys WRT54GL</option>[% END %]
<!--<option value="linuxbox" [% IF req.param('device') == 'linuxbox' or router.device =='linuxbox' %]SELECTED[% END %]>Centos 5.2 Linux Server</option>-->
</select></p>
<p><font color="#CCCCCC"><strong>Silver Lining currently works with only the devices in the list above.</strong></font><br />
<font color="#CCCCCC"><strong>Greyed out items are controlled from your <a href="http://www.open-mesh.com/dashboard.php">Open-Mesh.com dashboard</a></strong></font></p>






<!-- macaddr -->
[% IF errors.missing.macaddr or errors.invalid.macaddr %]<font color="red">[% END %]

<p>Mac address:&nbsp;&nbsp;

[% IF errors.missing.macaddr or errors.invalid.macaddr %]</font>[% END %]

<input type="text" name="macaddr" id="macaddr" size="17" maxlength="17" value='[% req.param('macaddr') or router.displaymac %]'></p>

<p><font color="#CCCCCC"><b>Example:  00:12:cf:43:38:bd</b></font></p>







<!-- name -->
[% IF errors.missing.name %]<font color="red">[% END %]
<p>Name:&nbsp;&nbsp;
[% IF errors.missing.name %]</font>[% END %]
<input type="text" id="name" name="name" size="40" maxlength="50" value="[% req.param('name') or router.name %]"></p>
<p><font color="#CCCCCC"><b>50 character limit</b></font></p>



<!-- notes -->
<p>Notes:&nbsp;&nbsp;<input type="text" id="notes" name="notes" size="80" maxlength="100" value="[% req.param('notes') or router.notes %]"></p>
<p><font color="#CCCCCC"><b>100 character limit</b></font></p>






<div id="wrt54gl" style="display: none;">

<!-- SSID -->
[% IF errors.missing.ssid %]<font color="red">[% END %]
<p>SSID:&nbsp;&nbsp;
[% IF errors.missing.ssid %]</font>[% END %]
<input type="text" id="ssid" name="ssid" size="25" maxlength="25" value='[% req.param('ssid') or router.ssid %]'></p>
<p><font color="#CCCCCC"><b>Allow up to a minute to take effect, Linksys WRT54GL only</b></font></p>
<p<font color="#CCCCCC"><b>Allow up to five minutes to take effect</b></font></p>




<div id="serial" style="display:none;">
<!-- serial number -->
<p>
[% IF errors.missing.serial_number or errors.invalid.serial_number %]<font color="red">[% END %]
Serial number or service tag:&nbsp;&nbsp;
[% IF errors.missing.serial_number or errors.invalid.serial_number %]</font>[% END %]
<input type="text" id="serial_number" name="serial_number" size="25" maxlength="25" value='[% req.param('serial_number') or router.serial_number %]'></p>
<p><font color="#CCCCCC"><b>Optional, to determine router model compatibility, example CL7A0F318014</b></font></p>

</div>
 



<!-- splash page -->
<p>
[% IF errors.missing.splash_href or errors.invalid.splash_href %]<font color="red">[% END %]
Splash page url:&nbsp;&nbsp;
[% IF errors.missing.splash_href or errors.invalid.splash_href %]</font>[% END %]
<input type="text" id="splash_href" name="splash_href" size="45" maxlength="255" value='[% req.param('splash_href') or router.splash_href %]'></p>
<p><font color="#CCCCCC"><b>Example:  http://silverliningworks.typepad.com/network/</b></font></p>
<p><font color="#CCCCCC"><b>Linksys WRT54GL and Linux server only<b></font></p>
<hr class="sl_line">




<!-- splash page timeout -->
<p>
[% IF errors.missing.splash_timeout or errors.invalid.splash_timeout %]<font color="red">[% END %]
Splash page timeout:&nbsp;&nbsp;
[% IF errors.missing.splash_timeout or errors.invalid.splash_timeout %]</font>[% END %]
<input type="text" id="splash_timeout" name="splash_timeout" size="3" maxlength="3" value='[% req.param('splash_timeout') or router.splash_timeout or '20' %]'></p>
<p><font color="#CCCCCC"><b>Number of inactive minutes before splash page is shown</b></font></p>




</div>



<!-- ad zones -->

<p>Select one of the following three options for display on this router</p>

[% IF msg_zone %]

<p><input id="text" type="radio" name="zone_type" value="msg" [% IF msg_zone.selected %]checked="1"[% END %] onChange="updateZones(); void 0;"/>&nbsp;1 - Use Text Entry Message Bar</p>
<p>[% reg.account_id.text_message %]</p>

[% ELSE %]

<p><input id="text" type="radio" name="zone_type" value="msg" disabled="1" />&nbsp;<strong>1 - Configure your <a href="[% base_uri %]/app/ad/msg/index">Text Message Bar</a> to enable a Text Message in your message bar.</strong></p>

[% END %]




[% IF twit_zone %]

<p><input id="twitter" type="radio" name="zone_type" value="twitter" [% IF twit_zone.selected %]checked="1"[% END %] onChange="updateZones(); void 0;"/>&nbsp;2 - Use Twitter Feed</p>

<div id="twitter_div">
<span id="twitter_update_list"></span>
</div>


[% ELSE %]

<p><input id="twitter" type="radio" name="zone_type" value="twitter" disabled="1" />&nbsp;<strong>2 - Configure your <a href="[% base_uri %]/app/ad/twitter/index">Twitter Feed</a> to enable Twitter in your message bar.</strong></p>

[% END %]



<p><input id="iab" type="radio" name="zone_type" value="iab" [% IF !twit_zone.selected and !msg_zone.selected %]checked="1"[% END %]/>&nbsp;3 - Use Ad Server Ad Zones</p>
<p>
<table>
[% IF ad_zones %]
[% FOREACH ad_zone = ad_zones %]
[% IF loop.index % 2 == 0 %] <tr>[% END %]
    <td><input type="checkbox" name="ad_zone" value="[% ad_zone.ad_zone_id %]"[% IF ad_zone.selected or (req.param('ad_zone_id') == ad_zone.ad_zone_id) %]CHECKED[% END %]>[% ad_zone.name %]&nbsp;&nbsp;</td>
[% IF loop.index % 2 != 0 %] </tr>[% END %]
[% END %]
</table>
</p>
<p><font color="#CCCCCC"><b>Click checkbox to add the ad zone to the router (random rotation)</b></font></p>
[% ELSE %]
<p>You have not created any ad zones, please <a href="/app/ad/groups/list">create a few</a> to serve ads on this router</p>
[% END %]




<!-- adbar -->

<p>Ad Bar:&nbsp;&nbsp;On<input type="radio" name="adserving" value="t" [% IF router.adserving == 1 %]checked[% END %]>&nbsp;
Off<input type="radio" name="adserving" value="f" [% IF ad_zone.adserving == 0 %] checked [% END %]></p>

<p><font color="#CCCCCC">Turn the ad and messaging bar On or Off.  Takes 5-15 minutes to take effect.</font></p>

<!-- end adbar -->



<!-- active -->

<p>Active:&nbsp;&nbsp;Yes<input type="radio" name="active" value="t" [% IF router.active ==1 %]checked[% END %]>&nbsp;
No<input type="radio" name="active" value="f" [% IF ad_zone.active == 0 %] checked [% END %]></p>

<p><font color="#CCCCCC">
Is this router active? (To ensure consistency in reporting, routers cannot be deleted, just hidden)
</font></p>

<!-- end active -->
<hr class="sl_line">
jq
<input id="submit" type="Submit" value="Save router settings">

</form>

[% IF locations != '' %]

<p>This device has been registered at the following locations and times:</p>

[% FOREACH location = locations %]
<ul>
      <li>[% IF location.name %][% location.name %] - [% ELSE %][% END %]
          [% location.ip %] - [% location.mts %]</li>
</ul>
[% END %]

[% END %]

[% END %]
</div>


<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
			<ul class="bullet_list">
				<li><a href="[% base_uri %]/app/router/omsync">Sync Open-Mesh.com Devices</a></li>
				<li><a href="[% base_uri %]/app/router/edit">Add New Router</a></li>
				<li><a href="[% base_uri %]/app/router/adbar">Turn Ad Bar On/Off</a></li>
			</ul>		

		</div>
	</div>
</div>


<script type="text/javascript" src="[% base_uri %]/resources/js/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/[% reg.account_id.twitter_id %].json?callback=twitterCallback2&count=1"></script>

function updateZones() {

    adzones=document.getElementsByName('ad_zone');
    for (var i=0;i<adzones.length-1;i++) {
        adzones[i].checked=false;
    }
};
</script>


[% PROCESS footer.tmpl %]
