[% PROCESS header.tmpl title="Silver Lining Dashboard:  Manage Routers" selected="network" header=head %]

<div id="main_content" class="grid_16">	
	[% PROCESS router/tertiarynav.tmpl active="history" %]
	
	<div class="grid_10 omega">

		<script type="text/javascript" src="/resources/chart/line/swfobject.js"></script>
	    <div id="flashcontenttwo">
	        <strong>You need to upgrade your Flash Player</strong>
	    </div>
	    <script type="text/javascript">
	            // <![CDATA[            
	            var so = new SWFObject("/resources/chart/line/amline.swf","trafficthirty", "580px", "250px", "4", "#FFFFFF");
	            so.addVariable("path", "/resources/chart/line/");
	            so.addVariable("settings_file", encodeURIComponent("/resources/chart/line/amline_settings.xml"));
	            so.addVariable("data_file", encodeURIComponent("/img/reports/[% reg.account.report_base %]/network_monthly.csv"));
	            so.write("flashcontenttwo");
	            // ]]>
	    </script>



	</div>
	

	<div class="clear"></div>
</div>

[% PROCESS footer.tmpl %]
