[% PROCESS header.tmpl title="Silver Lining Dashboard:  View routers" selected="network" %]

<div class="grid_10 suffix_1">
	[% IF msg %]
		<p class="success margin_b_20">[% msg %]</p>
	[% END %]
	
	<div class="grid_6 alpha">
		<h2>Network Devices</h2>
		<p class="tip">You have a total of <strong>[% count %]</strong> devices on your network</p>
	</div>
	<div class="grid_4 omega">
		<a class="right" id="button_add_device" href="[% base_uri %]/app/router/edit">Add a device</a>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>


	[% IF !routers.0 %]
			<p>Oops!  It looks like you don't have any routers added.</p>
			<p>In order to use Silver Lining on your network, you will need to <a href="[% base_uri %]/app/router/edit">add a router.</a></p>
			<p>Or you can <a href="[% base_uri %]/app/router/omsync">sync your Open-Mesh.com devices</a></p>
		[% ELSE %]
	
			<!-- DEVICE LIST -->
			[% FOREACH router = routers %]
				<div class="row">
					<div class="grid_1 alpha ">
						<span class="icon_[% router.device %]_[% router.active %]">[% router.device %]</span>
					</div>
					
					<div class="grid_8">
						<h3><a href="[% base_uri %]/app/router/edit/?router_id=[% router.router_id %]">[% router.name or 'unnamed' %]</a></h3>
						<p>
							<strong>[% router.device %]</strong>, 
							MAC: [% router.macaddr %], 
							[% IF router.device=='wrt54gl' %]SSID: [% router.ssid or '?'  %],[% END %] 
							Last seen:[% router.last_seen or '?'  %],  
							[% IF router.device=='mr3201a' %]Ad bar:  [% IF router.adserving==1 %]On[% ELSE %]Off[% END %],[% END %]  
							<br/><strong>Ad views yesterday: [% router.views_daily  %]</strong>
						</p>
					</div>
					<div class="grid_1 omega">
						<a class="icon_delete right confirm" rel="router/deactivate?id=[% router.router_id %]" href="#">Delete</a>
					</div>
					<div class="clear"></div>
				</div>
			[% END %]
	[% END %]
</div>

<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
			<ul>
				<li><a class="icon_sync" href="[% base_uri %]/app/router/omsync">Sync Open-Mesh Devices</a></li>
				<li><a class="icon_on_off" href="[% base_uri %]/app/router/adbar">Turn Ad Bar On/Off</a></li>
			</ul>		
		</div>
	</div>
</div>

[% PROCESS footer.tmpl %]

<div id='confirm' style='display:none'>
	<a href='#' title='Close' class='modalCloseX simplemodal-close'>x</a>
	<div class='header'><span>Confirm</span></div>
	<p class='message'></p>
	<div class='buttons'>
		<div class='no simplemodal-close'>No</div><div class='yes'>Yes</div>
	</div>
</div>
