[% PROCESS header.tmpl title="Silver Lining Dashboard:  View Existing Routers"  %]
[% PROCESS left.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS router/nav.tmpl %] > [% count %] Routers Total</h2>
<hr size=1 color="#CCCCCC">

<p style="text-align: left; padding-bottom: 5px; width: 600px;">
<a href="[% base_uri %]/app/router/edit">Add a new Router</a></span></p>

[% IF session.msg %]
<p><font color="red">[% session.msg %]</font></p>
[% END %]

<table class="list">
<tr class="list_header">
<td class="header">Name</td>
<td class="header">Mac Address</td>
<td class="header">SSID</td>
<td class="header">Last Seen</td>
<td class="header">Views last 24 Hours</td>
</tr>
[% FOREACH router = routers %]
  <tr class="[% IF loop.index % 2 %]lite[% ELSE %]dark[% END %]">

<!-- name -->	
  <td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
<a href="[% base_uri %]/app/router/edit/?router_id=[% router.router_id %]">
[% router.name or 'unnamed' %]</a></td>

<!-- mac address -->
  <td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
[% router.macaddr %]</td>

<!-- SSID -->
  <td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
[% router.ssid or '?'  %]</td>

<!-- last seen -->
  <td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
[% router.last_seen or '?'  %]</td>

<!-- Views last 24 hours -->
  <td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
[% router.views_daily  %]</td>

</tr>

[% END %]
</table>

</div>
</div>

[% PROCESS footer.tmpl %]
