[% PROCESS header.tmpl %]
[% PROCESS left.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS router/nav.tmpl %] > <a href="[% base_uri %]/app/router/list">[% count %] Routers Total</a></h2>
<hr size=1 color="#CCCCCC">

<p style="text-align: left; padding-bottom: 5px; width: 500px;">
<a href="[% base_uri %]/app/router/edit">Add a new Router</a></span></p>

[% IF session.msg %]
<p><font color="red">[% session.msg %]</font></p>
[% END %]

<table class="list">
<tr class="list_header">
<td class="header">Name</td>
<td class="header">Mac Address</td>
<td class="header">Splash Page</td>
<td class="header">Registered Locations</td>
<td class="header">Ad Groups</td>
</tr>
[% FOREACH router = routers %]
  <tr class="[% IF loop.index % 2 %]lite[% ELSE %]dark[% END %]">

<!-- name -->	
  <td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
<a href="[% base_uri %]/app/router/edit/?router_id=[% router.router_id %]">
[% router.name or 'unnamed' %]</a></td>

<!-- mac address -->
  <td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
[% router.macaddr %]</td>

<!-- splash page -->	
  <td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
[% IF router.splash_href != '' %]<a href="[% router.splash_href %]">link</a>[% END %]</td>

<!-- location count -->
  <td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
[% router.location_count %]</td>

<!-- Ad group count -->
  <td class="[% IF loop.index % 2 %]el_lite[% ELSE %]el_dark[% END %]">
[% router.ad_group_count %]</td>

</tr>

[% END %]
</table>

</div>
</div>

[% PROCESS footer.tmpl %]
