[% PROCESS header.tmpl title="Silver Lining Dashboard:  Create or Edit router" selected="network" %]
<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>[% PROCESS router/nav.tmpl %]<li><strong>Sync Open-Mesh.com Devices</strong></li></ul>
		</div>
	</div>
</div>
<div class="clear"></div>

<div id="main_content" class="grid_10 suffix_1">
	
	
	<h2>Sync Open-Mesh.com Devices</h2>
	<div class="row">
		<p>
			Enter your Open-Mesh.com account information below to synchronize 
			your Open-Mesh.com devices. For more information about syncing your 
			Open-Mesh.com account <a href="http://silverlining.zendesk.com/forums/26828/entries/37866">please 
			read our integration guide</a>.
		</p>
	
	[% IF errors.missing %]
		<p class="error">Please complete the missing fields</p>
	[% END %]
	[% IF errors.invalid %]
		<p class="error">Network and/or password invalid</p>
	[% END %]
	
	
	<form class="form" method="post" action="[% base_uri %]/app/router/omsync">
		
		<ul> 
			<li>
				<div class="grid_6 alpha omega suffix_4">
					<!-- email -->
					<label for="network">Network Name</label>
					<input type="text" name="network" id="network" size="32" maxlength="50" value='[% req.param('network')  %]' />
					<label for="network" class="tip clear [% IF errors.missing.network %]error[% END %]">Open-Mesh.com network name</label>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>		
			
			<li>
				<div class="grid_6 alpha omega suffix_4">
					<label for="password">Password</label>
					<input type="password"  name="password" id="password" size="20" maxlength="50" value='[% req.param('password')  %]' />
					<label for="password" class="clear tip [% IF errors.missing.password %]error[% END %]">Password to your Open-Mesh.com network</label>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</li>	
			<li>
				<input id="submit" type="submit" value="Sync Open-Mesh.com Devices" />
			</li>
		</ul>
	
	
	
	</form>
	</div>
</div>

<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
			<ul class="bullet_list">
				<li><a class="icon_on_off" href="[% base_uri %]/app/router/adbar">Turn Ad Bar On/Off</a></li>
			</ul>		

			<h3>More Details</h3>
			<p>Devices that you have removed from your Open-Mesh.com network since the last synchronization will be removed from your router list.</p>
			<p>The synchronization may take a few minutes, please do not refresh the page.</p>

		</div>
	</div>
</div>


[% PROCESS footer.tmpl %]
