<html>
    <head>
        <style type="text/css">
            <!--
            body { margin-top: 10% }
            -->
        </style>
    </head>
	<body>
	<p align="center"><img src="/img/logo.gif"></p>
	<p align="center">Congratulations!  Your Silver Lining Access point is now active!</p>
	<p align="center"><a href="[% dest %]">Click here to start surfing</p>
</body>
</html>