<!-- CONTAINER FOR SKYSCRAPER ADD -->
<div id="silver_lining_ad_horizontal">
  <div id="silver_lining_text_ad">
    <div id="silver_lining_bug" style="background:url('http://www.silverliningnetworks.com/resources/images/ads/silver-lining-ad-bar.gif');"> </div>
       <div id="silver_lining_client_ad">

		[% code %]

  </div>

[% IF close_box %]
  <a id="silver_lining_close" href="#"><img src="http://www.silverliningnetworks.com/resources/images/icons/close_blue.png" title="Hide Advertisement" alt="close" /></a>
[% END %]


[% IF ! premium %]
<a id="silver_lining_homepage" href="http://www.silverliningnetworks.com/" target="_blank">Silver Lining Networks</a>
[% END %]

<div class="silver_lining_clear"></div>
</div>
</div>
<!-- CONTAINER FOR SKYSCRAPER ADD END -->
<!-- CONTAINER FOR WEB PAGE -->
<div id="silver_lining_webpage">
