<p>
<a style="text-decoration: none;" href="[% bug_link_href %]">
<img style="position: absolute; top: 20px; left: 5px;border: 0px;padding: 0px;" src="[% bug_image_href %]" /></a>
&nbsp;&nbsp;
<span class="sl_textad_text">

<!-- Begin: AdBrite -->
<script type="text/javascript">
   var AdBrite_Title_Color = '0000FF';
   var AdBrite_Text_Color = '000000';
   var AdBrite_Background_Color = 'FFFFFF';
   var AdBrite_Border_Color = 'CCCCCC';
   var AdBrite_URL_Color = '008000';
</script>
<span style="white-space:nowrap;"><script src="http://ads.adbrite.com/mb/text_group.php?sid=661987&zs=3732385f3930" type="text/javascript"></script><!--
--><a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=661987&afsid=1"><img src="http://files.adbrite.com/mb/images/adbrite-your-ad-here-leaderboard.gif" style="background-color:#CCCCCC;border:none;padding:0;margin:0;" alt="Your Ad Here" width="14" height="90" border="0" /></a></span>
<!-- End: AdBrite -->

</span>
<span class="sl_black">
</span>
<span class="sl_link">
  <a href="/sl_secret_blacklist_button" >Close X</a>
</span>
</p>
