<p class="sl">
<a style="text-decoration: none;" href="http://www.kharmaconsulting.net/kharma-advertising-network/argenta-wireless.html">
<img class="sl_leaderboard" src="http://www.silverliningnetworks.com/argenta/awlogo.gif" /></a>
&nbsp;&nbsp;

<span class="sl_textad_text">

<iframe id='a76dfb34' name='a76dfb34' src='http://www.kharmaconsulting.net/adserver/www/delivery/afr.php?refresh=30&amp;zoneid=2' framespacing='0' frameborder='no' scrolling='no' width='728' height='90'><a href='http://www.kharmaconsulting.net/adserver/www/delivery/ck.php?n=a39952c6' target='_blank'><img src='http://www.kharmaconsulting.net/adserver/www/delivery/avw.php?zoneid=2&amp;n=a39952c6' border='0' alt='' /></a></iframe>
<script type='text/javascript' src='http://www.kharmaconsulting.net/adserver/www/delivery/ag.php'></script>

</span>


<span class="sl_black">
</span>
<span class="sl_link">
  <a href="/sl_secret_blacklist_button" >Close X</a>
</span>
</p>
