<div id="silver_lining_ad_floating_footer"><div id="silver_lining_cloud_wrapper"><div id="silver_lining_cloud"><div id="silver_lining_clear"></div></div><div id="silver_lining_client_ad">[% code %]</div>[% IF close_box %]<a onClick="silverLiningClose(); return false;" id="silver_lining_close" href="#"><img src="http://s1.slwifi.com/images/icons/close_blue.png" title="Hide Advertisement" alt="close" /></a>[% END %][% IF ! premium %]<a id="silver_lining_homepage" href="http://www.silverliningnetworks.com/" target="_blank">Silver Lining Networks</a>[% END %]<div class="silver_lining_clear"></div></div></div><div id="silver_lining_webpage">
