<div id="silver_lining_floating_horizontal"><div id="silver_lining_full_banner">[% IF aaa %]<div id="silver_lining_bug"><a href="http://[% lan_ip %]:2050/update" class="big_button"><span class="block">Ad Free WiFi</span>$2 for 2 hours</a></div>[% ELSE %]<a href="[% bug_link_href %]" id="silver_lining_bug" style="background:url([% bug_image_href %]);"></a>[% END %]<div id="silver_lining_client_ad">[% code %]</div>[% IF close_box %]<a onClick="silverLiningCLose(); return false;" id="silver_lining_close" href="#"><img src="http://s1.wlwifi.com/images/icons/close_blue.png" title="Hide Advertisement" alt="close" /></a>[% END %][% IF ! premium %]<a id="silver_lining_homepage" href="http://www.silverliningnetworks.com/" target="_blank">Silver Lining Networks</a>[% END %]<div class="silver_lining_clear"></div></div></div><div id="silver_lining_webpage">
