<div id="silver_lining_floating_horizontal"><div id="silver_lining_full_banner"><a href="[% bug_link_href %]" id="silver_lining_bug" style="background:url([% bug_link_href %]);"></div><div id="silver_lining_client_ad">[% code %]</div><div id="silver_lining_client_ad_2">[% code_double %]</div>[% IF close_box %]<a onclick="silverLiningClose(); return false;" id="silver_lining_close" href="#"><img src="http://www.silverliningnetworks.com/resources/images/icons/close_blue.png" title="Hide Advertisement" alt="close" /></a>[% END %][% IF ! premium %]<a id="silver_lining_homepage" href="http://www.silverliningnetworks.com/" target="_blank">Silver Lining Networks</a>[% END %]<div class="silver_lining_clear"></div></div></div><div id="silver_lining_webpage">
