<p>
<a style="text-decoration: none;" href="[% bug_link_href %]">
<img style="position: absolute; top: 6px; left: 5px;border: 0px;padding: 0px;" src="[% bug_image_href %]" /></a>
&nbsp;&nbsp;
<span class="sl_textad_text">

<script type="text/javascript"><!--
google_ad_client = "pub-5785951125780041";
google_ad_width = 468;
google_ad_height = 60;
google_ad_format = "468x60_as";
google_ad_type = "text";
//google_ad_channel = "7309150677";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</span>
<span class="sl_black">
  <a href="/sl_secret_blacklist_button" >Close this Bar</a>
</span>
<span class="sl_link">
  <a href="http://www.silverliningnetworks.com/" >Silver Lining</a>
</span>
</p>
