<div id="silver_lining_ad_horizontal"><div id="silver_lining_leaderboard"><a href="[% bug_link_href %]" id="silver_lining_bug" style="background:url([% bug_image_href %]);"></a><div id="silver_lining_client_ad">[% code %]</div>[% IF close_box %]<a onClick="silverLiningClose(); return false;" id="silver_lining_close" href="#"><img src="http://www.silverliningnetworks.com/resources/images/icons/close_blue.png" title="Hide Advertisement" alt="close" /></a>[% END %][% IF ! premium %]<a id="silver_lining_homepage" href="http://www.silverliningnetworks.com/">Silver Lining Networks</a>[% END %]<div class="silver_lining_clear"></div></div></div><div id="silver_lining_webpage">
