<p class="sl">
<a style="text-decoration: none;" href="http://www.jeproducts.com/">
<img class="sl_leaderboard" src="http://www.silverliningnetworks.com/jesalon/JE_salon_free_wifi.gif" /></a>
&nbsp;&nbsp;

<span class="sl_textad_text">


<iframe id='a2894b1f' name='a2894b1f' src='http://www.redhotpenguin.com/openx/www/delivery/afr.php?n=a2894b1f&amp;zoneid=11&amp;cb={random}&amp;ct0={clickurl}' framespacing='0' frameborder='no' scrolling='no' width='728' height='90'><a href='http://www.redhotpenguin.com/openx/www/delivery/ck.php?n=a0f606c9&amp;cb={random}' target='_blank'><img src='http://www.redhotpenguin.com/openx/www/delivery/avw.php?zoneid=11&amp;cb={random}&amp;n=a0f606c9&amp;ct0={clickurl}' border='0' alt='' /></a></iframe>
<script type='text/javascript' src='http://www.redhotpenguin.com/openx/www/delivery/ag.php'></script>

</span>

<span class="sl_link">
  <a href="[% splash_href %]" >Silver Lining</a>
</span>

<span class="sl_black">
  <a href="/sl_secret_blacklist_button" >Close X</a>
</span>
</p>
