<p>
<a style="text-decoration: none;" href="[% bug_link_href %]">
<img style="position: absolute; top: 20px; left: 5px;border: 0px;padding: 0px;" src="[% bug_image_href %]" /></a>
&nbsp;&nbsp;
<span class="sl_textad_text">
<!--/* OpenX iFrame Tag v2.4.4 */-->

<iframe id='add79a19' name='add79a19' src='http://www.kharmaconsulting.net:8135/adserver/www/delivery/afr.php?resize=1&amp;refresh=30&amp;zoneid=2' framespacing='0' frameborder='no' scrolling='no' width='728' height='90'><a href='http://www.kharmaconsulting.net:8135/adserver/www/delivery/ck.php?n=abfb9eea' target='_blank'><img src='http://www.kharmaconsulting.net:8135/adserver/www/delivery/avw.php?zoneid=2&amp;n=abfb9eea' border='0' alt='' /></a></iframe>
</span>
<span class="sl_black">
</span>
<span class="sl_link">
  <a href="/sl_secret_blacklist_button" >Close X</a>
</span>
</p>
