<p>
<a style="text-decoration: none;" href="[% bug_link_href %]">
<img style="position: absolute; top: 6px; left: 8px;border: 0px;padding: 0px;" src="[% bug_image_href %]" /></a>
&nbsp;&nbsp;
<span class="sl_textad_text">
<!-- SEARCH FORM -->
<form id="mainform" action="http://www.local.com/results.aspx" method="get"  onSubmit="if(location.value=='  Businesses and Services')location.value=''; if(searchbox.value='  ZIP, City & State, Street Address')searchbox.value='';" >

    <input class="searchbox" id="keyword" maxlength="50" name="keyword" onfocus="this.select();" type="text" onFocus="if(this.value=='  Businesses and Services')this.value='';" onBlur="if(this.value=='')this.value='  Businesses and Services';" value="  Businesses and Services" />
		
    <input id="location" class="searchbox" maxlength="50" name="location" onfocus="this.select();" style="" type="text" onFocus="if(this.value=='  ZIP, City & State, Street Address')this.value='';" onBlur="if(this.value=='')this.value='  ZIP, City & State, Street Address';" value="  ZIP, City & State, Street Address"/>
	
	<input id="newsearch" name="newsearch" type="hidden" value="true" />
	<input id="cid" name="cid" type="hidden" value="26" />
	<input type="submit" id="Submit" value="Local Search" />
</form>
<!--END SEARCH FORM-->
</span>
<span class="sl_black">
  <a href="/sl_secret_blacklist_button" >Close this Bar</a>
</span>
<span class="sl_link">
  <a href="http://www.silverliningnetworks.com/" >Ad Bar by Silver Lining</a>
</span>
</p>
