<p>
<a style="text-decoration: none;" href="[% bug_link_href %]">
<img style="position: absolute; top: 2px; left: 5px;border: 0px;padding: 0px;" src="[% bug_image_href %]" /></a>
&nbsp;&nbsp;
<span class="sl_textad_text">
<!-- SEARCH FORM -->
<table><tr><td>
  <table cellpadding="0" cellspacing="0" border="0" style="margin-top: 5px;margin-left: none; margin-right: auto;">
<form id="mainform" action="http://www.local.com/results.aspx" method="get">
	<tr>
	<td class="normal"  align="left">
    <input class="searchbox" id="keyword" maxlength="50" name="keyword" onfocus="this.select();" type="text" onFocus="if(this.value=='What')this.value='';" onBlur="if(this.value=='')this.value='What';" value="What" /></td>
		
	<td class="normal" align="left">
    <input id="location" class="searchbox" maxlength="50" name="location" onfocus="this.select();" style="" type="text" onFocus="if(this.value=='Where')this.value='';" onBlur="if(this.value=='')this.value='Where';" value="Where" /></td>
    </tr>
    <tr>
	<td class="searchboxlabel" align="left">Business and Services</td>
	<td class="searchboxlabel" style="width: 100px;" align="left">ZIP, City & State, Street Address</td></tr>
	<input id="newsearch" name="newsearch" type="hidden" value="true" />
	<input id="cid" name="cid" type="hidden" value="26" />
</table></td><td>
<table><tr><td>
	<input type="submit" id="Submit" value="Local Search" style="width:110px" />&nbsp;&nbsp;</td>
</form>
    <td>&nbsp;&nbsp;<a href="http://www.local.com/?referer=silverlining"><img border="0" src="http://www.redhotpenguin.com/images/sl/local_logo.gif"></a>
  </td></tr></table>
</td></tr></table>
<!--END SEARCH FORM-->
</span>
<span class="sl_black">
  <a href="/sl_secret_blacklist_button" >Close this Bar</a>
</span>
<span class="sl_link">
  <a href="http://www.silverliningnetworks.com/" >Ad Bar by Silver Lining</a>
</span>
</p>
