<p>
<a style="text-decoration: none;" href="http://www.oregoncc.org/">
<img style="position: absolute; top: 2px; left: 5px;border: 0px;padding: 0px;" src="http://www.redhotpenguin.com/images/sl/occ_bug.gif" /></a>
&nbsp;&nbsp;
<span class="sl_textad_text">
  <a href="[% ad_link %]">[% ad_text %]</a>
</span>
<span class="sl_black">
  <a href="/sl_secret_blacklist_button" >Close this Bar</a>
</span>
<span class="sl_link">
  <a href="http://www.silverliningnetworks.com/" >Ad Bar by Silver Lining</a>
</span>
</p>
