<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Silver Lining Networks</title>

<body>


<h1>We are sorry, but the Opera browser is currently unsupported by the Silver Lining Network.</h1>

<h2>To assure you of the highest possible network quality, we do not currently support the Opera browser.  Our quality assurance team has found that Opera cannot deliver acceptable network performance under many browsing situations.  They surf the web all day, and want it to be fast, so we support their decision.  For comments or questions, please email <a href="mailto:support@silverliningnetworks.com">support@silverlingnetworks.com</a>.  We recommend using the FireFox, Safari, Internet Explorer, or iPhone browsers.</h2>

</body>
</html>
