<div id="silver_lining_ad_horizontal"><div id="silver_lining_text_ad"><a href="[% bug_link_href %]" id="silver_lining_bug" style="background:url([% bug_image_href %]);"></a><div id="silver_lining_client_ad">[% code %]</div><a onClick="silverLiningClose(); return false;" id="silver_lining_close" href="#"><img src="http://s1.slwifi.com/images/icons/close_blue.png" title="Hide Advertisement" alt="close" /></a><div class="silver_lining_clear"></div></div></div><div id="silver_lining_webpage">
