<p>
<a style="text-decoration: none;" href="[% bug_link_href %]">
<img style="position: absolute; top: 2px; left: 5px;border: 0px;padding: 0px;" src="[% bug_image_href %]" /></a>
&nbsp;&nbsp;
<span class="sl_textad_text">
  <a href="[% ad_link %]">[% ad_text %]</a>
</span>
<span class="sl_black">
  <a href="/sl_secret_blacklist_button" >Close X</a>
</span>
<span class="sl_link">
  <a href="[% splash_href %]" >Silver Lining</a>
</span>
</p>
