<div id="silver_lining_ad_vertical"><div id="silver_lining_wide_skyscraper"><div id="silver_lining_bug" style="background:url([% bug_image_href %]);"><a href="[% bug_link_href %]"></a></div><div id="silver_lining_client_ad">[% code %]</div>[% IF close_box %]<a onClick="silverLiningClose(); return false;" id="silver_lining_close" href="#"><img src="http://s1.slwifi.com/images/icons/close_blue.png" title="Hide Advertisement" alt="close" /></a>[% END %]<div class="silver_lining_clear"></div></div></div><div id="silver_lining_wideskyscraper_webpage">
