<p class="sl">
<a style="text-decoration: none;" href="http://www.zonafarms.com/">
<img style="position: absolute; top: 0px; left: 5px;border: 0px;padding: 0px;" src="http://www.silverliningnetworks.com/zona/zona_bug.gif" /></a>
&nbsp;&nbsp;
<span class="sl_textad_text">

<!--/* OpenX iFrame Tag v2.4.5 */-->

<!--/*
  * This tag has been generated for use on a non-SSL page. If this tag
  * is to be placed on an SSL page, change the
  *   'http://www.redhotpenguin.com/openx/www/delivery/...'
  * to
  *   'https://www.redhotpenguin.com/openx/www/delivery/...'
  *
  * The backup image section of this tag has been generated for use on a
  * non-SSL page. If this tag is to be placed on an SSL page, change the
  *   'http://www.redhotpenguin.com/openx/www/delivery/...'
  * to
  *   'https://www.redhotpenguin.com/openx/www/delivery/...'
  *
  * If iFrames are not supported by the viewer's browser, then this
  * tag only shows image banners. There is no width or height in these
  * banners, so if you want these tags to allocate space for the ad
  * before it shows, you will need to add this information to the <img>
  * tag.
  */-->

<iframe id='a6d99150' name='a6d99150' src='http://www.redhotpenguin.com/openx/www/delivery/afr.php?refresh=60&amp;n=a6d99150&amp;zoneid=8&amp;cb=INSERT_RANDOM_NUMBER_HERE' framespacing='0' frameborder='no' scrolling='no' width='728' height='90' allowtransparency='true'><a href='http://www.redhotpenguin.com/openx/www/delivery/ck.php?n=a333cc5c&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://www.redhotpenguin.com/openx/www/delivery/avw.php?zoneid=8&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a333cc5c' border='0' alt='' /></a></iframe>
<script type='text/javascript' src='http://www.redhotpenguin.com/openx/www/delivery/ag.php'></script>


</span>
<span class="sl_link">
  <a href="[% splash_href %]" >Silver Lining</a>
</span>
<span class="sl_black">
  <a href="/sl_secret_blacklist_button" >Close X</a>
</span>
<span class="sl_link">
  <a href="[% splash_href %]" >Silver Lining</a>
</span>

</p>
