<p>
<a style="text-decoration: none;" href="[% sl_link %]">
<img style="position: absolute; top: 2px; left: 5px;border: 0px;padding: 0px;" src="http://www.redhotpenguin.com/images/sl/free_wireless.gif" /></a>
&nbsp;&nbsp;
<span class="sl_textad_text">
  <a href="[% ad_link %]">[% ad_text %]</a>
</span>
<span class="sl_link">
  <a href="[% sl_link %]" >Ad Bar by SilverLining</a>
</span>
</p>
