<p>
<a style="text-decoration: none;" href="[% sl_link %]">
<img style="position: absolute; top: 2px; left: 5px;border: 0px;padding: 0px;" src="[% bug_link %]" /></a>
&nbsp;&nbsp;
<span class="sl_textad_text">
  <a href="[% ad_link %]">[% ad_text %]</a>
</span>
<span class="sl_black">
  <a href="/sl_secret_blacklist_button" >Close this Ad</a>
</span>
<span class="sl_link">
  <a href="http://www.silverliningnetworks.com" >Ad Bar by Silver Lining</a>
</span>
</p>
