/*---------------------------------------------
SILVER LINING STYLE SHEET
Version: 2.0
Author: SILVER LINING NETWORKS INC.
---------------------------------------------*/



/*= GENERAL
=== === === === === === === === === === === === === */
body {
margin: 0;
padding: 0px 0px 120px 0px !important;
}
.silver_lining_clear {
clear: both;
}
#silver_lining_floating_horizontal {
position: fixed;
bottom: 0;
left: 0;
right: 0;
text-align: center;
padding: 16px 0px 10px 0px;
background: #FFF url(../images/backgrounds/border.png) repeat-x top left; 
z-index: 3000;
}


/*= BUTTON
=== === === === === === === === === === === === === */

.big_button {
border: 1px solid #033a64;
padding: 10px;
background: #175a81 url(../images/buttons/blue_square_bg.png) repeat-x top left;
display: block;
margin: 0px;
overflow: visible;
color: #FFF;
font-size: 122%;
font-family: Verdana, Arial, san-serif;
line-height: normal;
width: auto;
text-decoration: none;
cursor: pointer;
}
.big_button .block {
display: block;
font-size: 114%;
}
.big_button:hover {
border: 1px solid #6ea60a;
background: #7bb90f url(../images/buttons/green_square_bg.png) repeat-x top left;
}
.big_button:active {
border: 1px solid #6ea60a;
background: none;
background-color: #7bb90f ;
}

/*= LEADERBOARD
=== === === === === === === === === === === === === */
#silver_lining_leaderboard {
text-align: left;
margin-left:auto;
margin-right: auto;
max-width: 1100px;
min-width: 960px;
height: 94px;
position: relative;
}
#silver_lining_leaderboard #silver_lining_bug {
float: left; 
height: 90px;
width: 200px;
background-position: top left !important;
background-repeat: no-repeat !important;
overflow: hidden;
text-align: center;
}
#silver_lining_leaderboard #silver_lining_client_ad {
float: left;
height: 90px;
width: 728px;
overflow: hidden;
margin-left: 10px;
}
#silver_lining_leaderboard #silver_lining_homepage {
position: absolute;
background: url(../images/logos/sl_logo_small.png) no-repeat top left;
width: 89px;
height: 64px;
overflow: hidden;
font-family: Verdana, Arial, serif;
font-size: 10px;
text-indent: -3000px;
top: -52px;
right: 5px;
border: none;
z-index: 5000;
}
#silver_lining_leaderboard #silver_lining_close {
position: absolute;
bottom: 0px;
right: 0px;
border: none;
z-index: 5000;
}
#silver_lining_leaderboard #silver_lining_close img,
#silver_lining_leaderboard #silver_lining_homepage img{
border: none;
}
#silver_lining_advertise_here_link {
font-family: Verdana, arial, san-serif;
font-size: 11px;
display: block;
position: absolute;
right: 100px;
bottom: -10px;
text-align: center;
color: #25709a;
}
#silver_lining_textlink {
background-color: #FFFFE4;
border: 1px solid #F7D666;
padding: 10px 100px;
font-size: 12px;
font-weight: bold;
font-family: Verdana, Arial, san-serif;
line-height: 22px;
text-decoration: none;
display: block;
color: #444;
}
#silver_lining_textlink:hover {
text-decoration: underline;
color: #25709a;
}


/*= IE 6 HACKS
=== === === === === === === === === === === === === */
* html #silver_lining_floating_horizontal {
position: absolute;
z-index: 3000;
bottom:0px
width: expression(document.body.clientWidth);
}
* html body {
height: 100%; overflow: auto;
}
* html #silver_lining_leaderboard {
width:auto;
}
* html #silver_lining_leaderboard #silver_lining_homepage {
background: url(../images/logos/sl_logo_small_low.png) no-repeat top left;
}