/*---------------------------------------------
SILVER LINING STYLE SHEET
Version: 2.0
Author: SILVER LINING NETWORKS INC.
---------------------------------------------*/

/*= GENERAL
=== === === === === === === === === === === === === */
body {
margin: 0;
padding: 116px 0px 0px 0px;
padding-top: 116px !important;
}
.silver_lining_clear {
clear: both;
}
#silver_lining_floating_horizontal {
position: fixed;
top: 0;
left: 0;
right: 0;
text-align: center;
padding: 10px 0px 16px 0px;
background: #FFF url(../images/backgrounds/border.png) repeat-x bottom left; 
z-index: 10000;
}
#silver_lining_webpage {
position: relative;
}

#silver_lining_advertise_here_link {
	position: absolute; 
	bottom: -15px;
	right: 170px;
	font-size:11px;
    color:#369;
}

/*= LEADERBOARD
=== === === === === === === === === === === === === */
#silver_lining_leaderboard {
text-align: left;
margin-left:auto;
margin-right: auto;
max-width: 1100px;
min-width: 960px;
height: 90px;
position: relative;
}
#silver_lining_leaderboard #silver_lining_bug {
float: left; 
height: 90px;
width: 200px;
background-position: top left !important;
background-repeat: no-repeat !important;
overflow: hidden;
}
#silver_lining_leaderboard #silver_lining_client_ad {
float: left;
height: 90px;
width: 728px;
overflow: hidden;
margin-left: 10px;
}
#silver_lining_leaderboard #silver_lining_homepage {
position: absolute;
background: url(../images/logos/sl_logo_small.png) no-repeat top left;
width: 89px;
height: 64px;
overflow: hidden;
font-family: Verdana, Arial, serif;
font-size: 10px;
text-indent: -3000px;
bottom: -40px;
right: 5px;
border: none;
z-index: 5000;
}
#silver_lining_leaderboard #silver_lining_close {
position: absolute;
top: 0px;
right: 10px;
border: none;
z-index: 5000;
}
#silver_lining_leaderboard #silver_lining_close img,
#silver_lining_leaderboard #silver_lining_homepage img{
border: none;
}


/*= IE 6 HACKS
=== === === === === === === === === === === === === */
* html #silver_lining_floating_horizontal {
position: absolute;
z-index: 3000;
top:0px
width: expression(document.body.clientWidth);
}
* html body {
height: 100%; overflow: auto;
}
* html #silver_lining_leaderboard {
width: auto;
/* width:960px; */
}
* html #silver_lining_leaderboard #silver_lining_homepage {
background: url(../images/logos/sl_logo_small_low.png) no-repeat top left;
}