
    <form class="grid_16 search-bar" method="get" action="http://[% perlbal_listen %]/search">

    [% IF logo %] <img src="/resources/images/sl_logo.png" title="Silver Lining Networks" alt="Silver Lining Networks" /> [% END %]

        <div class="search-container">
            <input class="search-box" type="text" name="q" value="[% q %]" /> 
            <input class="submit" type="submit" name="submit" value="Search"/> 
            <div class="clear"></div>

            [% IF logo %]
            <div class="search-options">
                <p>Search took [% query_time %] seconds&nbsp;&nbsp;
[% IF query_time < 0.1 %]<br /><font color="green">Wow, that was fast!</font>[% END %]
[% IF query_time > 3.00 %]<br /><font color="red">We're sorry that search took so long!  Please use the support tab on the left for assistance.</font>[% END %]
</p>
                <div class="clear"></div>
            </div>
            [% END %]
        </div>
    </form>
