
<!-- CityGrid -->
[% FOREACH cg_ad IN cg_ads %]
    <div class="ad">
    <a href="[% cg_ad.profile %]" title="visit: [%cg_ad.name%]">
        [% IF cg_ad.image %]
		<img border="0" class="ad_pic"  height="60" width="60" src="[% cg_ad.image %]"/>
	[% ELSE %]
        	<img border="0" class="ad_pic"  src="[% static_host %]/images/logos/citysearch_small.gif"/>
	[% END %]

	<div class="ad_content">
       		 <h2>[% cg_ad.name %]</h2>
		<p class="ad_main_info">
       		 [% IF cg_ad.tagline %]
		 	[% cg_ad.tagline %]
		[% ELSE %]
       			 [% cg_ad.samplecategories %]
		[% END %]
		</p>
        	<p class="ad_meta_info">Neighborhood:  [% cg_ad.neighborhood %]</p>
    	</div>
	<div class="clear"></div>
    </a>
    </div>
[% END %]

[% IF cg_ads %]
        <img class="city_search_logo" src="[% static_host %]/images/logos/Citysearch.gif"/> 
[% END %] 
