
[% IF suggestions.0 %]
<div id="related" class="container_16">
	<div class="grid_10">
		<h5>Searches related to: <strong>[% q %]</strong></h5>
		<ul>
            [% FOREACH suggestion = suggestions %]

			<li><a href="/search?q=[% suggestion %]&submit=Search">[% suggestion %]</a></li>
            [% END %]
		</ul>
		<div class="clear"></div>
	</div>
<div class="clear"></div>
</div>

[% END %]

<div id="footer" class="container_16">
    <div class="pagination grid_10 suffix_6">
         <ul>
             [% UNLESS start == 0 %]<li class="selected"><a href="/search?q=[% q %]&start=[% start - 10 %]">Prev</a></li>[% END %]

             <li[% UNLESS start == 0 %] class="selected"><a href="/search?q=[% q %]&start=0"[% END %]>1[% UNLESS start == 0 %]</a>[% END %]</li>

             <li[% UNLESS start == 10 %] class="selected"><a href="/search?q=[% q %]&start=10"[% END %]>2[% UNLESS start == 10 %]</a>[% END %]</li>

             <li[% UNLESS start == 20 %] class="selected"><a href="/search?q=[% q %]&start=20"[% END %]>3[% UNLESS start == 20 %]</a>[% END %]</li>

             <li[% UNLESS start == 30 %] class="selected"><a href="/search?q=[% q %]&start=30"[% END %]>4[% UNLESS start == 30 %]</a>[% END %]</li>

             <li[% UNLESS start == 40 %] class="selected"><a href="/search?q=[% q %]&start=40"[% END %]>5[% UNLESS start == 40 %]</a>[% END %]</li>

             <li[% UNLESS start == 40 %] class="selected"><a href="/search?q=[% q %]&start=[% start + 10 %]">Next</a></li>[% END %]
         </ul>
         <div class="clear"></div>
    </div>
    <div class="clear"></div>

    [% PROCESS box.tmpl logo=0 %]    


    <div class="clear"></div>

    <small id="copyright">Copyright 2010 Silver Lining Networks</small>


<script type="text/javascript">
var zenbox_params = {};
zenbox_params.tab_id = "support";
zenbox_params.tab_color = "#03406a";
zenbox_params.title = "Helping Friendly Support";
zenbox_params.text = "How may we help you?  Please fill in details below, and we'll get back to you as soon as possible.  Please include your browser and operating system versions, and the url.  Our support ninjas are standing by...";
zenbox_params.tag = "dropbox";
zenbox_params.url = "silverlining.zendesk.com";
</script>
<script type='text/javascript' src='//assets0.zendesk.com/external/zenbox/overlay.js'></script>

</div>

</body>
</html>
