<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <!-- META -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <meta name="description" content=""/> 
  <meta name="keywords" content="" /> 
  
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="[% static_host %]/css/common.css" />
  <link rel="stylesheet" type="text/css" href="[% static_host %]/css/960.css" />
  <link rel="stylesheet" type="text/css" href="[% static_host %]/css/main.css" />
  <link rel="stylesheet" type="text/css" href="[% static_host %]/css/zendesk.css" />
  <!-- IE HACKS -->
  <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="/[% static_host %]/css/ie/.css" /><![endif]-->
  <script type="text/javascript" src="[% static_host %]/js/mootools.js"></script>
  <script type="text/javascript">
	document.addEvent('domready', function(e){
		var tos_button = $('tos'); 

		if(tos_button) {
			tos_button.addEvent('click', function(e) {
				e.stop(); 
				$$('.greetings').setStyle('display', 'none');
				new Request.JSON({
					'url': '/tos'
				}).send()
			});
		}
	});



  </script>
<!-- FAVICON --> 
<link rel="shorcut icon" href="[% static_host %]/images/icons/favicon.ico" />
  
  <title>Displaying query results for '[% q %]'</title>
</head>
<body>
