<div class="container_16">
	<div class="grid_10">
		 <p class="greetings">Email <a href="mailto:support@slwifi.com">support@slwifi.com</a> to receive revenue from this network at IP [% remote_ip %].</p>
	</div>
<div class="clear"></div>
</div>

