<div class="container_16">
	<div class="grid_10">
		 <p class="greetings">Click the blue 'Support' tab on the right and register your network zip code, IP [% remote_ip %], and estimated users per month to start receiving revenue from this network. Include as much information about this network as possible (links to pictures, latitude/longitude).  The more information, the more revenue your network will generate.</p>
	</div>
<div class="clear"></div>
</div>

