<table cellspacing=0 cellpadding=0 width=30% align=right bgcolor="#ffffff" border=0 class=ra >
	<tr><td class=std nowrap><strong>Quick Links</strong></td></tr>
	<tr><td class=std>These quick links are here to help you quickly get to common destinations.  As always, you can use the search box to get exactly where you want to go.</td></tr>
	<tr><td height=25 align=center>&nbsp;</td></tr>
    <tr><td class=std nowrap><a href="http://mail.yahoo.com/">Yahoo Mail</a></td></tr>
    <tr><td class=std nowrap><a href="http://maps.yahoo.com/">Yahoo Maps</a></td></tr>
    <tr><td class=std nowrap><a href="http://images.search.yahoo.com/">Yahoo Images</a></td></tr>
    <tr><td class=std nowrap><a href="http://video.search.yahoo.com/">Yahoo Video</a></td></tr>
    <tr><td class=std nowrap><a href="http://news.yahoo.com/">Yahoo News</a></td></tr>
    <tr><td class=std nowrap><a href="http://shopping.yahoo.com/">Yahoo Shopping</a></td></tr>
    <tr><td class=std nowrap><a href="https://login.yahoo.com/">Yahoo Account Sign in</a></td></tr>
	
    <tr><td height=25 align=center>&nbsp;</td></tr>
    <tr><td class=std nowrap><a href="http://mail.google.com/mail/">Gmail</a></td></tr>
    <tr><td class=std nowrap><a href="http://maps.google.com/">Google Maps</a></td></tr>
    <tr><td class=std nowrap><a href="http://www.google.com/imghp">Google Images</a></td></tr>
    <tr><td class=std nowrap><a href="http://video.google.com/">Google Video</a></td></tr>
    <tr><td class=std nowrap><a href="http://news.google.com/nwshp">Google News</a></td></tr>
    <tr><td class=std nowrap><a href="http://www.google.com/prdhp">Google Shopping</a></td></tr>
    <tr><td class=std nowrap><a href="https://www.google.com/accounts/Login">Google Account Sign in</a></td></tr>
	
    <tr><td height=25 align=center>&nbsp;</td></tr>
    <tr><td class=std nowrap><a href="http://mail.live.com/">Hotmail</a></td></tr>
    <tr><td class=std nowrap><a href="http://www.bing.com/maps/">Bing Maps</a></td></tr>
    <tr><td class=std nowrap><a href="http://www.bing.com/images">Bing Images</a></td></tr>
    <tr><td class=std nowrap><a href="http://www.bing.com/videos">Bing Videos</a></td></tr>
    <tr><td class=std nowrap><a href="http://www.bing.com/news">Bing News</a></td></tr>
    <tr><td class=std nowrap><a href="http://www.bing.com/shopping">Bing Shopping</a></td></tr>
    <tr><td class=std nowrap><a href="http://www.bing.com/travel">Bing Travel</a></td></tr>
    <tr><td class=std nowrap><a href="http://www.bing.com/entertainment">Bing Entertainment</a></td></tr>
    <tr><td class=std nowrap><a href="https://login.live.com/">Windows Account Sign in</a></td></tr>



	<tr height=7><td><img width=1 height=1 alt=""></td></tr>
	<tr><td height=25 align=center>&nbsp;</td></tr>
</table>
