         [% IF s_referer == 'google' %]
             <li><a href="http://www.google.com/images">Images</a></li>
             <li><a href="http://video.google.com">Videos</a></li>
             <li><a href="http://maps.google.com">Maps</a></li>
             <li><a href="http://news.google.com">News</a></li>
             <li><a href="http://www.google.com/prdhp">Shopping</a></li>
             <li><a href="http://mail.google.com">Gmail</a></li>
         [% END %]
