[% PROCESS header_static.tmpl %]
<div id="top">
  <div class="container_16">
    <div id="link-bar" class="grid_16">
         <ul>
         [% PROCESS referrer.tmpl %]

         </ul>
         <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>

[% IF state.tos == 0 %][% tos.tmpl %][% END %]

<div class="container_16">    

    [% PROCESS box.tmpl logo=1 %]

    <div class="clear"></div>
</div>

<div class="container_16">
    <div class="grid_10">[% PROCESS results.tmpl %]</div>
    <div class="grid_6">[% IF cg_ads %][% PROCESS citygrid.tmpl %][% ELSE %]Instead of some ads, here is a picture of a mongoose[% END %]</div>
    <div class="clear"></div>
</div>



[% PROCESS footer.tmpl %]

