[% PROCESS header_static.tmpl %]
<div id="top">
  <div class="container_16">
    <div id="link-bar" class="grid_16">
         <ul>
             <li><a href="http://www.google.com/images">Images</a></li>
             <li><a href="http://video.google.com">Videos</a></li>
             <li><a href="http://maps.google.com">Maps</a></li>
             <li><a href="http://news.google.com">News</a></li>
             <li><a href="http://www.google.com/prdhp">Shopping</a></li>
             <li><a href="http://mail.google.com">Gmail</a></li>
         </ul>
         <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="container_16">    

    [% PROCESS box.tmpl logo=1 %]

    <div class="clear"></div>
</div>

<div class="container_16">

    <div class="grid_10">[% PROCESS results.tmpl %]</div>
    <div class="clear"></div>
</div>

[% PROCESS footer.tmpl %]

