[% IF 0 # sideadcode %]
<!-- begin right ad bar -->
<table cellspacing=0 cellpadding=0 width=30% align=right bgcolor="#ffffff" border=0 class=ra >
	<tr><td rowspan=5>&nbsp;&nbsp;</td><td height=25 align=center>

<tr><td class=std nowrap>
[% sideadcode %]

</td></tr>
			<tr height=7><td><img width=1 height=1 alt=""></td></tr>
	<tr><td height=25 align=center>&nbsp;</td></tr>


</table>
<!-- end right side ad bar -->

[% END %]

