<div class="container_16">
	<div class="grid_10">
		 <p class=" greetings">Hi there, to keep this wifi network free, your search results are provided by our sponsors. <br/>
		 <a href="/tos" id="tos">Click here to make hide this first time message.</a></p>
	</div>
<div class="clear"></div>
</div>

