<div class="container_16">
 <p class="grid_10 greetings">Hi there, to keep this wifi network free, your search results are provided by our sponsors.  <a href="/tos">Click here to make hide this first time message.</a></p>
<div class="clear"></div>
</div>

