<div class="container_16">
	<div class="grid_10">
		 <p class=" greetings">Hello! These sponsored search results help cover the cost of your WiFi usage.&nbsp;&nbsp;<a href="/tos" id="tos">X</a></p>
	</div>
<div class="clear"></div>
</div>

