/*---------------------------------------------
SILVER LINING STYLE SHEET
Version: 2.0
Author: SILVER LINING NETWORKS INC.
---------------------------------------------*/

/*= GENERAL
=== === === === === === === === === === === === === */
body {
margin: 0;
padding: 0;
}
.silver_lining_clear {
clear: both;
}
#silver_lining_ad_vertical {
position: absolute;
left: 0;
top: 0;
bottom: 0;
padding:10px 16px 10px 10px;
background: #FFF url(../images/backgrounds/border_vertical.png) repeat-y top right; 
}
#silver_lining_webpage {
position: relative;
}


/*= BUTTON
=== === === === === === === === === === === === === */

.big_button {
border: 1px solid #033a64;
padding: 15px 10px;
background: #175a81 url(/resources/images/buttons/blue_sqaure_bg.png) repeat-x top left;
display: block;
margin: 0px;
overflow: visible;
color: #FFF;
font-size: 77%;
font-family: Verdana, Arial, san-serif;
line-height: normal;
width: auto;
text-decoration: none;
cursor: pointer;
}
.big_button .block {
display: block;
font-size: 114%;
}
.big_button:hover {
border: 1px solid #6ea60a;
background: #7bb90f url(/resources/images/buttons/green_sqaure_bg.png) repeat-x top left;
}
.big_button:active {
border: 1px solid #6ea60a;
background: none;
background-color: #7bb90f ;
}



/*= SKYSCRAPER
=== === === === === === === === === === === === === */
#silver_lining_skyscraper_webpage {
margin-left: 146px;
}
#silver_lining_skyscraper {
width: 120px;
position: relative;
padding: 20px 0px;
}
#silver_lining_skyscraper #silver_lining_bug {
height: 90px;
width: 120px;
background-position: top center !important;
background-repeat: no-repeat !important;
overflow: hidden;
text-align: center;
}
#silver_lining_skyscraper #silver_lining_client_ad {
width: 120px;
overflow: hidden;
font-family: Verdana, Arial, serif;
font-size: 12px;
line-height: 22px;
color: #087877;
text-align: center;
}
#silver_lining_skyscraper #silver_lining_client_ad p,
#silver_lining_skyscraper #silver_lining_client_ad a  {
color: #087877;
text-decoration: none;
}
#silver_lining_skyscraper #silver_lining_client_ad a:hover  {
text-decoration: underline;
}
#silver_lining_skyscraper #silver_lining_homepage {
position: absolute;
background: url(../images/logos/sl_logo_small.png) no-repeat top left;
width: 89px;
height: 64px;
overflow: hidden;
font-family: Verdana, Arial, serif;
font-size: 10px;
text-indent: -3000px;
bottom: -40px;
right: -45px;
border: none;
z-index: 1000;
}
* html #silver_lining_skyscraper #silver_lining_homepage {
background: url(../images/logos/sl_logo_small_low.png) no-repeat top left;
}
#silver_lining_skyscraper #silver_lining_close {
position: absolute;
top: -5px;
right: -5px;
border: none;
}
#silver_lining_skyscraper #silver_lining_close img,
#silver_lining_skyscraper #silver_lining_homepage img{
border: none;
}

