[% INCLUDE header.tmpl %]

<div id="list_center">
	<div class="content">

<h2><a href="/app">Dashboard</a> > <a href="/app/blacklist/index">Blacklist Websites</a> > [% IF url.url_id == -1 %]Add[% ELSIF url.url_id != -1 %]Edit[% END %]</h2>

<div id="edit_form">

<table class="edit">

<tr><td colspan=2>
	[% IF url.url_id != -1 %]
	<p>YOU ARE EDITING BLACKLISTED URL ID '[% url.url_id %]'</p>
[% ELSIF url.url_id == -1 %]
<p>You are blacklisting a url</p>
[% END %]

[% IF errors.missing %]
<p><font color="red">Please complete the missing fields</font></p>
[% END %]
[% IF errors.invalid %]
<p><font color="red">Some fields were invalid, please correct them</font></p>
[% END %]
<hr size=1 color="#CCCCCC"></td>

<form method="POST" action="/app/blacklist/edit/?url_id=[% url.url_id %]">
<tr><td>
[% IF errors.missing.url %]<font color="red">[% END %]
URL:
[% IF errors.missing.url %]</font>[% END %]
</td><td>
<input type="text" name="url" size="50" maxlength="100" value="[% url.url %]">
</td></tr>
<tr><td colspan=2><hr size=1 color="#CCCCCC"></td></tr>
<tr><td><input type="submit" value="Save"></td></tr>
</form>
</table>
</div>
</div>
</div>
[% INCLUDE right.tmpl %]
[% INCLUDE footer.tmpl %]

