[% INCLUDE header.tmpl %]

<div id="list_center">
	<div class="content">

<h2><a href="/app">Dashboard</a> > <a href="/app/settings/index"> Manage Settings</a> > Manage Router
[% IF router.name %] [% router.name %] 
[% ELSE %] [% router.ip %]
[% END %]</h2>

<p>Use this page to edit the settings for this router</p>
<div id="edit_form">

<form method="POST" action="/app/settings/router" enctype = 'multipart/form-data'>

[% IF updated_name == 'ok' %]
<p><font color="red">Name has been updated</font></p>
[% END %]

[% IF status == 'ok'%]
<p><font color="red">Image has been uploaded</font></p>
[% ELSIF status == 'not_gif' %]
<p><font color="red">Sorry that wasn't a gif! Please upload a 80 pixel wide by 50 pixel high gif.</font></p>
[% ELSIF status == 'not_sized' %]
<p><font color="red">Sorry that gif image was too big!  It needs to be smaller than 80 pixels wide and 50 pixels high.</font></p>
[% END %]

<table class="edit">

<tr><td>
[% IF errors.missing.name %]<font color="red">Name this router:</font>
[% ELSE %]
Name this router:
[% END %]
</td>
<td>
<input type="text" name = "name" size="25" maxlength="25" value='[% router.name %]'>
<input type="hidden" name="id" value="[% router.router_id %]">
</td></tr>

<tr><td colspan="2">This router is located at ip <b>[% router.ip %]</b></td></tr>

[% IF file != '' %]
<tr><td>Current Sponsor Image:&nbsp;</td><td><img src='[% file %]'></td></tr>
[% END %]


<tr><td>
[% IF errors.missing %]<font color="red">[% END %]
Upload New Image[% IF status == 'missing' %]</font>[% END %]
</td>
<td><input type=file name=bug></td></tr>
<tr style="margin: 0px; padding: 0px;"><td colspan=2><font color="#CCCCCC">
(Image will be resized to a 90px wide by 45 px tall gif)</font></td></tr>

<hr size=1 color="#CCCCCC">
<tr><td><input type="submit" value="Save"></td></tr>
</form>

[% IF img_file != '' %]
<tr><td>
<img src="[% img_file %]">
</td></tr>
[% END %]

  </table>

</div>
</div>
</div>
[% INCLUDE right.tmpl %]
[% INCLUDE footer.tmpl %]

