<p class="sl_textad">
<a style="text-decoration:none" href="http://h1.redhotpenguin.com:7777/click/4b0a3c9fa343bc654ad458d1b67704d9">
<img class="sl_textad" src="http://www.redhotpenguin.com/images/sl/free_wireless.gif"></a>
&nbsp;&nbsp;&nbsp;
<a style="text-decoration:none" href="http://h1.redhotpenguin.com:7777/click/6107eb6d665fed906578d8a286059174">
<span class="sl_textad_text">Charge up your SkypeOut minutes at Skype Store USA<span></a>
</p>