<p style="background-color: white;height: 20px;">
<a style="text-decoration: none;" href="[% sl_link %]">
<img style="position: absolute; top: 10px; left: 10px;border: 0px;" src="http://www.redhotpenguin.com/images/sl/free_wireless.gif">
</a>
&nbsp;&nbsp;&nbsp;
<span class="sl_textad_text">
<a style="text-decoration: none; font-size: 16px;font-family: Trebuchet;" href="[% ad_link %]">[% ad_text %]</a></span>
</p>