
                               <div id="custom_logo">
                                        <a id="logo_image" href="http://www.aircloud.com/" style="background: url(/resources/images/logos/aircloud.png) no-repeat center center ">
                                        <div id="gloss"> </div>
                                        </a>
                                </div>
