<!-- MAIN SECTION START #################### -->
<div id="section_four">
                <div class="center padding_t_40 padding_b_40">


                                        <!-- CHOOSE WIFI COPY ************************ -->
                                <div class="two_thirds left">
                                        <h2 class="icon_present">Coupon Code</h2>
                                        <p>If you have a coupon code for FREE WiFi you can redeem it here.</p>
                                        <form id="coupon_code" method="post" action="">
                                                <ul>
                                                        <li>
                                                                <label class="left" for="coupon">Enter Code:</label>
                                                                <input class="left" type="text" name="coupon" id="coup\
on" />
                                                        </li>
                                                        <li>
                                                                <span class="standard_button_large left">
                                                                        <input  type="submit" id="submit_coupon" value\
="redeem coupon" />
                                                                </span>
                                                        </li>
                                                </ul>
                                                <div class="clear"></div>
                                        </form>
                                </div>


                <div class="clear"></div>
                </div>
</div>
