<div id="section_three">
	<div id="section_three_inner">
		<div class="center">
			<!-- CHOOSE WIFI COPY ************************ --> 
			<div class="two_thirds left">
				<h2>Our Pledge</h2>
				<h3>We promise to never share your information with anyone</h3>
				<p>
				Your privacy is important to us. We promise to respect and protect your privacy and never
			 give your e-mail address or other information away to anyone. Trust is an important part of 
			 good business and we pledge to give you the best service and always protect your privacy. 
				We hope you appreciate our commitment to you and thank you for your business. 
				<a href="http://www.silverliningnetworks.com/">Learn more about Silver Lining Networks</a>
				</p>
			</div>

			<!-- LOGO ************************ --> 
			<div class="one_third right">

            [% PROCESS auth/form/logo.tmpl %]

			</div>					
			<div class="clear"></div>
		</div>
	</div>	
</div>
