<dt><label for="plan">Choose a plan:</label></dt>

<dd>
    <span class="half">
    <select id="plan" name="plan">
        <option value="one" [% IF req.param('plan') == 'one' %]SELECTED[% END %]>1 hour ($2)</option>
        <option value="four" [% IF req.param('plan') == 'four' %]SELECTED[% END %]>4 hours ($3)</option>
	    <option value="day" [% IF req.param('plan') == 'day' %]SELECTED[% END %]>24 hours ($5)</option>
	    <option value="month" [% IF req.param('plan') == 'month' %]SELECTED[% END %]>1 month ($25)</option>
	</select>
	</span>
	<div class="clear"></div>
</dd>
