    <ul id="payment_info">
<!--
        <li>
            <h3>We also accept PayPal</h3>
            <div class="left margin_r_10 margin_t_t">
            [% paypal_button %]
            </div>
            <div class="clear"></div>
        </li>
-->
        <li class="clear"><strong>Thank you for your business.</strong>  You are purchasing access to this high-speed WiFi network for the period of time you choose.</li>

        <li>Your <strong class="lock">secure payment</strong> transaction is through Authorize.Net, the <strong>world's most trusted </strong>provider of Internet payment processing. If you have questions, or need assistance:
            <ul>
                <li>Phone: <strong>888.430.7511</strong></li>
                <li><a href="mailto:support@silverliningnetworks.com">support@silverliningnetworks.com</a></li>
            </ul>
        </li>

        <li><!-- (c) 2005, 2008. Authorize.Net is a registered trademark of CyberSource Corporation -->
            <div class="AuthorizeNetSeal">
            <script type="text/javascript" language="javascript">var ANS_customer_id="30450988-3d08-48c1-9d27-75071cb90664";</script>
            <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script>  
            </div>
        </li>
    </ul>
