    <ul id="payment_info">
    
<!--
        <li>
            <h3>We also accept PayPal</h3>
            <div class="left margin_r_10 margin_t_t">
            [% paypal_button %]
            </div>
            <div class="clear"></div>
        </li>
-->
        <li class="clear"><strong>Thank you for your business.</strong>  You are purchasing access to this high-speed WiFi network for a <strong>
[% IF req.param('plan') == 'one' %]1 hour ($2)
[% ELSIF req.param('plan') == 'four' %]4 hours ($3)
[% ELSIF req.param('plan') == 'day' %]24 hours ($5)
[% ELSIF req.param('plan') == 'month' %]monthly ($15/month)
[% END %]</strong>plan.</li>

[% IF req.param('plan') == 'month' %]
<li class="clear">Your monthly subscription to the WiFi network may be cancelled at any time by contacting Silver Lining Networks at the phone number or email address listed below.</li>
[% END %]

[% PROCESS billing/authorize.tmpl %]


    </ul>
