<!-- EMAIL ADDRESS -->
<dt><label for="email">[% IF errors.missing.email or errors.invalid.email %]<font color="red">[% END %]E-mail[% IF errors.missing.email or errors.invalid.email %]</font>[% END %]</label></dt>
<dd>
	<span class="three_quarters">
        <input type="text" id="email" name="email" value="[% IF req.param('email') %][% req.param('email') %][% ELSE %]ex. john@doe.com[% END %]" />
        <label for="email">[% IF errors.missing.email or errors.invalid.email %]<font color="red">[% END %]For your receipt and will also be your username[% IF errors.missing.email or errors.invalid.email %]</font>[% END %]</label>
    </span>
    <div class="clear"></div>
</dd>

[% UNLESS nopass == 1 %]

<dt><label for="password">[% IF errors.missing.password or errors.invalid.password %]<font color="red">[% END %]Password[% IF errors.missing.password or errors.invalid.password %]</font>[% END %]</label></dt>
<dd>
<span class="half"><input name="password" type="password" id="password" value="[% req.param('password') %]"/><label for="last_name">[% IF errors.missing.password or errors.invalid.password %]<font color="red">[% END %]Minimum 6 characters[% IF errors.missing.password or errors.invalid.password %]</font>[% END %]</label></span>
<div class="clear"></div>
</dd>

<dt><label for="password">[% IF errors.missing.retype or errors.invalid.retype %]<font color="red">[% END %]Retype Password[% IF errors.missing.retype or errors.invalid.retype %]</font>[% END %]</label></dt>
<dd class="large_margin">
<span class="half"><input name="retype" type="password" id="retype" value="[% req.param('retype') %]"/><label for="last_name">[% IF errors.missing.retype or errors.invalid.retype %]<font color="red">[% END %]Must match other password[% IF errors.missing.retype or errors.invalid.retype %]</font>[% END %]</label></span>
<div class="clear"></div>

</dd>

[% END %]