[% PROCESS billing/header.tmpl %]

  <title>Advertiser Signup Form - Silver Lining Networks</title>
   <link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/sl_leaderboard.css" /> 
</head>

<body id="sln">

<div id="silver_lining_ad_horizontal">
  <div id="silver_lining_leaderboard" style="text-align:center;">
    <div id="silver_lining_client_ad" style="text-align:center;float:none; margin-left:auto;margin-right:auto;">
    	
        <!-- ACTUAL AD MARKUP START -->  
        [% IF req.param('coupon') == 'phcc' %]
				<p><a href="http://www.360villagevirtualtours.com/maps/cph/"><img src="http://www.silverliningnetworks.com/phcc/phcc_leaderboard.jpg"></a></p>
	[% ELSIF req.param('coupon') == 'myagentmatt' %]
	
				<p><a href="http://www.myagentmatt.net/?aircloud_wifi"><img src="http://s1.slwifi.com/images/ads/myagentmatt/leaderboard2.jpg"></a></p>
	[% ELSIF req.param('coupon') == 'whatbugs' %]
	
				<p><a href="http://www.leadingedgepm.com"><img src="http://www.silverliningnetworks.com/whatbugs/whatbugs_leaderboard.gif"></a></p>
	[% ELSIF req.param('coupon') == 'jesalon' %]
	
				<p><a href="http://www.jeproducts.com/"><img src="http://www.silverliningnetworks.com/jesalon/je_salon_leaderboard.gif"></a></p>


	[% ELSE %]
				 
        <img src="[% base_uri %]/resources/images/ads/skyscraper.jpg" alt="Advertise Here. Banner Space Available"/>
	[% END %]
        <!-- ACTUAL AD MARKUP END -->  
        
    </div>


    <div class="silver_lining_clear"></div>
  </div>
</div>
<div id="silver_lining_webpage">

<!-- TOP SECTION START #################### -->

	<div id="section_one">
		<div class="center">
			<!-- CHOOSE WIFI COPY ************************ --> 
			<div class="two_thirds left padding_top">
				<h2>Advertiser Signup Form</h2>
				<p>Please select an advertisement campaign plan.  A Silver Lining Networks representative will contact you and help place your advertisement.</p>
			
			</div>

			<!-- LOGO ************************ --> 
			<div class="one_third right">
                <h1 class="logo"><a href="#"><span></span>Silver Lining Networks</a></h1>
            </div>

			<div class="clear"></div>
		</div>
	</div>

	
    <!-- BODY SECTION START ######################################### -->
    [% PROCESS auth/form/bodywrapper_top.tmpl %]

        <!-- MAIN COLUMN ######## -->
        [% PROCESS auth/form/paperbox_top.tmpl %]

                <h2 class="header">Please fill out all fields</h2>

                <!-- PAYMENT FORM -->
                <form id="sl_payment" action="[% base_uri %]/billing/advertiser" method="post">

[% IF req.param('coupon') == 'halfoff' %]
<input type="hidden" name="special" value="half_first_three">
[% END %]

<dl id="form_list">
[% IF errors.payment %]
<dd><font color="red">[% errors.payment %]</font></dd>
[% ELSIF errors.invalid %]
<dd><font color="red">Some fields were invalid, please correct them</font></dd>
[% ELSIF errors.missing %]
<dd><font color="red">Please complete the missing fields</font></dd>
[% END %]

                                <dd class="subtle"><em>All fields required</em></dd>
                                [% PROCESS billing/advertiser/plan.tmpl %]
                                [% PROCESS auth/form/name.tmpl %]
                                [% PROCESS auth/form/user_info.tmpl nopass=1 %]
                                [% PROCESS auth/form/creditcard.tmpl %]
                                [% PROCESS auth/form/address.tmpl %]
                                [% PROCESS auth/form/submit_button.tmpl %]
                       </dl>
                </form>


        [% PROCESS auth/form/paperbox_bottom.tmpl %]
        <!-- END MAIN COLUMN -->

        <!-- SIDE COLUMN ##### -->
        <div class="one_third left">
            [% PROCESS billing/advertiser/sidebar.tmpl %]
        </div>
        <!-- END SIDE COLUMN ##### -->

        [% PROCESS auth/form/bodywrapper_bottom.tmpl %]

        <!-- END BODY SECTION ######################################### -->

        <!-- PLEDGE -->

        [% PROCESS auth/form/our_pledge.tmpl %]
</div>

  <script src="[% base_uri %]/resources/js/simple_validation.js" type="text/javascript"></script>
   <script type="text/javascript" src="[% base_uri %]/resources/js/horizontal.js"></script>

[% PROCESS zendesk.tmpl %]

</body>
</html>
