[% PROCESS billing/header.tmpl %]

  <title>Purchase an appliance - Silver Lining Networks</title>
</head>
<body id="sln">

<!-- TOP SECTION START #################### -->
	<div id="section_one">
		<div class="center">
			<!-- CHOOSE WIFI COPY ************************ --> 
			<div class="two_thirds left padding_top">
				<h2>Rainmaker<sup>&#0153;</sup> Advertising Appliance</h2>
                <p>Enter your payment information to purchase Silver Lining Rainmaker<sup>&#0153;</sup> Advertising Appliances.</p>
			
			</div>

			<!-- LOGO ************************ --> 
			<div class="one_third right">
                <h1 class="logo"><a href="#"><span></span>Silver Lining Networks</a></h1>
            </div>

			<div class="clear"></div>
		</div>
	</div>

	
    <!-- BODY SECTION START ######################################### -->
    [% PROCESS auth/form/bodywrapper_top.tmpl %]

        <!-- MAIN COLUMN ######## -->
        [% PROCESS auth/form/paperbox_top.tmpl %]

                <h2 class="header">Purchase Rainmaker<sup>&#0153;</sup> Advertising Appliances</h2>

                <!-- PAYMENT FORM -->
                <form id="sl_payment" action="[% base_uri %]/billing/router" method="post">
                        <dl id="form_list">

[% IF errors.payment %]
<dd><font color="red">[% errors.payment %]</font></dd>
[% ELSIF errors.invalid %]
<dd><font color="red">Some fields were invalid, please correct them</font></dd>
[% ELSIF errors.missing %]
<dd><font color="red">Please complete the missing fields</font></dd>
[% END %]

                                <dd class="subtle"><em>All fields required</em></dd>
                                [% PROCESS auth/form/name.tmpl %]
                                [% PROCESS auth/form/user_info.tmpl nopass=1%]
                                [% PROCESS auth/form/creditcard.tmpl %]
                                [% PROCESS auth/form/address.tmpl shipping=1 %]
                                [% PROCESS auth/form/submit_button.tmpl %]
                       </dl>
                </form>

        [% PROCESS auth/form/paperbox_bottom.tmpl %]
        <!-- END MAIN COLUMN -->

        <!-- SIDE COLUMN ##### -->
        <div class="one_third left">
            [% PROCESS billing/router/sidebar.tmpl %]
        </div>
        <!-- END SIDE COLUMN ##### -->

        [% PROCESS auth/form/bodywrapper_bottom.tmpl %]

        <!-- END BODY SECTION ######################################### -->

        <!-- PLEDGE -->

        [% PROCESS auth/form/our_pledge.tmpl %]
[% PROCESS zendesk.tmpl %] 
  <script src="[% base_uri %]/resources/js/simple_validation.js" type="text/javascript"></script>
</body>
</html>
