<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/triple_a.css" />
  <!--[if IE 6]><link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/triple_a_ie6.css" /><![endif]--> 
  <!--[if IE 7]><link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/triple_a_ie7.css" /><![endif]-->
  <link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/thickbox.css" />
  <script src="[% base_uri %]/resources/js/simple_validation.js" type="text/javascript"></script>
  <title>Successful Payment - Silver Lining Networks</title>
</head>
<body id="sln">

<!-- TOP SECTION START #################### -->
	<div id="section_one">
		<div class="center">
			<!-- CHOOSE WIFI COPY ************************ --> 
			<div class="two_thirds left padding_top">
				<h2>Successful Payment</h2>
			
			</div>

			<!-- LOGO ************************ --> 
			<div class="one_third right">
                <h1 class="logo"><a href="#"><span></span>Silver Lining Networks</a></h1>
            </div>

			<div class="clear"></div>
		</div>
	</div>

	
    <!-- BODY SECTION START ######################################### -->
    [% PROCESS auth/form/bodywrapper_top.tmpl %]

        <!-- MAIN COLUMN ######## -->
        [% PROCESS auth/form/paperbox_top.tmpl %]

                <h2 class="header">Your payment was successful, order number [% auth_code %]. You will receive an email receipt.  Please contact support@silverliningnetworks.com with any questions.</h2>

                <!-- PAYMENT FORM -->


        [% PROCESS auth/form/paperbox_bottom.tmpl %]
        <!-- END MAIN COLUMN -->

        <!-- SIDE COLUMN ##### -->
        <div class="one_third left">

        </div>
        <!-- END SIDE COLUMN ##### -->

        [% PROCESS auth/form/bodywrapper_bottom.tmpl %]

        <!-- END BODY SECTION ######################################### -->


</body>
</html>
