
<select name="ad_size_id" id="ad_size_id">

<option value="">Select ad zone size</option>

[% FOREACH ad_size = ad_sizes %]

    [% IF loop.prev.grouping != ad_size.grouping %]
    <option value=""></option>
    <option value="">--&nbsp; 
    [% END %]
    [% IF ad_size.grouping == 1 %]Persistent Leaderboard
    [% ELSIF ad_size.grouping == 6 %]Persistent Full Banner
    [% ELSIF ad_size.grouping == 2 %]Branding Image
    [% ELSIF ad_size.grouping == 3 %]Splash Page Ad[% END %]
    </option>

[% IF ad_size.grouping !=7 %]
<option value="[% ad_size.ad_size_id %]" [% IF ad_zone.ad_size.ad_size_id == ad_size.ad_size_id %]SELECTED[% END %]>[% ad_size.name %]</option>
[% END %]

[% END %]
</select>
