[% PROCESS header.tmpl %]
[% PROCESS left.tmpl %]

<div id="list_center">
<div class="content">

<h2>[% PROCESS dashboard.tmpl %] > Blacklist Websites</h2>

[% IF status == 'exists' %]
<p><font color="red">Url '[% url %]' has already been blacklisted :-)</font></p>
[% ELSIF status == 'added' %]
<p><font color="red">Url '[% url %]' was added to the blacklist.</font></p>
[% ELSIF status == 'deleted' %]
<p><font color="red">Url '[% url %]' was removed from the blacklist.</font></p>
[% END %]

<p style="text-align: left; padding-bottom: 5px;"><a href="[% base_uri %]/app/blacklist/edit/?url_id=-1">Blacklist a Url</a></span></p>

<table class="list">
  <tr class="list_header">
    <td>&nbsp;ID&nbsp;</td>
    <td>&nbsp;URL&nbsp;</td>
    <td>Who Blacklisted It</td>
    <td>Date Blacklisted</td>
    [% IF root == 1 %]
    <td>Unblacklist</td>
    [% END %]
  </tr>

[% FOREACH url = urls %]
  <tr class="[% IF loop.index % 2 %]lite[% ELSE %]dark[% END %]">

    <td style="color: #639D63">&nbsp;&nbsp;[% url.url_id %]</a></td>

    <td>[% url.url %]</td>

    <td>[% url.reg_id.email %]</td>

    <td>[% url.ts %]</td>

    [% IF root == 1 %]
    <td><a href="[% base_uri %]/app/home/blacklist/delete/?url_id=[% url.url_id %]">Delete</a></td>
    [% END %]
  </tr>
[% END %]
</table>
</div>
</div>

[% PROCESS footer.tmpl %]


