<div class="clear"></div>
</div>
<!-- END WORKSPACE -->
	
</div>
</div>
<!-- END CONTENT -->


<!-- FOOTER -->
<div class="container_16" id="footer">
	<div class="grid_16">
		<p>Copyright &copy; Silver Lining Networks Inc. 2007</p>
	</div>
	<div class="clear"></div>
</div>


</div>
<!-- END WRAPPER -->

<script language="javascript" type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.1.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$("#submit").click(function(){
$("<input disabled='disabled' type='submit' value='Please Wait'>").insertBefore("#submit");
$(this).hide();	
}).submit(function(){
$(this).attr("disabled", "disabled");
});

});
</script>


<script type="text/javascript">
var zenbox_params = {};
zenbox_params.tab_id = "support";
zenbox_params.tab_color = "black";
zenbox_params.title = "Silver Lining Support";
zenbox_params.text = "How may we help you? Please fill in details below, and we'll get back to you as soon as possible.";
zenbox_params.tag = "dropbox";
zenbox_params.url = "silverlining.zendesk.com";
</script>
<style type='text/css'>@import url('//assets0.zendesk.com/external/zenbox/overlay.css');</style>
<script type='text/javascript' src='//assets0.zendesk.com/external/zenbox/overlay.js'></script>

</body>
</html>
