Hello from SilverLining!

You, or someone pretending to be you, made a password change request for [% email %].

To change your password, visit the following url:

[% url %]

If you run into any problems, please feel free to email support@silverliningnetworks.com.

Thanks!

Todd the Support Guy
SilverLiningNetworks.com 
