[% PROCESS header_static.tmpl title="Silver Lining Dashboard:  Forgot Password" no_settings="1" %]


	 <h1 id="sl_logo" class="center margin_25_t"><a href="[% base_uri %]/app/"><span></span>Silver Lining Networks</a></h1>
		<!-- LOGIN MESSAGES -->
			<div class="message_box center">
				[% IF status == 'blank' %]<ul class="error_message"><li>Please enter an email address</li></ul>[% END %]
				[% IF status == 'notfound' %]<ul class="error_message"><li>We couldn't find '[% forgot_email %]' in our system.  Please try again, or email <a href="mailto:support@silverliningnetworks.com">support@silverliningnetworks.com</a></li></ul>[% END %]
				[% IF status == 'sent' %]<ul class="error_message"><li>A link to change your password has been emailed to [% forgot_email %]</li><li>If you do not get the email within five minutes, give it another try.  Some email providers don't process emails right away.</li></ul>[% END %]
			</div>
						
			<div class="login_box">
				<form method="post" action="[% base_uri %]/forgot">
					<ul>
						<li>
							<p>Enter your email address and we'll send you a link to reset your password.</p>
						</li>
					
						<li>
							<input type="hidden" /> 
							<label for="username">E-mail</label>
							<input type="text" name="forgot_email" id="username" value="ex. john@doe.com" onfocus="this.value=''" /> 
						</li>
						<li>
						<input type="submit" name="login" value="reset" id="signin" /> 
						</li>
						<li><a href="[% base_uri %]/app/login">Return to Login page</a></li>
					</ul>
				</form>
			</div>

			<p id="need_an_account">
				<a href="http://www.silverliningnetworks.com/pricing/">Need An Account? Sign up free.</a>
			</p>


<script type="text/javascript">
var zenbox_params = {};
zenbox_params.tab_id = "support";
zenbox_params.tab_color = "black";
zenbox_params.title = "Silver Lining Support";
zenbox_params.text = "How may we help you? Please fill in details below, and we'll get back to you as soon as possible.";
zenbox_params.tag = "dropbox";
zenbox_params.url = "silverlining.zendesk.com";
</script>
<style type='text/css'>@import url('//assets0.zendesk.com/external/zenbox/overlay.css');</style>
<script type='text/javascript' src='//assets0.zendesk.com/external/zenbox/overlay.js'></script>



</body>
</html>
