Hello from Silver Lining Networks!

You, or someone pretending to be you, made a password change request for [% email %].

To change your password, visit the following url:

[% url %]

If you run into any problems, please feel free to email support@silverliningnetworks.com.

Thanks!

Silver Lining Networks Support

web:  http://support.silverliningnetworks.com/
email: support@silverliningnetworks.com 
voicemail: 1.888.334.6602
