<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<LINK REL="SHORTCUT ICON" HREF="[% base_uri %]/resources/images/logos/dashboard_favicon.ico">

  <!-- META -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <meta name="description" content=""/> 
  <meta name="keywords" content="" /> 
  
  <!-- CSS -->
  <link rel="shortcut icon" type="text/css" href="[% base_uri %]/resources/images/icons/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/common.css" />
  <link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/960.css" />

  <link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/silverlining_app.css" />
  <!-- IE HACKS -->
  <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="[% base_uri %]/resources/css/ie/sliverlining_app.css" /><![endif]-->
  
  
  <!-- JAVASCRIPT -->
  <script type="text/javascript" src="[% base_uri %]/resources/js/jquery.js"></script>
  <script type="text/javascript" src="[% base_uri %]/resources/js/sl_dashboard.js"></script>
  
  <title>[% title %]</title>	

</head>

	<body [% IF load %]onLoad="[% load %]"[% END %]>
	<div id="wrapper">
		<h1 id="sl_logo">Silver Lining Networks</h1>
		<div id="header">
			<h1>My Network</h1>
			<ul>
				<li id="tab_dashboard" class="selected"><a href="#">Dashboard</a></li>
				<li id="tab_account"><a href="#">Account</a></li>
			</ul>
		</div>
		<div id="content_wrapper">
		<div id="content">
			<!-- NAVIGATION -->
			<div id="navigation">  
				 <ul id="nav_dashboard">
				    <li><a id="button_overview" href="[% base_uri %]/app/home/index">Overview</a></li>
				    <li><a id="button_network" href="[% base_uri %]/app/router/list">Network</a></li>
				    <li><a id="button_banners" href="[% base_uri %]/app/ad/index">Ad Center</a></li>
				    <li><a id="button_kiosk" href="#">Virtual Kiosk</a></li>
				    <li><a id="button_splash" href="#">Splash Page</a></li>
				  </ul>
				 <ul id="nav_account" style="display:none;">
				    <li><a id="button_profile" href="#">Profile</a></li>
				    <li><a id="button_users" href="#">Users</a></li>
				    <li><a id="button_profit" href="#">Profit Center</a></li> 
				  </ul>				  
				<div class="clear"></div>
			</div>
			
			<div class="container_16" id="workspace">		
			
			
			
<!--
[% UNLESS no_settings %]
    <a href="http://www.silverliningnetworks.com/site/support.html">Help</a>
    <a href="[% base_uri %]/logout">Logout</a>
    <span>Welcome [% email %]</span>		
[% END %]

	  </div>
      [% UNLESS no_settings %]
      <div id="settings">
        <p style="font-size: 12px; font-family: 'Trebuchet MS', Verdana, sans-serif;">[% IF reg.root %][% reg.account_id.name %] | [% END %][% email %] | <a href="[% base_uri %]/app/settings/uptime">Service Uptime</a> | <a href="http://silverlining.zendesk.com/portal">Help</a> | <a href="[% base_uri %]/logout">Logout</a></p>
      </div>
      [% END %]
    </div>
	<div id="container">

NAVIGATION 
<a href="[% base_uri %]/app/settings/index">Account Settings</a>
<a href="[% base_uri %]/app/ad/index">Campaigns</a>
<a href="[% base_uri %]/app/report/index">Reports</a>
<a href="[% base_uri %]/app/router/list">My Network</a>
<a href="[% base_uri %]/app/home/index">My Network</a>



<ul>
	<li>[% PROCESS router/nav.tmpl %]</li>
</ul>
-->
