<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html>
    <head>
	<link rel="stylesheet" href="[% css_uri %]" type="text/css">
</style>
<title>[% title %]</title>	
<LINK REL="SHORTCUT ICON" HREF="http://www.silverliningnetworks.com/app/dashboard/favicon.ico">
</head>
	<body>
    <div id="wrap">	
    <div id="top">
	  <div id="banner">
		<a href="[% base_uri %]/app/home/index">
<img border='0' src="http://www.silverliningnetworks.com/app/dashboard/dashboard_banner.gif"></a>

	  </div>
      [% UNLESS no_settings %]
      <div id="settings">
        <p style="font-size: 12px; font-family: 'Trebuchet MS', Verdana, sans-serif;">[% email %] | <a href="[% base_uri %]/logout">Logout</a> | <a href="[% base_uri %]/app/settings/index">Account</a> | <a href="http://www.silverliningnetworks.com/site/support.html">Help</a> | <a href="http://www.silverliningnetworks.com/blog/">Blog</a></p>
      </div>
      [% END %]
    </div>
	<div id="container">
