<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>[% title %]</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



<!-- FAVICON --> 
<link rel="shorcut icon" href="/resources/images/icons/favicon.ico" />

<!-- CSS --> 
<link rel="stylesheet" type="text/css" href="/resources/css/common.css" /> 
<link rel="stylesheet" type="text/css" href="/resources/css/static_site.css" /> 
<link rel="stylesheet" type="text/css" href="/resources/css/zendesk.css" /> 
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/resources/css/silverlining_app_ie6.css" /><![endif]--> 
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/resources/css/silverlining_app_ie.css" /><![endif]--> 

	
</head>
<body id="sln">