[% PROCESS header.tmpl title="Silver Lining Dashboard - Overview" selected="overview" %]
 
<div id="main_content" class="grid_10 suffix_1">	
	<h3>Welcome to Silver Lining</h3>
	<div class="row">
	<p style="margin-bottom:20px;">If your a first time user you may want to view our <a href="[% base_uri %]/app/home/welcome">short list of tips</a> for getting started with your account.</p>
	</div>
	
	<h3>Welcome Open-Mesh.com Users!</h3>
	<div class="row">
		<p>Please use the support tab for any questions not covered on our <a href="http://www.silverliningnetworks.com/faq/">website</a> or <a href="http://silverlining.zendesk.com/home">support portal</a>.  Your devices will need to be running the 2.6.23 kernel to use Silver Lining (r1522 and r2168 images ship with 2.6.23 kernel).  <a href="http://silverlining.zendesk.com/forums/26828/entries/37866">Click here</a> to see how to integrate Silver Lining with Open-Mesh.</p>
	</div>
	<h2>
		News from the blog 
		<a href="[% blog %]">
			<img alt="Subscribe to the Blog" height="15" src="[% base_uri %]/resources/images/icons/minicon/mini_rss.png" width="15" border="0"/>
		</a>
	</h2>
	<div class="row">
	[% FOREACH item = rss %]
		<h3><a href="[% item.link %]">[% item.title %]</a></h3>
		<p class="tip">[% item.date %]</p>
		<p>[% item.content %]</p>
	[% END %]
	</div>		

</div>


<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
			<!-- TWITTER FEED -->			
			<h3 class="twitter_header">Twitter Updates</h3>
			<a class="follow_me" href="http://twitter.com/silver_lined">Follow Silver Lining on Twitter</a>
			<div id="twitter_div">
				<ul id="twitter_update_list"></ul>
			</div>	
					
		</div>
	</div>
</div>


<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/silver_lined.json?callback=twitterCallback2&amp;count=5"></script>
[% PROCESS footer.tmpl %]
