[% PROCESS header.tmpl title="Silver Lining Dashboard - Overview" %]
 
<div class="grid_10 suffix_1">

[% PROCESS submenu.tmpl %]
 	
	
</div>

<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
			[% FOREACH rss = rss_list %]
				<h3><a href="[% rss.link %]">[% rss.title %]</a></h3>
				<p>[% rss.description %]</p>
			[% END %]
			<a href="http://forums.silverliningnetworks.com/posts.rss">RSS</a>
		</div>
	</div>
</div>










[% PROCESS footer.tmpl %]
