[% PROCESS header.tmpl no_settings="1" title="Silver Lining Dashboard:  Home" %]
[% PROCESS left.tmpl %]
 
<div id="center">
<div class="content">
<h3>Welcome</h3>
<br>
<p>This is the Silver Lining dashboard, where you can administer your Silver Lining network.</p>
<p><a href="[% base_uri %]/app/home/index">Click here to login</a></p>
   </div>
</div>

[% PROCESS footer.tmpl %]
