<div id="left">
<a href="/app/ad/index">
<img border='0'  src="/resources/images/buttons/dashboard/manage-ads.gif"></a><br>

<a href="/app/router/list">
<img border='0'  src="/resources/images/buttons/dashboard/manage-routers.gif"></a><br>
<a href="/app/report/index">
<img border='0'  src="/resources/images/buttons/dashboard/view-reports.gif"></a><br>
<a href="/app/settings/index">
<img border='0'  src="/resources/images/buttons/dashboard/manage-account.gif"></a><br>
</div>
