<div id="left">
<a href="[% base_uri %]/app/settings/index">
<img border='0'  src="http://www.silverliningnetworks.com/app/dashboard/manage-account.gif"></a><br>
<a href="[% base_uri %]/app/router/list">
<img border='0'  src="http://www.silverliningnetworks.com/app/dashboard/manage-routers.gif"></a><br>
[% IF root %]
<a href="[% base_uri %]/app/ad/index">
<img border='0'  src="http://www.silverliningnetworks.com/app/dashboard/manage-ads.gif"></a><br>
[% END %]
<a href="[% base_uri %]/app/report/index">
<img border='0'  src="http://www.silverliningnetworks.com/app/dashboard/view-reports.gif"></a>
</div>
