<div id="left">
<a href="[% base_uri %]/app/settings/index">
<img border='0'  src="[% base_uri %]/resources/images/buttons/dashboard/manage-account.gif"></a><br>
<a href="[% base_uri %]/app/router/list">
<img border='0'  src="[% base_uri %]/resources/images/buttons/dashboard/manage-routers.gif"></a><br>
<a href="[% base_uri %]/app/ad/index">
<img border='0'  src="[% base_uri %]/resources/images/buttons/dashboard/manage-ads.gif"></a><br>
<a href="[% base_uri %]/app/report/index">
<img border='0'  src="[% base_uri %]/resources/images/buttons/dashboard/view-reports.gif"></a><br>
</div>
