[% PROCESS header_static.tmpl title="Sign in - Silver Lining Networks" no_settings="1" %]

		 <h1 id="sl_logo" class="center margin_25_t"><a href="/"><span></span>Silver Lining Networks</a></h1>

		<!-- LOGIN MESSAGES -->
			<div class="message_box center">
			[% IF status == 'password_updated' %]<ul class="error_message"><li>Your password has been updated, please login</li></ul>[% END %]
			[% IF error == 'invalid' %]<ul class="error_message"><li>Invalid email or password, please try again</li></ul>[% END %]
			[% IF error == 'incomplete' %]<ul class="error_message"><li>Please fill out all fields to login</li></ul>[% END %]
			</div>
	
			<div class="login_box">				
				<form method="POST" action="/login">					
					<ul>
						<li>
							<input type="hidden" /> 
							<label for="email">E-mail</label>
							<input type="text" name="email" id="username" value="" /> 
						</li>
						<li>
							<label for="password" class="block">Password</label>
							<input type="password" name="password" id="password" /> 
							<a href="/forgot" id="forgot_password">forgot password?</a>
							<div class="clear"></div>
						</li>
						<li>
							<input type="checkbox" id="remember_me" />
							<label for="remember_me">Remember me</label>
						</li>
						<li>
						<input type="submit" value="Sign in" id="signin" name="login" /> 
						</li>
					</ul>
					<input type="hidden" name="dest" value="[% dest %]" />
				</form>
			</div>
			

[% PROCESS zendesk.tmpl %]

</body>
</html>
