[% INCLUDE header.tmpl %]

<div id="login">
<div class="content">

<h2><a href="http://forums.silverliningnetworks.com/">Home</a> > Login > <a href="/sl/forgot">Forgot Password?</a></h2>
[% IF status == 'password_updated' %]
<p><font color="red">Your password has been updated, please login</font></p>
[% END %]
[% IF error == 'invalid' %]<p><font color="red">Invalid email or password, please try again</font></p>[% END %]
[% IF error == 'incomplete' %]<p><font color="red">Please fill out all fields to login</font></p>[% END %]
<form method="POST" action="/sl/login">
<p>Email Address:</p><p><input type="text" name="email"></p>
<p>Password:</p><p><input type="password" name="password"></p>
<p><input type="submit" name="login" value="Login"></p>
</form>
</div>
</div>
[% INCLUDE footer.tmpl %]
