[% PROCESS header.tmpl title="Silver Lining Dashboard:  Please Login" no_settings="1" %]
[% PROCESS left.tmpl %]

<div id="center">
<div class="content">

<h2><a href="[% base_uri %]/app/">Home</a> > Login</h2>
<hr size=1 color="#CCCCCC">
[% IF status == 'password_updated' %]
<p><font color="red">Your password has been updated, please login</font></p>
[% END %]
[% IF error == 'invalid' %]<p><font color="red">Invalid email or password, please try again</font></p>[% END %]
[% IF error == 'incomplete' %]<p><font color="red">Please fill out all fields to login</font></p>[% END %]
<form method="POST" action="[% base_uri %]/login">
<p>Email Address:&nbsp;<input type="text" name="email"></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Password:&nbsp;<input type="password" name="password"></p>
<input type="hidden" name="dest" value="[% dest %]">
<p><input type="submit" name="login" value="Login"></p>
</form>
<hr size=1 color="#CCCCCC">
<p><a href="[% base_uri %]/forgot">Forgot Password?</a></p>
<p><a href="mailto:support@silverliningnetworks.com">Signup for an account</a></p>
</div>
</div>
[% PROCESS footer.tmpl %]
