[% PROCESS header_static.tmpl title="Logout Successful - Silver Lining Networks" no_settings="1" %]

 
		 <h1 id="sl_logo" class="center margin_25_t"><a href="[% base_uri %]/app/"><span></span>Silver Lining Networks</a></h1>
			
		<!-- LOGIN MESSAGES -->
			<div class="message_box center">
				<ul class="success"><li>You have been logged out successfully.</li></ul>
			</div>
	
			<div class="login_box">				
				<form method="POST" action="[% base_uri %]/login">					
					<ul>
						<li>
							<input type="hidden" /> 
							<label for="email">E-mail</label>
							<input type="text" name="email" id="username" value="ex. john@doe.com" onfocus="this.value=''" /> 
						</li>
						<li>
							<label for="password" class="block">Password</label>
							<input type="password" name="password" id="password" /> 
							<a href="[% base_uri %]/forgot" id="forgot_password">forgot password?</a>
							<div class="clear"></div>
						</li>
						<li>
							<input type="checkbox" id="remember_me" />
							<label for="remember_me">Remember me</label>
						</li>
						<li>
						<input type="submit" value="Sign in" id="signin" name="login" /> 
						</li>
					</ul>
					<input type="hidden" name="dest" value="[% dest %]" />
				</form>
			</div>
			
			<p id="need_an_acount">
				<a href="[% base_uri %]/signup">Need An Account? Sign up free.</a>
			</p>

<script type="text/javascript">
var zenbox_params = {};
zenbox_params.tab_id = "support";
zenbox_params.tab_color = "#03406a";
zenbox_params.title = "Silver Lining Support";
zenbox_params.text = "How may we help you? Please fill in details below, and we'll get back to you as soon as possible.";
zenbox_params.tag = "dropbox";
zenbox_params.url = "silverlining.zendesk.com";
</script>
<script type='text/javascript' src='//assets0.zendesk.com/external/zenbox/overlay.js'></script>


</body>
</html>
