[% PROCESS header.tmpl title="Silver Lining Dashboard:  Logout" no_settings="1" %]
[% PROCESS left.tmpl %]
 
<div id="center">
<div class="content">
<h2><a href="[% base_uri %]">Home</a> > <a href="[% base_uri%]/login">Login</a> > <a href="[% base_uri %]/forgot">Forgot Password?</a> > Logged Out</h2>
<hr size=1 color="#CCCCCC">

<p>You have been logged out</p>
</div>
</div>

[% PROCESS footer.tmpl %]
