[% INCLUDE header.tmpl %]

<div id="list_center">
<div class="content">
<h2><a href="[% base_uri %]/app">Dashboard</a> > View Reports</h2>
<hr>
[% IF status == 'updated' %]
<p><font color="red">Email preferences updated</font></p>
[% END %]

<form method="POST" action="[% base_uri %]/app/report/index">
<p style="padding: 10px; background-color: #EEEEEE;">Email these reports to [% reg.email %]
<br />
<input type="radio" name="report_email_frequency" value="monthly"
[% IF report_email_frequency == 'monthly' %]checked[% END %]>monthly

<input type="radio" name="report_email_frequency" value="weekly"
[% IF report_email_frequency == 'weekly' %]checked[% END %]>weekly

<input type="radio" name="report_email_frequency" value="daily"
[% IF report_email_frequency == 'daily' %]checked[% END %]>daily

<input type="radio" name="report_email_frequency" value="never"
[% IF report_email_frequency == '' || report_email_frequency == 'never' %]checked[% END %]>never
&nbsp;&nbsp;&nbsp;

<input type="submit" value="Save">
<br/>(<a href="[% base_uri %]/app/settings/account">change email address</a>)</p>

</form>

<table>
<tr>
<td style="text-align: right;">Select a type of report:&nbsp;&nbsp;</td>

[% FOREACH mytype = [ 'views', 'clicks', 'rates', 'ads' ] %]
   <td>
    [% UNLESS mytype == type %]
    <a href="[% base_uri %]/app/report/index/?type=[% mytype %]&temporal=[% temporal %]">
    [% END %]
    [% types.$mytype %]
    [% UNLESS mytype == type %]</a>[% END %]
    &nbsp;</td>
[% END %]
</tr>
<tr>
<td style="text-align: right;">For this date range:&nbsp;&nbsp;</td>

[% FOREACH mytemporal = [ 'daily', 'weekly', 'monthly', 'quarterly' ] %]
    <td>
    [% UNLESS mytemporal == temporal %]
    <a href="[% base_uri %]/app/report/index/?type=[% type %]&temporal=[% mytemporal %]">
    [% END %]
    [% temporals.$mytemporal %]
    [% UNLESS mytemporal == temporal %]</a>[% END %]
    &nbsp;</td>
[% END %]
</tr>
</table>

<h2>Viewing reports for [% types.$type %] in the last [% temporals.$temporal %]</h2>

<p style="width: 600px;">
<img width="600" src="/img/report/[% reg.reg_id %]/[% temporal %]/[% type %].png"></p>
</div>
</div>

[% INCLUDE footer.tmpl %]
