[% PROCESS header.tmpl title="Silver Lining Dashboard:  Reporting" selected="stats" %]

<div id="main_content" class="grid_11">
	<h2>View Reports</h2>
	
	<h3 class="row">Select a type of report</h3>
	<p>
	[% FOREACH mytype = [ 'views', 'users' ] %]
	    [% UNLESS mytype == type %]
	    <strong><a href="[% base_uri %]/app/report/index/?type=[% mytype %]&temporal=[% temporal %]">
	    [% END %]
	    [% types.$mytype %]
	    [% UNLESS mytype == type %]</a></strong>[% END %]
	    &nbsp;
	[% END %]
	</p>
	
	<h3>Select a date range</h3>
	<p>
	[% FOREACH mytemporal = [ 'daily', 'weekly', 'monthly', 'quarterly', 'biannually', 'annually' ] %]
	    [% UNLESS mytemporal == temporal %]
	    <strong><a href="[% base_uri %]/app/report/index/?temporal=[% mytemporal %]&type=[% type %]">
	    [% END %]
	    [% temporals.$mytemporal %]
	    [% UNLESS mytemporal == temporal %]</a></strong>[% END %]
	    &nbsp;
	[% END %]
	</p>
	
</div>

<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
		
			<form class="form" method="post" action="[% base_uri %]/app/report/index">
				[% IF status == 'updated' %]<p class="error">Email preferences updated</p>[% END %]
				<ul>
					<li>
						<label>Send reports to <span class="tip">[% reg.email %]</span></label>
						
						<input type="radio" name="report_email_frequency" value="monthly" [% IF report_email_frequency == 'monthly' %]checked="checked"[% END %]/>
						<label for="monthly" class="check_label">monthly</label>
						
						<input type="radio" name="report_email_frequency" value="weekly" [% IF report_email_frequency == 'weekly' %]checked="checked"[% END %]/>
						<label for="weekly" class="check_label">weekly</label>
						
						<input type="radio" name="report_email_frequency" value="daily" [% IF report_email_frequency == 'daily' %]checked="checked"[% END %] />
						<label for="daily" class="check_label">daily</label>
						
						<input type="radio" name="report_email_frequency" value="never" [% IF report_email_frequency == '' || report_email_frequency == 'never' %]checked[% END %]>
						<label for="never" class="check_label">never</label>
						<div class="clear"></div>
					</li>
					<li>
						<input type="submit" value="Save" />
					</li>
				</ul>
			</form>					
		</div>
	</div>
</div>
<div class="clear"></div>

<div class="grid_16">
	<h3>Viewing [% types.$type %] report for the last [% temporals.$temporal %]</h3>
	
	<!-- FLOT GRAPH -->
	<div id="plotarea">
		<table>
			<caption>GDP, based on exchange rates, over time. Values in billion USDs.</caption>
			<tr>
				<td></td>
				<th scope="col">2003</th>
				<th scope="col">2002</th>
				<th scope="col">2001</th>
				<th scope="col">2000</th>
				<th scope="col">1999</th>
				<th scope="col">1998</th>
			</tr>
			<tr>
				<th scope="row">USA</th>
				<td>10,882</td>
				<td>10,383</td>
				<td>10,020</td>
				<td>9,762</td>
				<td>9,213</td>
				<td>8,720</td>
			</tr>
			<tr>
				<th scope="row">EU</th>
				<td>10,970</td>
				<td>9,040</td>
				<td>8,303</td>
				<td>8,234</td>
				<td>8,901</td>
				<td>8,889</td>
			</tr>
			<tr>
				<th scope="row">UK</th>
				<td>1,765</td>
				<td>1,564</td>
				<td>1,430</td>
				<td>1,438</td>
				<td>1,460</td>
				<td>1,423</td>
			</tr>
			<tr>
				<th scope="row">China</th>
				<td>1,575</td>
				<td>1,434</td>
				<td>1,345</td>
				<td>1,252</td>
				<td>1,158</td>
				<td>1,148</td>
			</tr>
			<tr>
				<th scope="row">India</th>
				<td>599</td>
				<td>510</td>
				<td>479</td>
				<td>457</td>
				<td>447</td>
				<td>414</td>
			</tr>
		</table>
	</div>	
	
	<!-- OLD REPORT CODE -->
	[% IF report_uri %]
	<img width="600" src="[% report_uri %]" />
	[% ELSE %]
	<p><strong>No report is available for this reporting period yet.</strong></p>
	[% END %]
</div>
<div class="clear"></div>

<!-- JAVASCRIPT FOR FLOT GRAPHING -->
<script src="[% base_uri %]/resources/js/jquery.flot.pack.js" language="javascript" type="text/javascript"></script>
<!--[if IE]><script language="javascript" type="text/javascript" src="[% base_uri %]/resources/js/excanvas.pack.js"></script><![endif]-->
<script language="javascript" type="text/javascript">
$(function () {
	var data = [
		{
			label: "Gold Rush",
			data: [[1, 3],
				[2, 10020],
				[3, 9762],
				[4, 9213],
				[5, 8720],
				[6, 8720],
				[7, 8720],
				[8, 8720],
				[9, 8720],
				[10, 8720],
				[11, 8720],
				[12, 3],
				[13, 2342],
				[14, 3453],
				[15, 221],
				[16, 1232], 
				[17, 1233],
				[18, 3231],
				[19, 2112],
				[20, 3111],
				[21, 1213],
				[22, 1233],
				[23, 1332],
				[24, 4222]]
		},
		
		{
			label: "Silver Lining",
			data: [[1, 443],
				[2, 3455],
				[3, 555],
				[4, 3433],
				[5, 3433], 
				[6, 3334],
				[7, 4322],
				[8, 8720],
				[9, 8720],
				[10, 8720],
				[11, 8720],
				[12, 234],
				[13, 3455],
				[14, 555],
				[15, 3433],
				[16, 3433], 
				[17, 3334],
				[18, 4322],
				[19, 8720],
				[20, 8720],
				[21, 8720],
				[22, 8720],
				[23, 234],
				[24, 2332]]
		}
	];
	
	var options = {
		legend: {
			show: true,
			margin: 10,
			backgroundOpacity: 0.5
		},
		points: {
			show: true,
			radius: 3
		},
		lines: {
			show: true
		}
	};
	
	var plotarea = $("#plotarea");
	plotarea.css("height", "500px");
	plotarea.css("width", "940px");
	$.plot( plotarea , data, options );
});
</script>

[% PROCESS footer.tmpl %]
