<div id="right">
	<div class="sidebar"> 
	<br />
	<ul>
        [% IF root == 1 %]
        <li><font color="red">ROOT USER MODE</font><br /></li>
        [% END %]
        <li><a href="[% base_uri %]/app/settings/account">Account Settings</a><br />
	<img src="http://johnsonparty.typepad.com/image/line.gif"><br /></li>
        <li><a href="http://silverliningworks.typepad.com/site/support.html">Get Support</a></li>
	<img src="http://johnsonparty.typepad.com/image/line.gif"><br /></li>
        <li><a href="http://www.silverliningnetworks.com/blog/">SL Blog</a></li>
<img src="http://johnsonparty.typepad.com/image/line.gif"><br /></li>
        <li><a href="[% base_uri %]/logout">Logout</a></li>
	</ul>
	</div>
</div>
