<div id="right">
	<div class="sidebar"> 
	<img src="http://www.redhotpenguin.com/images/sl/dashboard.gif">
	<ul>
        [% IF root == 1 %]
        <li><font color="red">ROOT USER MODE</font><br><img src="http://johnsonparty.typepad.com/image/line.gif"><br /></li>
        [% END %]
        <li><a href="[% base_uri %]/app/settings/account">Settings</a><br /><img src="http://johnsonparty.typepad.com/image/line.gif"><br /></li>
		<li><a href="[% base_uri %]/app/ad/index">Manage Ads</a><br><img src="http://johnsonparty.typepad.com/image/line.gif"><br /> </li>
		<li><a href="[% base_uri %]/app/report/index">View Reports</a><br><img src="http://johnsonparty.typepad.com/image/line.gif"><br /> </li>
		<li><a href="[% base_uri %]/app/blacklist/index">Blacklist Website</a>
<br><img src="http://johnsonparty.typepad.com/image/line.gif"><br /></li>
        <li><a href="http://silverliningworks.typepad.com/site/support.html">Get Support</a></li>
<img src="http://johnsonparty.typepad.com/image/line.gif"><br /></li>
        <li><a href="[% base_uri %]/logout">Logout</a></li>
	</ul>
	</div>
</div>
