[% PROCESS header.tmpl %]
[% PROCESS left.tmpl %]
 
<div id="center">
<div class="content">
<h3>Welcome</h3>
<br>
<p>This is the Silver Lining Dashboard, where you can administer your network.</p>
<p><a href="http://localhost:7777/app/home/index">Click here to login</a></p>
   </div>
</div>

[% PROCESS right.tmpl %]
[% PROCESS footer.tmpl %]
