[% PROCESS header.tmpl title="Silver Lining Dashboard:  Account Signup" no_settings="1" %]
[% PROCESS left.tmpl %]

<div id="center">
<div class="content">

<h2><a href="[% home_uri %]">Home</a> > Account Signup</h2>
<hr size=1 color="#CCCCCC">
<p><h3>Sign up for a Silver Lining Account</h3><br /></p>
<form method="POST" action="[% base_uri %]/signup">


<div id="signup_form">
<p style='text-align: right;'>
[% IF errors.missing.email or errors.invalid.email %]<font color="red">[% END %]
Email:
[% IF errors.missing.email or errors.invalid.email %]</font>[% END %]
<input type="text" size="25" maxlength="96" name="email" value="[% req.param('email') %]"></p>

<p style='text-align: right;'>
<font color="#CCCCCC">(Required, we will never spam you)</font><p>
</div>

<p><hr size=1 color="#CCCCCC"></p>

<div id="signup_form">
<p style='text-align: right';>
[% IF errors.missing.password or errors.invalid.password %]<font color="red">[% END %]
Password:
[% IF errors.missing.password or errors.invalid.password %]</font>[% END %]
<input type="password" name="password" size="15" maxlength="15" value="[% req.param('password') %]">
</p>

<p style='text-align: right';>
[% IF errors.missing.retype or errors.invalid.password %]<font color="red">[% END %]
Retype Password:
[% IF errors.missing.retype or errors.invalid.password %]</font>[% END %]
<input type="password" name="retype" size="15" maxlength="15" value="[% req.param('retype') %]">
</p>
<p style='text-align: right';>
<font color="#CCCCCC">(Minimum 5 characters)</font><p>
</div>

<p><hr size=1 color="#CCCCCC"></p>

<div id="signup_form">
<p style='text-align: right';>
[% IF errors.missing.router_mac or errors.invalid.router_mac %]<font color="red">[% END %]
Router MAC Address:
[% IF errors.missing.router_mac or errors.invalid.router_mac %]</font>[% END %]
<input type="text" size="17" maxlength="17" name="router_mac" value="[% req.param('router_mac') %]"></p>

<p style='text-align: right';>
<font color="#CCCCCC">(example <b>00:17:f2:43:38:bd</b>)</font></p>

<p style='text-align: right';>
<font color="#CCCCCC">(Required, you need to have an active router to signup for an account)</font><p>
</div>

<p><hr size=1 color="#CCCCCC"></p>

<div id="signup_form">
<p style='text-align: right';>
<a target="new" href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_registration-run">
<img border='0' src="http://www.silverliningnetworks.com/app/dashboard/paypal_silverlining.gif"></a>
[% IF errors.missing.paypal_id or errors.invalid.paypal_id %]
<font color="red">[% END %]
PayPal ID:
[% IF errors.missing.paypal_id or errors.invalid.paypal_id %]</font>[% END %]
<input type="text" size="20" maxlength="96" name="paypal_id" value="[% req.param('paypal_id') %]"></p>
<p style='text-align: right';>
<font color="#CCCCCC">(Optional, can add later to get paid, is an email address)</font><p>

<p style='text-align: right';>
<font color="#CCCCCC">
<a target="new" href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_registration-run">Signup for a PayPal Account</a>
</font><p>
</div>

<p><hr size=1 color="#CCCCCC"></p>


<p><input type="submit" name="login" value="Signup"></p>
</div>
</form>
</div>
</div>
[% PROCESS footer.tmpl %]
