[% PROCESS header.tmpl title="Silver Lining Dashboard:  Account Signup" no_settings="1" %]
[% PROCESS left.tmpl %]

<div id="center">
<div class="content">

<h2><a href="[% home_uri %]">Home</a> > Account Signup</h2>
<hr class="sl_line">
<p><h3>Sign up for a Silver Lining Account</h3><br /></p>
[% IF errors.missing.email or errors.invalid.email or errors.missing.password or errors.invalid.password %]
<p><font color="red">Please fill out all fields</font></p>
[% END %]
<form method="POST" action="/signup">

<div id="signup_form">
<p>
[% IF errors.missing.email or errors.invalid.email %]<font color="red">[% END %]
Email:
[% IF errors.missing.email or errors.invalid.email %]</font>[% END %]
<input type="text" size="25" maxlength="96" name="email" value="[% req.param('email') %]"></p>

<p><font color="#CCCCCC">Required, we will never spam you</font><p>

<p><hr class="sl_line"></p>

<p>
[% IF errors.missing.password or errors.invalid.password %]<font color="red">[% END %]
Password:
[% IF errors.missing.password or errors.invalid.password %]</font>[% END %]
<input type="password" name="password" size="15" maxlength="15" value="[% req.param('password') %]">
</p><p><font color="#CCCCCC">Minimum 5 characters</font></p>


<p><hr class="sl_line"></p>

<p><input type="submit" name="login" value="Signup"></p>
</div>
</form>
</div>
</div>
[% PROCESS footer.tmpl %]
