<ul id="sub_menu">
	<li><a class="icon_home" href="/app/home/index">Dashboard</a></li>
	<li><a class="icon_network" href="/app/router/list">WiFi Routers</a></li>
	<li><a class="icon_wand" href="/app/ad/index">Ad Campaigns</a></li>
	<li><a class="icon_money" href="#">Charge for WiFi</a></li>
	<li><a class="icon_stats" href="/app/report/index">Stats &amp; Reports</a></li>
</ul>
