[% PROCESS header.tmpl title="Silver Lining Dashboard:  Announcements" selected="overview" %]
 
<div class="grid_10 suffix_1" id="main_content">	

	<h2>Welcome to your new account!</h2>
	
	<p>
	Watch our short intro video to get familiar with your Silver Lining account. 
	</p>
	
	<div class="margin_b_20">
		<object width="580" height="363"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=4173191&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=4173191&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00ADEF&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="580" height="363"></embed></object>
	</div>
	
	
	
	
	
	
	
	
	
	<h3>More Tips &amp; Tricks</h3>
	<p>For the latest news, product updates, and tips <a href="http://blog.silverliningnetworks.com" target="_blank">visit our product blog</a>. or if you need further support and easy to follow instructions you can find information on our <a href="http://support.silverliningnetworks.com/portal">Support site</a>.</p>


</div>

<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
				<h3>Get Started in 3 easy steps</h3>
				<ol class="row">
					<li><a href="[% base_uri %]/app/router/ads">Configure Your Ad Bar</a> - Configure your network to display either a Twitter Feed, Text Message, or targeted Banner Ads. </li>
					<li><a href="[% base_uri %]/app/ad/index">Create Advertisements</a> - Add the Banners Ads, Text Message Ads, or Twitter Feeds you want displayed when people are surfing your wireless network.</li>
					<li><a href="[% base_uri %]/app/router/list">Add Devices</a> - Add devices to your Silver Lining network by adding one of your routers or servers.  Target Banner Ads by specific devices.</li>
				</ol>
		</div>
	</div>
</div>





[% PROCESS footer.tmpl %]
