[% PROCESS header.tmpl title="Silver Lining Dashboard:  Announcements" %]
[% PROCESS left.tmpl %]
 
<div id="center">
<div class="content">

<h3>Welcome to Silver Lining!</h3>

<hr class="sl_line">

<p>Text</p>

</div>
</div>

[% PROCESS footer.tmpl %]
