[% PROCESS header.tmpl title="Silver Lining Dashboard:  Edit Splash Page Ad"  selected="adcenter" %]


<div class="grid_16">
	<div id="breadcrumb">
		<div id="breadcrumb_inner">
			<ul>[% PROCESS ad/splash/nav.tmpl %]<li>Edit <strong> '[% ad_zone.name %]'</strong> Splash Page Ad</li></ul>
		</div>
	</div>
</div>
<div class="clear"></div>


<!-- BANNER PREVIEW -->
<div class="grid_16 preview">
     <h3>Preview - Splash Page Ad must be 300 pixels wide by 250 pixels tall (IAB Medium Rectangle)</h3>
	<div id="splash_preview">
   		 <div id="splash">[% IF req.param('code') or ad_zone.code %][% re.param('code') or ad_zone.code %][% ELSE %]<a href="http://www.silverliningnetworks.com/?referer=dashboard_example"><img src="[% base_uri %]/resources/images/ads/300x250.gif"></a>[% END %]</div>
		<div class="clear"></div>
	</div>
</div>	



<form method="POST" action="[% base_uri %]/app/ad/splash/edit">

<div id="main_content" class="grid_10 suffix_1">
	<h2>[% ad_zone.name %]</h2>


		<!-- Errors -->
        [% IF image_err %]<p class="error">[% IF image_err.missing %]No image was found at [% req.param('image_href' ) %][% ELSE %]The image must be 300 pixels wide by 250 pixels tall, yours was [% image_err.width %] pixels wide by [% image_err.height %] pixels tall</p>[% END %][% END %]
		[% IF errors.missing %]<p class="error">Please fill in the missing fields</p>[% END %]
		[% IF errors.invalid %]<p class="error">Some fields were invalid, please correct them</p>[% END %]



		<ul class="row form"> 
			<li>
            [% PROCESS ad/name.tmpl type="Splash Page Ad" %]
			</li>
		</ul>
		

[% IF gilgamesh %]
        <ul class="form">
        <li>
      <!-- ad size -->
      <label for="ad_size_id" class="[% IF errors.invalid.ad_size_id or errors.missing.ad_size_id %]error[% END %]">Splash Page Ad Size</label>
      <select name="ad_size_id" id="ad_size_id">
         <option value="">Select a size for this ad</option>
         [% FOREACH ad_size = ad_sizes %]
         <option value="[% ad_size.ad_size_id %]" [% IF ad_zone.ad_size.ad_size_id == ad_size.ad_size_id %]selected="selected"[% END %]>[% ad_size.name %]</option>
         [% END %]
      </select>

      <div class="clear"></div>
     </li>   
     </ul>

[% END %]

		<ul class="form">
        <li>
        <label for="open_mesh">Open-Mesh.com users must use images hosted on their splash page</label>
      <div class="clear"></div>
        </li></ul>

		<ul><li>
        [% PROCESS ad/zone_type.tmpl type="Splash Page Ad" %]
        </li></ul>


		<ul class="form">

            [% PROCESS ad/banner.tmpl type="Splash Page Ad" %]
            [% PROCESS ad/code.tmpl type="Splash Page Ad" %]        

		</ul>


</div>



[% PROCESS ad/advanced.tmpl type="Splash Page Ad" %]

<div class="grid_16">
	<ul class="form">
		<li>
			<input type="hidden" name="id" value="[% ad_zone.ad_zone_id %]">
			<input type="submit" value="Save Splash Page Ad" />
		</li>
	</ul>
</div>


</form>
[% PROCESS footer.tmpl %]
