SHELL=/bin/bash
PATH=/home/phred/dev/perl/bin

# mail text report every day
00 0 * * * perl $HOME/dev/perl/bin/sl_report.pl

# clean up the rate limit table
* */6 * * * perl -I $HOME/dev/sl/trunk/lib $HOME/dev/sl/trunk/bin/sl_rate_limit_cleanup.pl

# generate daily, weekly, and monthly reports every day
15 0 * * * perl  $HOME/dev/perl/bin/sl_report_graph.pl --interval=daily --interval=weekly --interval=monthly

# mail user specific reports every day in the morning to avoid spam
00 06 * * * perl  $HOME/dev/perl/bin/sl_mail_user_reports.pl --interval=daily --interval=weekly --interval=monthly

# generate the quarterly reports once a week
30 0 0 * * perl  $HOME/dev/perl/bin/sl_report_graph.pl --interval=quarterly --interval=biannually --interval=annually

# mail the quarterly reports once a week
00 6 0 * * perl  $HOME/dev/perl/bin/sl_mail_user_reports.pl --interval=quarterly --interval=biannually --interval=annually

# Grab the latest linkshare ads
#00 4 * * *  perl -I $HOME/dev/sl/trunk/lib $HOME/bin/sl_update_linkshare.pl --user=****** --pass=*******
