<strong>Device:</strong>  <a href="[% base_uri %]/app/router/edit/?router_id=[% router.router_id %]">[% router.name %]</a><br /><strong>Users Last 24 hours:</strong>  [% router.users_daily %]<br /><strong>Traffic Last 24 hours:</strong> [% router.traffic_daily %]<br /><strong>Last Seen:</strong>  [% router.last_seen %]<br />WAN IP:  [% router.wan_ip %]<br /><strong>LAN IP:</strong>  [% router.lan_ip %]<br /><strong>Mac Address:</strong>  [% router.mac %]<br /><strong>Device IP:</strong>  [% router.ip %]
