[% IF 1 %]
<div class="google_bubble">

	<div class="gbub_header">
		<h1><a href="[% base_uri %]/app/router/edit/?router_id=[% router.router_id %]">[% router.name %]</a></h1>
		<p>(last seen [% router.last_seen %])</p>
		<div class="clear"></div>
	</div>
	
	<div class="gbub_navigation">
		<ul>
			<li id="gbub_overview_button">Overview</li>
			<li id="gbub_neighbors_button">Neighbors</li>
		</ul>
		<div class="clear"></div>
	</div>
	
	<div id="gbub_overview">
		<ul>
			<li>Current Users: [% router.users_daily %]</li>
			<li>Users last 30 days: </li>
			<li>Data Transfer (30 days): </li>
			<li>Hops to Gateway: </li>
			<li>Uptime: 100 days, 5 hours, 55 minutes</li>
		</ul>
	</div>
	
	<div id="gbub_neighbors">
       <table>
       <tr>
         <th>Neighbor</th>
         <th>IP</th>
         <th>Mac Address</th>
         <th>RSSI (128 max)</th>
       </tr>
       <tr>
         <td><a href="[% base_uri %]/app/router/edit/?router_id=[% router.router_id %]">Pizza WiFi</a></td>
         <td>127.0.0.1</td>
         <td>FF:FF:FF:FF:FF:FF</td>
         <td><font color="green">25</font></td>
       </tr>

       <tr
         <td><a href="[% base_uri %]/app/router/edit/?router_id=[% router.router_id %]">Pizza WiFi</a></td>
         <td>127.0.0.1</td>
         <td>FF:FF:FF:FF:FF:FF</td
         <td><font color="red">10</font></td>
         <td>25</td>
       </tr>

       <tr>
         <td>Pizza WiFi</td>
         <td><a href="[% base_uri %]/app/router/edit/?router_id=[% router.router_id %]">Pizza WiFi</a></td>
         <td>127.0.0.1</td>
         <td>FF:FF:FF:FF:FF:FF</td>
         <td><font color="green">199</font></td>
      </tr>
     </table>

	</div>
	
	<div class="gbub_footer">
		<p>Mac Address: [% router.mac %] | Device IP:[% router.ip %] | LAN IP:  [% router.lan_ip %]</p>
	</div>
	
</div>
[% END %]