[% IF 1 %]
<div class="google_bubble">
	<div class="header">
		<h1><a href="[% base_uri %]/app/router/edit/?router_id=[% router.router_id %]">[% router.name %]</a></h1>
		<p>[% router.last_seen %]</p>
	</div>
	<div class="navigation">
		<ul>
			<li id="overview_button">Overview</li>
			<li id="neighbors_button">Neighbors</li>
		</ul>
		<div class="clear"></div>
	</div>
	<div id="overview">
		<ul>
			<li>Current Users: [% router.users_daily %]</li>
			<li>Users last 30 days: </li>
			<li>Data Transfer (30 days): </li>
			<li>Hops to Gateway: </li>
			<li>Uptime: 100 days, 5 hours, 55 minutes</li>
		</ul>
	</div>
	<div class="footer">
		<p>Mac Address: [% router.mac %] | Device IP:[% router.ip %] | LAN IP:  [% router.lan_ip %]</p>
	</div>
</div>
[% END %]