<div class="google_bubble">

	<div class="gbub_header">
		<h1><a href="[% base_uri %]/app/router/edit/?router_id=[% router.router_id %]">[% router.name %]</a></h1>
		<p>(last seen [% router.last_seen_html %])</p>
		<div class="clear"></div>
	</div>

	<div id="gbub_neighbors">	

       [% IF !neighbors.0 %]
         <p>No neighbor nodes in range</p>
       [% ELSE %]

       <table>
       <tr>
         <th>Neighbor</th>&nbsp;|&nbsp;
         <th>IP</th>&nbsp;|&nbsp;
         <th>Mac Address</th>&nbsp;|&nbsp;
         <th>RSSI</th>
       </tr>

       

       [% FOREACH mrrogers = neighbors %]

       <tr>
         <td><a href="[% base_uri %]/app/router/edit/?router_id=[% mrrogers.router_id %]">[% mrrogers.name %]</a></td>&nbsp;|&nbsp;
         <td>[% mrrogers.ip %]</td>&nbsp;|&nbsp;
         <td>[% mrrogers.macaddr %]</td>&nbsp;|&nbsp;
         <td><font color="green">[% mrrogers.rssi %]</font></td>
       </tr>

       [% END %]

     </table>
[% END %]
	</div>
	
	<div class="gbub_footer">
		<p>Type: <strong>[% router.board %]</strong> | Mac: <strong>[% router.macaddr %]</strong> | IP: <strong>[% router.ip %]</strong></p>
	</div>
	
</div>