/* ---------------
Name: CMS Layout Stylesheet
Author: Silver Lining Networks
Version: 1.0
Date: 1/19/09
------------------ */


/* LAYOUT
============================================= */
body {
background: #f7f7f7 url(../images/backgrounds/content_bg.png) center top repeat-y ;
color: #444;
text-align: center;
}
.wrapper {
width: 960px;
margin: 0 auto;
text-align: left;
/*background: url(../images/backgrounds/960_grid.png) top center repeat-y;*/
}
.one_column {
width: 60px;
margin: 0px 10px;
}
.two_column {
width: 140px;
margin: 0px 10px;
}
.three_column {
width: 220px;
margin: 0px 10px;
}
.three_column_wide {
width: 240px;
margin: 0px;
}
.four_column {
width: 300px;
margin: 0px 10px;
}
.five_column {
width: 380px;
margin: 0px 10px;
}
.six_column {
width: 460px;
margin: 0px 10px;
}
.six_column_wide {
width: 480px;
}
.seven_column {
width: 540px;
margin: 0px 10px;
}
.eight_column {
width: 620px;
margin: 0px 10px;
}
.nine_column {
width: 700px;
margin: 0px 10px;
}
.ten_column {
width: 780px;
margin: 0px 10px;
}
.eleven_column {
width: 860px;
margin: 0px 10px;
}
.twelve_column {
width: 940px;
margin: 0px 10px;
}
.twelve_column_border {
width: 938px;
margin: 0px 10px;
border: 1px solid #CCC;
background-color: #FFF;
}


/* TYPOGRAPHY
============================================= */
p {
font-size: 92%;
line-height: 22px;
margin-bottom: 20px;
color: #444;
}
p strong {
font-weight: bold;
color: #333;
}
.header_block {
border-bottom: 1px dotted #CCC;
padding-bottom: 10px;
margin-bottom: 20px;
}
.header_block h1 {
font-family: Helvetica, Verdana, Arial, san-serif;
font-size: 200%;
color: #333;
font-weight: bold;
}

/* GRID
============================================= */
.one-sixth {
width: 140px;
margin-left: 20px;
}


/* ICONS
============================================= */
.icon_add {
padding-left: 28px;
background:  url(../images/icons/minicon/plus.png) no-repeat 5px center;
}
.icon_wand {
padding-left: 28px;
background:  url(../images/icons/minicon/wand.png) no-repeat 5px center;
}
.icon_money {
padding-left: 28px;
background:  url(../images/icons/minicon/cash_coin.png) no-repeat 5px center;
}
.icon_stats {
padding-left: 28px;
background:  url(../images/icons/minicon/stats.png) no-repeat 5px center;
}

/* BUTTONS
============================================= */
.add_link {
padding: 5px;
padding-left: 25px;
background: #ECEFF5 url(../images/icons/add_plus.png) no-repeat 5px center;
}
.add_button {
display: block;
font-size: 122%;
font-weight: bold;
text-decoration: none;
line-height: 50px;
padding-left: 50px;
width: 200px;
height: 54px;
color: #444;
background: url(../images/buttons/add_button.png) no-repeat top left;
overflow: hidden;
}
.add_button:hover {
color: #39C;
}
#sln_cms .standard_button {
border-top: 1px solid #033a64;
border-bottom: 1px solid #033a64;
display: block;
margin-right: 10px;
}
#sln_cms .standard_button span, 
#sln_cms .standard_button input, 
#sln_cms .standard_button a {
border: none;
border-left: 1px solid #033a64;
border-right: 1px solid #033a64;
padding: 4px 7px 3px 7px;
background: #175a81 url(../images/buttons/blue_sqaure_bg.png) repeat-x top left;
display: block;
margin: 0px -1px;
color: #FFF;
font-size: 92%;
line-height: normal;
width: auto;
text-decoration: none;
cursor: pointer;
}
#sln_cms .standard_button_large {
border-top: 1px solid #033a64;
border-bottom: 1px solid #033a64;
display: block;
margin-right: 10px;
}
#sln_cms .standard_button_large span, 
#sln_cms .standard_button_large input, 
#sln_cms .standard_button_large a {
border: none ;
border-left: 1px solid #033a64;
border-right: 1px solid #033a64;
padding: 5px 8px 5px 8px;
background: #175a81 url(../images/buttons/blue_sqaure_bg.png) repeat-x top left;
display: block;
margin: 0px -1px;
color: #FFF;
font-size: 114%;
line-height: normal;
width: auto;
text-decoration: none;
cursor: pointer;
}
#sln_cms .special_button {
border-top: 1px solid #6ea60a;
border-bottom: 1px solid #6ea60a;
display: block;
padding:0;
float: left;
}
#sln_cms .special_button span, 
#sln_cms .special_button input, 
#sln_cms .special_button a {
border: none;
border-left: 1px solid #6ea60a;
border-right: 1px solid #6ea60a;
padding: 5px 10px 4px 10px;
background: #7bb90f url(../images/buttons/green_sqaure_bg.png) repeat-x top left;
display: block;
margin: 0px -1px;
color: #FFF;
font-size: 100%;
line-height: normal;
width: auto;
text-decoration: none;
cursor: pointer;
font-weight:bold;
}
#sln_cms .special_button strong {
color: #FFF;
}

.pill_button {
background:  url(../images/buttons/pill_button_left.png) no-repeat left center;
padding-left:20px;
display: block;
}
.pill_button a {
background:  url(../images/buttons/pill_button_right.png) no-repeat right center;
display: block; 
height: 34px;
padding-right: 20px;
text-decoration: none;
line-height: 34px;
font-weight: bold;
}

/* TOP NAV
============================================= */
.topnav {
padding: 5px;
background:  url(../images/backgrounds/navbar_bg.png) repeat-x top left;
}
.topnav li {
float: right;
margin-left: 10px;
font-size: 85%;
}
.topnav li a {
float: right;
padding: 2px 0px;
text-decoration: none;
color: #FFF;
font-size: 85%;
}
.topnav li.help a {
padding: 2px 5px;
background-color: #f7df93;
color: #444;
border: 1px solid #ddb637;
}


/* MASTHEAD
============================================= */
#masthead {
height: 60px;
padding: 0px 20px;
}
#masthead h1 {
margin-top: 10px;
float: left;
text-align: left;
font-size: 152%;
color: #FFF;
}
#header {
background:url(../images/backgrounds/masthead_bg.jpg) repeat-x bottom left;
}

/* NAVIGATION
============================================= */
#navigation {
padding-top: 15px;
background:  url(../images/backgrounds/navbar_bg.png) repeat-x top left;
}
#navigation ul {
float: left;
}
#navigation li {
float: right;
text-align: center;
margin-right: 5px;
}
#navigation li a {
background: url(../images/buttons/nav_unselected.png) no-repeat top center;
color: #444;
text-decoration: none;
width: 121px;
float: left;
padding: 7px 0px;
display: block;
}
#navigation li.selected a {
font-weight: bold;
color: #333;
background: url(../images/buttons/nav_selected.png) no-repeat top center;
}



/* BREADCRUMB
============================================= */
#breadcrumb {
height: 35px;
padding-bottom: 4px;
background: #FFF url(../images/backgrounds/shadow.png) repeat-x left bottom;
}
#breadcrumb ul {
float: left;
margin-left: 20px;
padding: 6px 0px;
}
#breadcrumb li {
float: left;
margin-left: 10px;
padding-right: 25px;
background: url(../images/icons/breadcrumb_arrow.png) no-repeat right center;
font-size: 85%;
}
#breadcrumb li a {
text-decoration: none;
padding: 5px;
float: left;
display: block;
color: #69a7c7;
}
#breadcrumb li.selected {
background: none;
}
#breadcrumb li.selected a {
font-weight: bold;
background-color: #bcd1db;
color: #FFF;
}


/* CONTENT
============================================= */
#content {
padding: 20px 0px;
}


/* NOTIFICAITON
============================================= */
.notification {
margin-bottom: 20px;
border: 1px solid #f7d666;
background-color: #ffffe4;
}
.notification p {
padding: 10px;
margin-bottom: 0;
}
.notification_header {
padding: 3px;
background-color: #f7d666;
}
.notification_header h2 {
float: left;
margin-right: 5px;
text-transform: uppercase;
font-size: 107%;
line-height: 22px;
font-weight: bold;
color: #333;
}
.notification_header p {/*date*/
float: left;
font-style: italic;
margin: 0;
padding: 0;
color: #666;
}
.notification_header a {/*close*/
float: right;
display: block;
padding: 3px;
cursor: pointer;
color: #666;
background-color: #feeaa7;
}

/* STANDARD TABLE PROPERTIES
============================================= */
table {
width: 100%;
margin-bottom: 15px;
border: 1px solid #CCC;
}
table td,
table th {/*all cells*/
padding: 5px;
}
table th {
background-color: #EEE;
font-weight: bold;
color: #444;
font-size: 85%;
}
table td {
border-top: 1px solid #CCC;
}



/* ACTIVITY TABLE
============================================= */
.activity_table th {
padding: 5px 10px;
font-weight: bold;
font-size: 114%
}
.activity_table td {
padding: 10px;
}
.activity_table td.status  {
width: 100px;
}
.activity_table td.status strong {
display: block;
padding: 5px 10px;
font-size: 85%;
font-weight: bold;
}
.activity_table td.money strong {
background-color: #40bb10;
color: #FFF;
}
.activity_table td.warning strong {
background-color: #900;
color: #FFF;
}
.activity_table td.added strong {
background-color: #bce7f6;
color: #003d6b;
}


/* CAMPAIGN TABLE
============================================= */

.campaign_table th {
border-bottom: 1px solid #CCC;
}
.campaign_table td {
border-top: none;
border-bottom: 1px solid #CCC;
vertical-align: top;
}
.campaign_table td a {
font-size: 100%;
}
.campaign_table td.status {
width: 74px;
text-align: center;
}
.campaign_table td.delete {
width: 30px;
text-align: center;
}
.campaign_table td.router_name h2 {
font-size: 122%;
font-weight: bold;
color: #444;
border-bottom: 1px solid #EEE;
padding-bottom: 5px;
margin-bottom: 10px;
}
.campaign_table td.router_name h2 a {
text-decoration: none;
color: #444;
}

.campaign_table td.status .active {
height: 24px;
width: 24px;
overflow: hidden;
text-indent: -3000px;
display: block;
background: url(../images/icons/on.png) no-repeat top left;
}
.campaign_table td.status .inactive {
height: 24px;
width: 24px;
overflow: hidden;
text-indent: -3000px;
display: block;
background:url(../images/icons/off.png) no-repeat top left;
}
.campaign_table td.delete a {
margin: 0 auto;
height: 16px;
width: 16px;
overflow: hidden;
text-indent: -3000px;
display: block;
background: url(../images/icons/trash.gif) no-repeat top left;
}




/* ROUTER TABLE
============================================= */
.form .router_table {
border: none;
}
.form .router_table th {
border-bottom: 1px solid #CCC;
}
.form .router_table td {
border-top: none;
border-bottom: 1px solid #CCC;
}
.router_table td {
vertical-align: middle;
}
.router_table td.router_name a {
font-size: 100%;
}
.router_table td.router_name em {
font-style: italic;
font-size: 85%;
color: #999;
}
.router_table td.mac_address {
font-size: 85%;
color: #666;
}
.router_table td.status,
.router_table td.delete
 {
width: 36px;
text-align: center;
}
.router_table td.status strong {
margin: 0 auto;
}
.router_table td.status .active {
height: 24px;
width: 24px;
overflow: hidden;
text-indent: -3000px;
display: block;
background: url(../images/icons/signal_on.png) no-repeat top left;
}
.router_table td.status .inactive {
height: 24px;
width: 24px;
overflow: hidden;
text-indent: -3000px;
display: block;
background:url(../images/icons/signal_off.png) no-repeat top left;
}
.router_table td.delete a {
margin: 0 auto;
height: 16px;
width: 16px;
overflow: hidden;
text-indent: -3000px;
display: block;
background: url(../images/icons/trash.gif) no-repeat top left;
}



/* ROUTER TABLE
============================================= */
.adzone_table {
width: 100%;
border:none;
}

.adzone_table td,
.adzone_table th {/*all cells*/
padding: 5px;
vertical-align: top;
}
.adzone_table td{
padding:15px 5px;
}
.adzone_table tr.even td {
background-color: #f4f6fa;
}
.adzone_table th {
background-color: #EEE;
font-weight: bold;
color: #444;
font-size: 85%;
}
.adzone_table th.layout {
text-align: center;
}
.adzone_table td {
border-top: 1px solid #CCC;
}
.adzone_table td.select_zone {
width: 36px;
vertical-align: middle;
text-align: center;
border-right: 1px dotted #CCC;
}
/* IMAGE */
.adzone_table td.image {
width: 128px;
}
/* LAYOUT NAME */
.adzone_table td.layout {
border-right: 1px dotted #CCC;
text-align: left;
}
.adzone_table td.layout h2 {
font-size: 122%;
margin-bottom: 5px;
font-weight: bold;
}
.adzone_table td.layout a {
font-size: 85%;
}
.adzone_table td.layout em {
font-style: italic;
font-size: 85%;
color: #999;
}
/*ADVERTISEMENT CELL*/
.adzone_table td.advertisement {
border-right: 1px dotted #CCC;
}
.adzone_table td.advertisement label {
font-size: 85%;
margin-left: 3px;
}
.adzone_table td.advertisement select {
width: 85%;
font-size: 100%;
padding: 2px;
margin-bottom: 20px;
}
/*POSITION CELL*/
.adzone_table td.position {
width: 80px;
}
.adzone_table td.position input {
float: left;
margin-right: 5px;
}
.adzone_table td.position label {
font-weight: normal;
float: left;
padding-top: 5px;
}




/* FORMs
============================================= */
.form {
border: 1px solid #CCC;
}
.form li.one_third {
width: 280px;
}
.form ul {
padding:10px 20px;
}
.form li {
margin-bottom: 15px;
padding: 5px;
}
.form_header {
padding: 10px;
font-size: 122%;
text-transform: uppercase;
background-color: #3c8db3;
color: #FFF;
}
.form_header em {
font-size: 85%;
text-transform: lowercase;
font-style: italic;
margin-left: 10px;
}
.form label{
display: block;
font-size: 92%;
margin-bottom: 3px;
font-weight: bold;
color: #444;
}
.form label strong{
color: #F00;
}
.form .hint {
font-size: 77%;
}
.form ul input {
width:95%;
padding: 3px;
margin-bottom: 2px;
font-size: 122%;
}
.form ul textarea {
width:95%;
padding: 3px;
margin-bottom: 2px;
font-size: 122%;
}
.form ul select {
width:100%;
padding: 2px;
margin-bottom: 2px;
font-size: 122%;
}
.form .tip {
font-size: 85%;
font-style: italic;
font-weight: normal;
color: #999;
}
.submit_form  {
padding: 10px;
background-color: #ECEFF5;
}
.submit_form em  {
padding-top: 10px;
float: left;
display: block;
}
.submit_form  a {
color: #900;
}

.form .innerform {
padding: 10px;
background-color: #ECEFF5;
border: 1px solid #BBB;
}
.form .innerform .row {
margin-bottom: 15px;
}
.form .innerform input {
width:95%;
padding: 2px;
margin-bottom: 2px;
font-size: 100%;
}
.form .innerform textarea {
width:95%;
padding: 2px;
margin-bottom: 2px;
font-size: 100%;
}
.form .innerform select {
width:100%;
padding: 2px;
margin-bottom: 2px;
font-size: 100%;
}



/* PAPER BOX
============================================= */

.paper_box {
padding-left: 5px;
background: url(../images/backgrounds/form/shadow_left.png) repeat-y top left;
}
.paper_box .paper_box_inner {
padding-right: 5px;
background: url(../images/backgrounds/form/shadow_right.png) repeat-y top right;
}
.paper_box .paper_box_content {
background-color: #FFF;
padding: 20px;
}
.paper_box .header {
background-color: #2a729c;
margin: 0;
padding: 10px;
color: #FFF;
font-size: 114%;
text-transform: uppercase;
border-top: 1px solid #66b3e0;
border-bottom: 1px solid #21597a;
}
.paper_box .header_subtle {
background-color: #7dbe0a;
margin: 0;
padding: 10px;
color: #FFF;
font-size: 114%;
text-transform: uppercase;
border-top: 1px solid #dbf7a9;
border-bottom: 1px solid #659908;
}

.paperbox_footer {
height: 10px; 
position: relative;
}
.paperbox_footer .pb_center {
margin: 0px 10px;
height: 10px;
background: url(../images/backgrounds/form/shadow_bottom.png) repeat-x bottom left;
}
.paperbox_footer .pb_left {
height: 10px;
width: 10px;
position: absolute;
left: 0;
top: 0;
background: url(../images/backgrounds/form/shadow_bottom_left.png) no-repeat bottom left;
}
.paperbox_footer .pb_right {
height: 10px;
width: 10px;
position: absolute;
right: 0;
top: 0;
background: url(../images/backgrounds/form/shadow_bottom_right.png) no-repeat bottom right;
}




/* FOOTER
============================================= */
#footer {
margin-top: 30px;
padding: 20px 0px; 
text-align: center;
font-size: 85%;
}
#footer li {
margin: 10px;
display: inline;
}
#footer li a {
color: #999;
}










