/* ---------------
Name: CMS Layout Stylesheet
Author: Silver Lining Networks
Version: 1.0
Date: 1/19/09
------------------ */


/* TYPOGRAPHY
============================================= */
p {
font-size: 85%;
line-height: 22px;
margin-bottom: 20px;
color: #444;
}


/* GRID
============================================= */
.one-sixth {
width: 140px;
margin-left: 20px;
}


/* TOP NAV
============================================= */
.topnav {
padding: 5px;
}
.topnav li {
float: right;
margin-left: 10px;
font-size: 85%;
}
.topnav li a {
float: right;
padding: 3px 0px;
text-decoration: none;
}
.topnav li.help a {
padding: 3px 10px;
}


/* MASTHEAD
============================================= */
#masthead {
height: 125px;
padding: 0px 20px;
}
#masthead h1 {
height: 105px;
width: 140px;
margin-top: 10px;
overflow: hidden;
float: left;
text-align: left;
text-indent: -3000px;
font-size: 152%;
line-height: 200%;
}


/* NAVIGATION
============================================= */
#navigation {
padding-top: 15px;
}
#navigation ul {
float: left;
margin-left: 20px;
}
#navigation li {
float: right;
text-align: center;
margin-right: 5px;
}
#navigation li a {
text-decoration: none;
width: 121px;
float: left;
padding: 7px 0px;
display: block;
}
#navigation li.selected a {
font-weight: bold;
}

/* BREADCRUMB
============================================= */
#breadcrumb {
height: 35px;
}
#breadcrumb ul {
float: left;
margin-left: 20px;
padding: 6px 0px;
}
#breadcrumb li {
float: left;
margin-left: 10px;
padding-right: 25px;
background: url(../images/icons/breadcrumb_arrow.png) no-repeat right center;
font-size: 85%;
}
#breadcrumb li a {
text-decoration: none;
padding: 5px;
float: left;
display: block;
}
#breadcrumb li.selected a {
font-weight: bold;
}


/* CONTENT
============================================= */
#wrap {
margin: 0 auto;
min-width: 960px;
max-width:1200px;
}
#content {
padding: 20px;
}
#content-layout {
}
#content-primary-wrap {
float: left;
width: 100%;
margin-right: -320px;
}
#content-primary {
margin-right: 320px;
}
#content-secondary {
float: right;
width: 250px;
padding: 25px;
}


/* NOTIFICAITON
============================================= */
.notification {
margin-bottom: 20px;
}
.notification p {
padding: 10px;
margin-bottom: 0;
}
.notification_header {
padding: 3px;
}
.notification_header h2 {
float: left;
margin-right: 5px;
text-transform: uppercase;
font-size: 107%;
line-height: 22px;
font-weight: bold;
}
.notification_header p {/*date*/
float: left;
font-style: italic;
margin: 0;
padding: 0;
}
.notification_header a {/*close*/
float: right;
display: block;
padding: 3px;
cursor: pointer;
}


/* FORMs
============================================= */
.form {
margin-bottom: 20px;
}
.form li.one_third {
width: 280px;
}
.form ul {
padding:10px 20px;
}
.form li {
margin-bottom: 10px;
padding: 5px;
}
.form_header {
padding: 10px;
font-size: 122%;
}
.form label{
display: block;
font-size: 92%;
font-weight: bold;
}
.form .hint {
font-size: 77%;
}
.form ul input {
width:95%;
padding: 3px;
margin-bottom: 2px;
font-size: 122%;
}
.form ul select {
width:100%;
color: #444;
padding: 2px;
margin-bottom: 2px;
font-size: 122%;
}
.form .tip {
font-size: 85%;
font-style: italic;
font-weight: normal;
}
.submit_form  {
padding: 10px;
}
.submit_form  input {
padding:5px 10px;
font-size: 122%;
border: 1px solid #d1a949;
background-color: #fdc317;
color: #444;
cursor: pointer;
}
.submit_form span {
margin: 0px 10px;
color: #999;
}
.submit_form  a {
color: #900;
}


/* FOOTER
============================================= */
#footer {
background-color: #EEE;
padding: 10px;
text-align: center
}
#footer li {
margin: 10px;
display: inline;
}













