/* ---------------
Name: CMS Color Stylesheet
Author: Silver Lining Networks
Version: 1.0
Date: 1/19/09
------------------ */


/* Body
============================================= */
body {
background-color: #FFF;
color: #333;
}


/* TOP NAV
============================================= */
.topnav {
background:  url(../images/backgrounds/navbar_bg.png) repeat-x top left;
}
.topnav li a {
color: #FFF;
}
.topnav li.help a {
background-color: #f7df93;
color: #444;
border: 1px solid #ddb637;
}

/* BUTTONS
============================================= */
.add_button {
color: #444;
}
.add_button:hover {
color: #39C;
}




/* LOGO
============================================= */
#masthead h1 {
background: url(../images/logos/cms_logo.png) no-repeat top left;
}

/* HEADER
============================================= */
#header {
background:url(../images/backgrounds/masthead_bg.jpg) repeat-x top left;
}

/* MASTHEAD
============================================= */



/* NAVIGATION
============================================= */
#navigation {
background:  url(../images/backgrounds/navbar_bg.png) repeat-x top left;
}

#navigation li a {
background: url(../images/buttons/nav_unselected.png) no-repeat top center;
color: #444;
}
#navigation li.selected a {
color: #333;
background: url(../images/buttons/nav_selected.png) no-repeat top center;
}


/* BREADCRUMB
============================================= */
#breadcrumb {
background: #FFF url(../images/backgrounds/shadow.png) repeat-x left bottom;
}
#breadcrumb li.selected {
background: none;
}
#breadcrumb li a {
color: #69a7c7;
}
#breadcrumb li.selected a {
background-color: #bcd1db;
color: #FFF;
}


/* MAIN CONTENT
============================================= */
#content {
background-color: #FFF;
}
#content-layout {
background-color: #FFF;
}
#content-secondary {
background-color: #EEE;
}


/* NOTIFICAITON
============================================= */
.notification {
border: 1px solid #f7d666;
background-color: #ffffe4;
}
.notification_header {
background-color: #f7d666;
}
.notification_header h2 {
color: #333;
}
.notification_header p {/*date*/
color: #666;
}
.notification_header a {/*close*/
color: #666;
background-color: #feeaa7;
}


/* FORMs
============================================= */
.form {
border: 1px solid #CCC;
}
.form_header {
background-color: #999;
color: #FFF;
}
.form label{
color: #444;
}
.form label strong{
color: #F00;
}
.form .tip {
color: #666;
}
.form .highlight, 
.form li:focus, 
.form li:active {
background-color: #ffe99b;
}
.submit_form  {
background-color: #EEE;
}

