/* GENERAL
============================================= */
.gmnoprint {
opacity: .94;
}

/* HEADER
============================================= */
#main_content .google_bubble .gbub_header {
background: url(../images/backgrounds/google_bubble/border.png) bottom left repeat-x;
padding:0px 0px 10px 0px; 
margin-top: -10px;
}
#main_content .google_bubble .gbub_header h1 {
font-size: 152%;
font-weight: bold;
color: #444;
float: left;
}
#main_content .google_bubble .gbub_header h1 a {
color: #444;
text-decoration: none;
}
#main_content .google_bubble .gbub_header p {
font-size: 85%;
color: #999;
float: left;
margin: 4px 20px 0px 10px
}


/* NAVIGATION
============================================= */
#main_content .google_bubble #gbub_navigation {
padding: 5px 0px;
}
#main_content .google_bubble #gbub_navigation ul {
float: left;
}
#main_content .google_bubble #gbub_navigation li {
background: url(../images/buttons/google_bubble/button.png) top center no-repeat;
width: 102px;
height: 30px;
overflow: hidden;
color: #666;
text-align: center;
line-height: 30px;
font-size: 92%;
font-weight: bold;
float: left;
margin-right: 10px;
}
#main_content .google_bubble #gbub_navigation li.selected {
background: url(../images/buttons/google_bubble/selected_button.png) top center no-repeat;
color: #FFF;
}


/* OVERVIEW SECTION
============================================= */
#main_content .google_bubble #gbub_overview ul {
margin:0px;
}
#main_content .google_bubble  #gbub_overview li {
padding: 10px 10px 10px 24px;
border-bottom: 1px solid #EEE;
color: #333;
font-size: 95%;
}
#main_content .google_bubble #gbub_overview li strong {
font-weight: bold;
}
#gbub_overview .mini_icon_user {
background: url(../images/icons/minicon/person.png) left center no-repeat;
}
#gbub_overview .mini_icon_calendar {
background: url(../images/icons/minicon/calendar.png) left center no-repeat;
}
#gbub_overview .mini_icon_performance {
background: url(../images/icons/minicon/line_graph.png) left center no-repeat;
}
#gbub_overview .mini_icon_hops {
background: url(../images/icons/minicon/server.png) left center no-repeat;
}
#gbub_overview .mini_icon_graph {
background: url(../images/icons/minicon/chart.png) left center no-repeat;
}

/* NEIGHBOR SECTION
============================================= */
#gbub_neighbors {
display: none;
}

/* FOOTER
============================================= */
#main_content .google_bubble .gbub_footer p{
text-align: right;
font-size: 85%;
color: #999;	
margin: 0px;
position: absolute; 
bottom: 0;
right: 0;
}

