
/* PNG IMAGE
================================================= */
#sl_logo {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/logo/master_logo.png',sizingMethod='scale');
text-indent:-3000px;
}
#sl_logo span {
background:none;
}
.login_box {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../images/backgrounds/login_box/login_box_border.png',sizingMethod='scale');
}



