/*
Name: Silver Lining Dashboard Application
Author: Silver Lining Networks

Copyright 2007, All rights reserved.
*/



/* LAYOUT 
============================================= */
body {
background: #c3e4f7 url(../images/backgrounds/application/page_bg.png) top left repeat-x;
text-align: center;
}
#wrapper {
width: 980px;
margin:20px auto;
text-align: left;
position: relative;
}
#header {
background: url(../images/backgrounds/application/header_bg.png) top center no-repeat;
height: 95px;
width: 970px;
overflow: hidden;
margin: 0 5px;
}
#content_wrapper {
background: url(../images/backgrounds/application/bottom_bg.png) bottom center no-repeat;
width: 970px;
margin: 0 5px;
padding-bottom:30px; 
}
#content {
background: url(../images/backgrounds/application/body_bg.png) top center repeat-y;
}
#workspace {
padding-top: 20px;
}


/* MARGINS & WHITESPACE
============================================= */
#wrapper .margin_b_20 {
margin-bottom: 20px;
}
#wrapper .margin_b_15 {
margin-bottom: 15px;
}


/* LOGO
============================================= */
#sl_logo {
background: url(../images/logos/application/silver_lining_logo.png) no-repeat top left;
height: 85px;
width: 130px;
overflow: hidden;
text-indent: -3000px;
position: absolute;
top: -20px;
right: -15px;
}


/* BUTTONS
============================================= */
#button_add_splash, #button_add_device, #button_add_banner, #button_add_logo {
height: 39px;
width: 139px;
display: block;
overflow: hidden;
text-indent: -3000px;
}
#button_add_device {
background: url(../images/buttons/applications/add_device.png) top left no-repeat;
}
#button_add_banner {
background: url(../images/buttons/applications/add_banner.png) top left no-repeat;
}
#button_add_splash {
background: url(../images/buttons/applications/add_splash.png) top left no-repeat;
}
#button_add_logo {
background: url(../images/buttons/applications/add_logo.png) top left no-repeat;
}
.large_button {
display: block;
margin-bottom: 20px;
padding:10px 10px 0px 10px;
width: 260px;
height: 71px;
background: url(../images/buttons/applications/large_button.png) top left no-repeat;
text-decoration: none;
color: #666;
}
.large_button img {
float: left;
margin: 0px 5px 10px 0px;
}
.large_button strong {
padding-top: 10px;
display: block;
color: #003d63;
font-size: 107%;
font-weight: bold;
}
.large_button span {
font-size: 85%;
}

/* ICONS
============================================= */
.icon_server {
display: block;
background: url(../images/icons/application/server.png) top left no-repeat;
height: 32px;
width: 32px;
overflow: hidden;
text-indent: -3000px;
margin: 0px 10px;
}
.icon_linuxbox_1 {/*Server ON*/
display: block;
background: url(../images/icons/application/server_on.png) top left no-repeat;
height: 32px;
width: 32px;
overflow: hidden;
text-indent: -3000px;
margin: 0px 10px;
}
.icon_linuxbox_0 {/*Server OFF*/
display: block;
background: url(../images/icons/application/server_off.png) top left no-repeat;
height: 32px;
width: 32px;
overflow: hidden;
text-indent: -3000px;
margin: 0px 10px;
}
.icon_mr3201a_1, .icon__1 {/*Repater ON*/
display: block;
background: url(../images/icons/application/repeater_on.png) top left no-repeat;
height: 32px;
width: 32px;
overflow: hidden;
text-indent: -3000px;
margin: 0px 10px;
}
.icon_mr3201a_0, .icon__0 {/*Repater OFF*/
display: block;
background: url(../images/icons/application/repeater_off.png) top left no-repeat;
height: 32px;
width: 32px;
overflow: hidden;
text-indent: -3000px;
margin: 0px 10px;
}
.icon_wrt54gl_1 {/*Diablo ON*/
display: block;
background: url(../images/icons/application/diablo_on.png) top left no-repeat;
height: 32px;
width: 32px;
overflow: hidden;
text-indent: -3000px;
margin: 0px 10px;
}
.icon_wrt54gl_0 {/*Diablo OFF*/
display: block;
background: url(../images/icons/application/diablo_off.png) top left no-repeat;
height: 32px;
width: 32px;
overflow: hidden;
text-indent: -3000px;
margin: 0px 10px;
}
.icon_repeater {
display: block;
background: url(../images/icons/application/repeater.png) top left no-repeat;
height: 32px;
width: 32px;
overflow: hidden;
text-indent: -3000px;
margin: 5px 10px;
}
.icon_delete {
display: block;
background: url(../images/icons/application/trash.png) top left no-repeat;
height: 16px;
width: 16px;
overflow: hidden;
text-indent: -3000px;
}
.icon_on_off {
display: block;
height: 16px;
line-height: 16px;
background: url(../images/icons/application/switch.png) top left no-repeat;
padding-left: 22px;
}
.icon_sync {
display: block;
height: 16px;
line-height: 16px;
background: url(../images/icons/application/sync.png) top left no-repeat;
padding-left: 22px;
}
#main_content .icon_textmsg {
padding-left: 70px; 
background: url(../images/icons/application/Comment_edit.png) top left no-repeat;
height: 64px;
line-height: 60px;
}
#main_content .icon_node {
background: url(../images/icons/application/repeater_on.png)  left center no-repeat;
padding-left: 45px; 
}
#main_content .node_inactive {
background: url(../images/icons/application/repeater.png)  left center no-repeat;
padding-left: 45px; 
}
#main_content .node_trouble {
background: url(../images/icons/application/repeater_off.png) left center no-repeat;
padding-left: 45px; 
}
#main_content .icon_users {
background: url(../images/icons/users.png) left center no-repeat;
padding-left: 45px; 
}



/* LOGIN NAV
============================================= */
#login_nav {
position: absolute;
top: 20px;
right: 115px;
}
#login_nav li {
display: inline;
margin-right: 10px;
color: #EEE;
font-size: 92%;
}
#login_nav li a {
color: #EEE;
}

/* HEADER
============================================= */
#header h1 {
font-family: Helvetica, Verdana, Arial, san-serif;
color: #FFF;
font-weight: bold;
font-size: 30px;
height: 27px;
margin: 20px 16px;
}


/* TABS
============================================= */
#header li {
float: left;
width: 121px;
height: 28px;
overflow: hidden;
margin-right: 10px;
}
#header li.selected a {
background: url(../images/buttons/applications/tabs.png) 0px 0px no-repeat;
}
#header #tab_dashboard {
margin-left: 16px;
}
#header li a {
float: left;
background: url(../images/buttons/applications/tabs.png) 0px -40px no-repeat;
width: 121px;
height: 28px;
overflow: hidden;
text-align: center;
line-height: 28px;
color: #333;
text-decoration: none;
}


/* NAVIGATION
============================================= */
#navigation {
background: url(../images/backgrounds/application/navbar_bg.png) bottom left repeat-x;
width: 958px;
height: 61px;
margin: 0px 6px;
padding-bottom: 4px;
overflow: hidden;
} 
#navigation li {
background: url(../images/buttons/applications/navbar_buttons.png) top left no-repeat;
float: left;
height: 45px;
width: 160px;
overflow: hidden;
margin: 7px 0px 7px 10px;
}
#navigation ul li.selected  {
background: url(../images/buttons/applications/navbar_buttons.png) 0px -160px no-repeat;
}
#navigation ul li.selected a {
color: #000;
}
#navigation li.active {
background: url(../images/buttons/applications/navbar_buttons.png) 0px -80px no-repeat;
}
#navigation li.active a {
color: #023f6a;
}
#navigation li a {
float: left;
height: 45px;
width: 110px;
font-size: 122%;
line-height: 45px;
text-decoration: none;
padding-left: 50px;
color: #666;
}
/*ICONS ========*/
#button_overview {
background: url(../images/icons/application/mac.png) 10px center no-repeat;
}
#button_network {
background: url(../images/icons/application/server.png) 10px center no-repeat;
}
#button_banners {
background: url(../images/icons/application/star.png) 10px center no-repeat;
}
#button_kiosk {
background: url(../images/icons/application/credit_card.png) 10px center no-repeat;
}
#button_splash {
background: url(../images/icons/application/window.png) 10px center no-repeat;
}
#button_profile {
background: url(../images/icons/application/user.png) 10px center no-repeat;
}
#button_users {
background: url(../images/icons/application/users.png) 10px center no-repeat;
}
#button_profit {
background: url(../images/icons/application/cash.png) 10px center no-repeat;
}
#button_stats {
background: url(../images/icons/application/stats.png) 10px center no-repeat;
}


/* BREADCRUMB TRAIL
============================================= */
#breadcrumb {
background: url(../images/backgrounds/application/breadcrumb_left.png) top left no-repeat;
padding-left: 3px;
margin-top: -12px;
margin-bottom: 20px;
}
#breadcrumb_inner {
background: url(../images/backgrounds/application/breadcrumb_right.png) top right no-repeat;
padding-right: 3px;
}
#breadcrumb ul {
background: url(../images/backgrounds/application/breadcrumb_bg.png) top left repeat-x;
height: 40px;
}
#breadcrumb li {
background: url(../images/backgrounds/application/breadcrumb_arrow.png) top right no-repeat;
padding: 0px 20px 0px 5px;
font-size: 92%;
line-height:38px;
height: 40px;
float: left;
color: #444;
}
#breadcrumb a {
text-decoration: none;
float: left;
line-height:38px;
height: 40px;
}
#breadcrumb strong {
font-weight: bold;
line-height:38px;
}
#breadcrumb_home a {
background: url(../images/backgrounds/application/breadcrumb_home.png) top left no-repeat;
height: 40px;
width: 37px;
text-indent: -3000px;
overflow: hidden;
float: left;
}


/* TERTIARY NAV
============================================= */
#tertiary_nav {
border-bottom: 3px solid #EEE;
}
#tertiary_nav h2 {
float: left;
}
#tertiary_nav ul {
float: right;
mar
}
#tertiary_nav ul li{
float: right;
font-size: 107%;
margin-left: 25px;
}
#tertiary_nav ul li.selected {
float: right;
font-size: 107%;
margin-left: 25px;
background: url(../images/backgrounds/application/nav_arrow.png) center bottom  no-repeat;
}
#tertiary_nav ul li a {
color: #666;
text-decoration: none;
padding: 10px;
display: block;
float: right;
}
#tertiary_nav ul li.selected a {
color: #333;
font-weight: bold;
}

/* ALL CONTENT (main content + secondary content)
============================================= */
#workspace h2 {
font-size: 185%;
color: #444;
font-weight: bold;
}
#workspace .tip {
font-size: 85%;
color: #868686;
font-style: italic;
margin-bottom: 0;
}
.error {
color: #900;
font-weight: bold;
background-color: #ffefef;
}
.status {
color: #c2f7d2;
font-weight: bold;
background-color: #ffefef;
}
.notice {
color: #906c00;
font-weight: bold;
background-color: #fff8cc;
}
.success {
color: #003300;
font-weight: bold;
background-color: #d9ffd1;
}

#workspace .row {
border-top: 3px solid #EEE;
padding: 10px 0px;
margin-top: 10px
}
#workspace .row h3 {
font-size: 114%;
font-weight: bold;
margin-bottom: 5px;
}
#workspace .row h3 a {
color:#003d6e;
}
#workspace .row p {
font-size: 85%;
color: #666;
}
#workspace .row strong {
font-weight: bold;
color: #444;
}
/*LISTS*/
#workspace .bullet_list {
margin: 0px 0px 20px 25px;
list-style-type: square;
}
#workspace .bullet_list li {
margin-bottom: 10px;
font-size: 88%;
line-height: 18px;
color: #444;
list-style-type: square;
}


/* MAIN CONTENT
============================================= */
#main_content p {
font-size: 92%;
color: #444;
line-height: 22px;
margin-bottom: 20px;
}
#main_content h3 {
font-size: 107%;
color: #333;
font-weight: bold;
margin-bottom: 5px;
}

/*BASIC TABLE*/
#main_content table.basic_table {
width: 90%;
border: 1px solid #CCC;
color: #444;
}
#main_content table.small_table {
font-size: 92%;
}
#main_content .basic_table th {
padding: 3px;
background-color: #EEE;
font-weight: bold;
font-size: 85%;
}
#main_content .basic_table td {
padding: 5px;
border-top:1px solid #CCC;
border-collapse:collapse;
font-size: 92%;
}
#main_content .basic_table .active, #main_content .large_table .active {
color: #006600;
}
#main_content .basic_table .inactive, #main_content .large_table .inactive {
color: #900;
}

/*LARGE TABLE*/
#main_content table.large_table {
width: 578px;
border: 1px solid #CCC;
color: #444;
margin-top: 20px;
}
#main_content table.large_table {
font-size: 92%;
}
#main_content .large_table th {
padding: 3px;
background-color: #EEE;
font-weight: bold;
font-size: 85%;
}
#main_content .large_table td {
padding:10px 5px;
border-top:1px solid #CCC;
border-collapse:collapse;
font-size: 92%;
}
#main_content .large_table td.larger {
font-weight: bold;
}
#main_content .large_table td.smaller {
font-size: 85%;
}
#main_content .large_table td.center, #main_content .large_table th.center  {
text-align: center;
}
#main_content .large_table td.center a {
margin: 0 auto;
}


/* SIDE CONTENT
============================================= */
#secondary_content {
background: url(../images/backgrounds/application/side_content.png) top center repeat-y;
font-size: 85%;
}
#sc_top {
background: url(../images/backgrounds/application/side_content_top.png) top center no-repeat;
padding-top: 5px;
}
#sc_bottom {
background: url(../images/backgrounds/application/side_content_bottom.png) bottom center no-repeat;
padding: 15px 20px 20px 20px;
}
#secondary_content h3 {
font-weight: bold;
margin-bottom: 10px;
color: #444;
}
#secondary_content p {
color: #666;
font-style: italic;
line-height: 22px;
}
#secondary_content ul {
margin: 0;
list-style-type: none;
}
#secondary_content ul li {
list-style-type: none;
margin-bottom: 10px;
}
#secondary_content ol {
margin-left: 25px;
list-style-type:decimal;
}
#secondary_content ol li {
margin-bottom: 15px;
line-height: 22px;
}
#registered_locations {
height: 200px;
overflow: auto;
background-color: #FFF;
margin-top: 10px;
padding-top: 10px;
}


/* PREVIEW
============================================= */
.preview h3 {
font-weight: bold;
font-size: 85%;
color: #666;
margin-bottom: 3px;
}


/* SIMPLE LIST
============================================= */
.simple_list li {
padding: 12px 10px;
border-bottom: 1px solid #EEE;
color: #333;
font-size: 95%;
}
.simple_list li strong {
font-weight: bold;
}

 
/* TWIITER LIST
============================================= */
#secondary_content .twitter_header {
background: url(../images/icons/application/twitter_plain.png) 0px -10px no-repeat;
height: 28px;
line-height: 30px;
padding: 0px 0px 10px 60px;
font-size: 122%;
margin-bottom: 0;
}
#secondary_content .follow_me {
display: block;
padding: 5px;
background-color: #FFF;
margin-bottom: 10px;
font-style: italic;
}
#twitter_update_list li {
background-color: #FFF;
padding: 5px;
border: 1px solid #CCC;
margin-bottom: 10px;
line-height: 18px;
color: #444;
}


/* FOOTER
============================================= */
#footer {
padding-top:10px;
padding-bottom: 10px;
}
#footer p {
background: url(../images/logos/application/mini_logo.png) left center no-repeat;
padding:25px 0px 20px 70px;
font-size: 85%;
color: #666;
}


/* FORM STYLES
============================================= */
.form li {
margin-bottom: 15px;
}
.form label, .label {
display: block;
font-weight: bold;
margin-bottom: 3px;
color: #444;
}
.form label.tip {
font-weight: normal;
}
.form .jqTransformSelectWrapper li {
margin-bottom: 0;
}
.check_label {
font-weight: normal;
font-size: 92%;
line-height: 18px;
margin-left: 5px;
}
.form .check_label {
font-weight: normal;
font-size: 92%;
line-height: 24px;
}
.form_row {
margin-bottom: 20px;
}

/* ZENDESK DROPBOX
============================================= */
#zenbox_iframe img#logo {
display: none;
}

/* BANNER PREVIEW
============================================= */
#banner_preview {
margin-bottom: 20px;
background-color: #EEE;
border: 1px solid #CCC;
text-align: center;
padding: 10px;
}
#banner_preview h2 {
font-size: 93%;
margin-bottom: 5px;
}
#banner {
margin: 0 auto;
width: 728px;
height: 90px;
overflow: hidden;
text-align: left;
}


/* TEXT BANNER PREVIEW
============================================= */
#text_banner_preview {
margin-bottom: 20px;
background-color: #EEE;
border: 1px solid #c3e4f7;
text-align: center;
padding: 10px;
position: relative;
}
#text_banner_preview strong {
position: absolute;
top: 2px;
left: 5px;
}
#text_banner_preview p {
background-color: #FFF;
border: 1px solid #c3e4f7;
padding: 10px;
text-align: left;
color: #444;
font-size: 92%;
padding-left: 80px; 
background: #FFF url(../images/icons/application/Comment.png) 10px 0px no-repeat;
height:44px;
line-height: 20px;
}



/* BRANDING PREVIEW
============================================= */
#branding {
padding: 10px;
border: 1px solid #CCC;
background-color: #EEE;
text-align: left;
float: left;
}
#branding strong {
font-size: 90%;
font-weight: bold;
color: #333;
display: block;
margin-bottom: 5px;
}
#branding span {
font-size: 77%;
display: block;
margin-top: 5px;
}


/* SPLASH PREVIEW
============================================= */
#splash_preview {
margin-bottom: 20px;
background-color: #EEE;
border: 1px solid #CCC;
text-align: center;
padding: 10px;
}
#splash_preview h2 {
font-size: 93%;
margin-bottom: 5px;
}
#splash {
margin: 0 auto;
width: 350px;
height: 250px;
overflow: hidden;
text-align: left;
}

/* PREVIEW HOVER BOX FOR IMAGES
============================================= */
#preview{
position:absolute;
border:1px solid #ccc;
background:#333;
padding:5px;
display:none;
color:#fff;
}


/* GOOGLE MAP
============================================= */
#map {
margin-top: 20px;
}
