/* 
NAME: IE 6 STYLESHEET
FOR: DASHBOARD

COPYRIGHT: SILVER LINING NETWORKS
*/

/* PNG IMAGE
================================================= */
#sl_logo {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='/resources/images/logos/application/silver_lining_logo.png',sizingMethod='scale');
}

/* HEADER
============================================= */
#header h1 {
margin-bottom: 10px;
}

/* BREADCRUMB TRAIL
============================================= */
#breadcrumb {
margin-top:0px;
}

/* FOOTER
============================================= */

#footer p {
background:none;
padding-left: 0;
}

/* FIX FLOATS
============================================= */
#main_content, #secondary_content {
overflow: hidden;
}

