/*---------------------------------------------
SILVER LINING STYLE SHEET
Version: 2.0
Author: SILVER LINING NETWORKS INC.
---------------------------------------------*/

/*= GENERAL
=== === === === === === === === === === === === === */
body {
margin: 0;
padding: 0;
}
.silver_lining_clear {
clear: both;
}
#silver_lining_ad_horizontal {
text-align: center;
padding: 4px 0px 4px 0px;
background: #FFF url(../images/backgrounds/border-small2.png) repeat-x bottom left; 
position: relative;
}
#silver_lining_webpage {
position: relative;
}

/*= TEXT AD
=== === === === === === === === === === === === === */
#silver_lining_text_ad {
text-align: left;
margin-left:auto;
margin-right: auto;
max-width: 860px;
min-width: 860px;
height: 32px;
position: relative;
}
* html #silver_lining_text_ad {
width:960px;
}
#silver_lining_text_ad #silver_lining_bug {
float: left; 
height: 32px;
width: 120px;
background-position: top left !important;
background-repeat: no-repeat !important;
overflow: hidden;
}
#silver_lining_text_ad #silver_lining_client_ad
{background-color:#f8f4c7;
color:#0b6bb1;
float:left;
font-family:Verdana,Arial,serif;
font-size:13px;
height:32px;
line-height:14px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-left:10px;
overflow:hidden;
padding:0 10px;
text-align:left;
width:580px;}

#silver_lining_text_ad #silver_lining_client_ad p,
#silver_lining_text_ad #silver_lining_client_ad a 
{color:#0076a3;text-decoration:none;}

#silver_lining_text_ad #silver_lining_client_ad a:hover  {
text-decoration: underline;
}
#silver_lining_text_ad #silver_lining_homepage {
position: absolute;
background: url(../images/logos/sl_logo_small.png) no-repeat top left;
width: 88px;
height: 31px;
overflow: hidden;
font-family: Verdana, Arial, serif;
font-size: 10px;
text-indent: -3000px;
bottom: -32px;
right: 5px;
border: none;
z-index: 1000;
}
* html #silver_lining_text_ad #silver_lining_homepage {
background: url(../images/logos/sl_logo_small_low.png) no-repeat top left;
}
#silver_lining_text_ad #silver_lining_close {
position: absolute;
top: 3px;
right: 10px;
border: none;
}
#silver_lining_text_ad #silver_lining_close img,
#silver_lining_text_ad #silver_lining_homepage img{
border: none;
}
