/*---------------------------------------------
SILVER LINING STYLE SHEET
Version: 2.0
Author: SILVER LINING NETWORKS INC.
---------------------------------------------*/

/*= GENERAL
=== === === === === === === === === === === === === */
body {
margin: 0;
padding: 0;
}
.silver_lining_clear {
clear: both;
}


#silver_lining_ad_horizontal {
background:#FFFFFF url(../images/backgrounds/border-small2.png) repeat-x scroll left bottom !important;
padding:4px 0 !important;
position:relative !important;
text-align:center !important;
} 

#silver_lining_webpage {
position: relative;
}

/*= TEXT AD
=== === === === === === === === === === === === === */

#twitter_div img {
float:left  !important;
margin-right:5px  !important;
margin-top:3px  !important;
} 

#silver_lining_text_ad {
height:32px !important;
margin-left:auto !important;
margin-right:auto !important;
max-width:860px !important;
min-width:860px !important;
position:relative !important;
text-align:left !important;
} 

* html #silver_lining_text_ad {
width:960px;
}

#silver_lining_text_ad #silver_lining_bug {
background-position:left top !important;
background-repeat:no-repeat !important;
float:left !important;
height:32px !important;
overflow:hidden !important;
text-decoration:none !important;
width:120px !important;
}

#silver_lining_text_ad #silver_lining_client_ad {
vertical-align: middle;
background-color:#F8F4C7 !important;
color:#0B6BB1 !important;
float:left !important;
font-family:Verdana,Arial,serif !important;
font-size:12px !important;
height:32px !important;
line-height:14px !important;
list-style-image:none !important;
list-style-position:outside !important;
list-style-type:none !important;
margin-left:10px !important;
overflow:hidden !important;
padding:0 5px !important;
text-align:left !important;
width:580px !important;
}



#silver_lining_text_ad #silver_lining_client_ad p, #silver_lining_text_ad #silver_lining_client_ad a {
color:#0076A3 !important;
text-decoration:none !important;
} 



#silver_lining_text_ad #silver_lining_client_ad a:hover  {
text-decoration: underline;
}
#silver_lining_text_ad #silver_lining_homepage {
position: absolute;
background: url(../images/logos/sl_logo_small.png) no-repeat top left;
width: 88px;
height: 31px;
overflow: hidden;
font-family: Verdana, Arial, serif;
font-size: 10px;
text-indent: -3000px;
bottom: -32px;
right: 5px;
border: none;
z-index: 1000;
}
* html #silver_lining_text_ad #silver_lining_homepage {
background: url(../images/logos/sl_logo_small_low.png) no-repeat top left;
}
#silver_lining_text_ad #silver_lining_close {
position: absolute;
top: 3px;
right: 10px;
border: none;
}
#silver_lining_text_ad #silver_lining_close img,
#silver_lining_text_ad #silver_lining_homepage img{
border: none;
}
