/*---------------------------------------------
SILVER LINING STYLE SHEET
Version: 2.0
Author: SILVER LINING NETWORKS INC.
---------------------------------------------*/

/*= GENERAL
=== === === === === === === === === === === === === */
body {
margin: 0;
padding: 0;
}
.silver_lining_clear {
clear: both;
}
#silver_lining_ad_horizontal {
text-align: center;
padding: 10px 0px 16px 0px;
background: #FFF url(../images/backgrounds/border.png) repeat-x bottom left; 
position: relative;
}
#silver_lining_webpage {
position: relative;
}

#silver_lining_advertise_here_link {
font-family: Verdana, arial, san-serif;
font-size: 11px;
display: block;
position: absolute;
right: 100px;
bottom: -10px;
text-align: center;
color: #25709a;
}


/*= LEADERBOARD
=== === === === === === === === === === === === === */
#silver_lining_leaderboard {
text-align: left;
margin-left:auto;
margin-right: auto;
max-width: 1100px;
min-width: 960px;
height: 90px;
position: relative;
}
* html #silver_lining_leaderboard {
width:960px;
}
#silver_lining_leaderboard #silver_lining_bug {
float: left; 
height: 90px;
width: 200px;
background-position: top left !important;
background-repeat: no-repeat !important;
overflow: hidden;
}
#silver_lining_leaderboard #silver_lining_client_ad {
float: left;
height: 90px;
width: 728px;
overflow: hidden;
margin-left: 10px;
}
#silver_lining_leaderboard #silver_lining_homepage {
position: absolute;
width: 89px;
height: 64px;
overflow: hidden;
font-family: Verdana, Arial, serif;
font-size: 10px;
text-indent: -3000px;
bottom: -40px;
right: 5px;
border: none;
z-index: 1000;
}
#silver_lining_leaderboard #silver_lining_close {
position: absolute;
top: 0px;
right: 10px;
border: none;
}
#silver_lining_leaderboard #silver_lining_close img,
#silver_lining_leaderboard #silver_lining_homepage img{
border: none;
}
