/*---------------------------------------------
SILVER LINING NETWORK INTERNET EXPLORER 6 STYLES
Version: 2.0
Author: SILVER LINING NETWORKS INC.
---------------------------------------------*/


/* PNG IMAGE
================================================= */
h1#logo span {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='resources/images/logos/sl_logo.png',sizingMethod='scale');
}
h1#logo_240 span {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='resources/images/logos/sl_logo_240.png',sizingMethod='scale');
}
.one_hour_service {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='resources/images/buttons/1_hour_service.png',sizingMethod='scale');
}
.three_hour_service {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='resources/images/buttons/3_hour_service.png',sizingMethod='scale');
}
.one_day_service {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='resources/images/buttons/24_hour_service.png',sizingMethod='scale');
}
.one_month_service {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='resources/images/buttons/1_month_service.png',sizingMethod='scale');
}

.paid_service_199 {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='resources/images/buttons/199_service.png',sizingMethod='scale');
}
.paid_service_399 {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='resources/images/buttons/399_service.png',sizingMethod='scale');
}
.paid_service_1999 {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='resources/images/buttons/1999_service.png',sizingMethod='scale');
}
#section_two h2.monthly_plan {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (src='resources/images/backgrounds/title_monthly.png',sizingMethod='scale');
}
#custom_logo #logo_image #gloss {
background: none;
}

/* DOUBLE MARGIN
================================================= */
.half_page,
.one_sixth,
.one_third,
.two_thirds,
.five_sixths {
display:inline;
}


/* TEXT SIZING
================================================= */
#section_three h3 {
font-family: Arial, san-serif;
font-size: 92%;
}