[% PROCESS header.tmpl title="Silver Lining Dashboard:  Manage Personal Information"  %]
[% PROCESS left.tmpl %]

<div id="center">
	<div class="content">

<h2>[% PROCESS settings/nav.tmpl %] > <a href="[% base_uri %]/app/settings/index">Manage Account</a> > My Info</h2>

<p><hr class="sl_line"></p>

<h3>Update your login information</h3>
<p><hr class="sl_line"></p>

<div id="edit_form">
<form method="POST" action="[% base_uri %]/app/settings/account">

<table class="edit"> 

[% IF errors %]
<tr><td colspan="2"><font color="red">Please correct the form errors below</font></td></tr>
[% END %]

[% IF errors.invalid.password %]
<tr><td colspan="2"><font color="red">Your passwords did not match or were too short</font></td></tr>
[% END %]

[% IF errors %]
<tr><td colspan="2"><hr class="sl_line"></td></tr>
[% END %]


<!-- first_name -->
<tr><td>
[% IF errors.invalid.first_name or errors.missing.first_name %]<font color="red">[% END %]
First Name:
[% IF errors.invalid.first_name or errors.missing.first_name %]
</font>[% END %]
</td>
<td><input type="text" name="first_name" size="25" maxlength="50" value="[% req.param('first_name') or reg.first_name %]">
</td></tr>

<!-- last_name -->
<tr><td>[% IF errors.invalid.first_name or errors.missing.first_name %]
<font color="red">[% END %]
Last Name:
[% IF errors.invalid.last_name or errors.missing.last_name %]</font>[% END %]
</td>
<td><input type="text" name="last_name" size="25" maxlength="50" value="[% req.param('last_name') or reg.last_name %]">
</td></tr>

<!-- email -->

<input type="hidden" name="current_email" value="[% reg.email %]">

<tr><td>
[% IF errors.invalid.email or errors.missing.email %]<font color="red">[% END %]
Email Address:
[% IF errors.invalid.email or errors.missing.email %]</font>[% END %]
</td>
<td><input type="text" name="email" size="25" maxlength="50" value="[% req.param('email') or reg.email %]">
</td></tr>


<tr><td colspan="2"><hr class="sl_line"></td></tr>

<tr><td>
[% IF errors.invalid.password or errors.missing.password %]
<font color="red">[% END %]
Password:
[% IF errors.invalid.password or errors.missing.password %]
</font>[% END %]
</td>
<td><input type="password" name="password" size="15" maxlength="15" value="">
</td></tr>

<tr><td>
[% IF errors.invalid.password or errors.missing.retype %]<font color="red">Retype Password:</font>[% ELSE %]
Retype Password:
[% END %]
</td>

<td><input type="password" name="retype" size="15" maxlength="15" value="">
</td></tr>

<tr><td colspan="2"><font color="#CCCCCC">Minimum 5 characters</font></td></tr>
<tr><td colspan="2"><hr class="sl_line"></td></tr>

<tr><td><input type="submit" value="Save"></td></tr>
</table>

</form>


</div>
</div>
</div>

[% PROCESS footer.tmpl %]
