[% PROCESS header.tmpl title="Silver Lining Dashboard:  My info"  selected="account" subselected="profile"%]
<div class="grid_10 suffix_1">	

	<p>[% PROCESS settings/nav.tmpl %] > <a href="[% base_uri %]/app/settings/index">Manage account</a> >My info</p>
	<h2>Update your login information</h2>
	
	<form method="POST" action="[% base_uri %]/app/settings/account">
	
	
	[% IF errors %]
	<p class="error">Please correct the form errors below</p>
	[% END %]
	
	[% IF errors.invalid.password %]
	<p><font color="red">Your passwords did not match or were too short</font></p>
	[% END %]
	
	
	
	<!-- email -->
	<input type="hidden" name="current_email" value="[% reg.email %]">
	<p>
	[% IF errors.invalid.email or errors.missing.email %]<font color="red">[% END %]
	Email address:&nbsp;&nbsp;
	[% IF errors.invalid.email or errors.missing.email %]</font>[% END %]
	<input type="text" name="email" size="25" maxlength="50" value="[% req.param('email') or reg.email %]"></p>
	
	
	
	
	<!-- password -->
	[% IF errors.invalid.password or errors.missing.password %]<font color="red">[% END %]
	Password:
	[% IF errors.invalid.password or errors.missing.password %]</font>[% END %]
	<input type="password" name="password" size="15" maxlength="15" value="">
	<p><font color="#CCCCCC">Minimum 5 characters</font></p>
	
	
	
	
	<!-- retype -->
	[% IF errors.invalid.password or errors.missing.retype %]<font color="red">[% END %]
	Retype password:&nbsp;&nbsp;
	[% IF errors.invalid.password or errors.missing.retype %]</font>[% END %]
	<input type="password" name="retype" size="15" maxlength="15" value="">
	<label>Please retype your password</label>
	
	<input type="submit" value="Save">
	</form>
</div>


<div id="secondary_content" class="grid_5">
	<div id="sc_top">
		<div id="sc_bottom">
				<p><a href="[% base_uri %]/app/settings/account">Change Login Info</a></p>
				[% IF reg.account_id.account_id == 1 or reg.account_id.account_id ==2 or reg.account_id.account_id == 21 %]
				<p><a href="[% base_uri %]/app/settings/users">Users</a></p>
				<p><a href="[% base_uri %]/app/settings/payment">Payment</a></p>
				[% END %]

		</div>
	</div>
</div>



[% PROCESS footer.tmpl %]
