[% PROCESS header.tmpl title="Silver Lining Dashboard:  My info"  selected="account" subselected="profile"%]

<div id="center">
<div class="content">

<h2>[% PROCESS settings/nav.tmpl %] > <a href="[% base_uri %]/app/settings/index">Manage account</a> > My info</h2>

<hr class="sl_line">

<h3>Update your login information</h3>

<hr class="sl_line">

<div id="edit_form">
<form method="POST" action="[% base_uri %]/app/settings/account">

<table class="edit"> 

[% IF errors %]
<p><font color="red">Please correct the form errors below</font></p>
[% END %]

[% IF errors.invalid.password %]
<p><font color="red">Your passwords did not match or were too short</font></p>
[% END %]

[% IF errors %]
<hr class="sl_line">
[% END %]


<!-- email -->

<input type="hidden" name="current_email" value="[% reg.email %]">

<p>
[% IF errors.invalid.email or errors.missing.email %]<font color="red">[% END %]
Email address:&nbsp;&nbsp;
[% IF errors.invalid.email or errors.missing.email %]</font>[% END %]
<input type="text" name="email" size="25" maxlength="50" value="[% req.param('email') or reg.email %]"></p>

<!-- end email -->







<hr class="sl_line">




<!-- password -->

<p>
[% IF errors.invalid.password or errors.missing.password %]<font color="red">[% END %]
Password:&nbsp;&nbsp;
[% IF errors.invalid.password or errors.missing.password %]</font>[% END %]
<input type="password" name="password" size="15" maxlength="15" value=""></p>
<p><font color="#CCCCCC">Minimum 5 characters</font></p>

<!-- end password -->





<hr class="sl_line">





<!-- retype -->

<p>
[% IF errors.invalid.password or errors.missing.retype %]<font color="red">[% END %]
Retype password:&nbsp;&nbsp;
[% IF errors.invalid.password or errors.missing.retype %]</font>[% END %]
<input type="password" name="retype" size="15" maxlength="15" value=""></p>
<p><font color="#CCCCCC">Please retype your password</font></p>


<!-- end retype -->



<hr class="sl_line">



<p><input type="submit" value="Save"></p>

</form>


</div>
</div>
</div>

[% PROCESS footer.tmpl %]
