[% PROCESS header.tmpl title="Silver Lining Dashboard:  Manage Account Settings"  %]
[% PROCESS left.tmpl %]

<div id="list_center">
	<div class="content">

<h2>[% PROCESS settings/nav.tmpl %] > Manage Account</h2>
<p><hr size=1 color="#CCCCCC"></p>
<span class="edit">
[% IF session.msg %]
<p><font color="red">[% session.msg %]</font></p>
<p><hr size=1 color="#CCCCCC"></p>
[% END %]

<h3>Manage Account</h3>

<p><a href="[% base_uri %]/app/settings/account">Login Info</a> - Manage your account information</p>
<p><a href="[% base_uri %]/app/settings/payment">Payment Info</a> - Manage your payment information</p>
[% IF friends %]
<p><a href="[% base_uri %]/app/settings/friends">Friends</a> - Manage users to share your account with</p>
[% END %]
<p><hr size=1 color="#CCCCCC"></p>

</span>
    </div>
</div>

[% PROCESS footer.tmpl %]

