[% PROCESS header.tmpl title="Silver Lining Dashboard:  Manage account"  %]
[% PROCESS left.tmpl %]

<div id="center">
<div class="content">

<h2>[% PROCESS settings/nav.tmpl %] > Manage account</h2>
<hr class="sl_line">

[% IF msg %]
<p><font color="red">[% msg %]</font></p>
<p><hr class="sl_line"></p>
[% END %]

<h3>Manage account</h3>
<hr class="sl_line">
<p><a href="[% base_uri %]/app/settings/account">My info</p>
<!-- <p><a href="[% base_uri %]/app/settings/payment">Billing</a></p> -->
<p><a href="[% base_uri %]/app/settings/users">Users</a></p>

<p><hr class="sl_line"></p>

    </div>
</div>

[% PROCESS footer.tmpl %]

