[% PROCESS header.tmpl title="Silver Lining Dashboard:  Manage Payment Information"  %]
[% PROCESS left.tmpl %]

<div id="list_center">
	<div class="content">

<h2>[% PROCESS settings/nav.tmpl %] > <a href="[% base_uri %]/app/settings/index">Manage Account</a> > Payment Info</h2>
<p><hr size=1 color="#CCCCCC"></p>

[% IF session.msg %]
<p><font color="red">[% session.msg %]</p>
<p><hr size=1 color="#CCCCCC"></p>
[% END %]

<div id="edit_form">

<span class="edit"> 
<h2 style="width: 600px">To receive money for ad views on your network, enter your paypal id (email) and desired payment threshold.</h2>
<h2 style="width: 600px">You will receive a payment and an email receipt when your account generates revenue equal to the payment threshold.</h2>
<p><hr size=1 color="#CCCCCC"></p>
<form method="POST" action="[% base_uri %]/app/settings/payment">
<p>
[% IF errors.missing.paypal_id or errors.invalid.paypal_id %]
<font color="red">[% END %]
PayPal ID:
[% IF errors.missing.paypal_id or errors.invalid.paypal_id %]</font>[% END %]
<input type="text" name="paypal_id" size="30" maxlength="30" value="[% req.param('paypal_id') or reg.paypal_id %]">
</p>
<p><font color="#CCCCCC">(Enter your PayPal ID)</font></p>
<p><hr size=1 color="#FFFFFF"></p>
<p>
[% IF errors.missing.payment_threshold or errors.invalid.payment_threshold %]
<font color="red">[% END %]
Payment Threshold:
[% IF errors.missing.payment_threshold or errors.invalid.payment_threshold %]
</font>[% END %]
<select name="payment_threshold">
<option value="5" [% IF reg.payment_threshold == 5 %]SELECTED[% END %]>$5
<option value="10" [% IF reg.payment_threshold == 10 %]SELECTED[% END %]>$10
<option value="20" [% IF reg.payment_threshold == 20 %]SELECTED[% END %]>$20
<option value="50" [% IF reg.payment_threshold == 50 %]SELECTED[% END %]>$50
<option value="100" [% IF reg.payment_threshold == 100 %]SELECTED[% END %]>$100
</select>
<!--

<input type="text" name="payment_threshold" size="5" maxlength="4" value="[% req.param('payment_threshold') or reg.payment_threshold  or '5' %]"> -->
</p>

<p><font color="#CCCCCC">
(Send payment when account balance reaches this amount)</font></p>
<p><hr size=1 color="#CCCCCC"></p>

<p><input type="submit" value="Save"></p>
</form>
</span>
</div>
</div>
</div>

[% PROCESS  footer.tmpl %]
