[% PROCESS header.tmpl %]

<div id="list_center">
	<div class="content">

<h2>[% PROCESS dashboard.tmpl %] > <a href="[% base_uri %]/app/settings/index"> Manage Settings</a> > Manage Router
[% IF router.name %]'[% router.name %]'
[% ELSE %]at ip [% router.ip %][% END %]</h2>

<p>Use this page to edit the settings for this router</p>
<div id="edit_form">

<form method="POST" action="[% base_uri %]/app/settings/router" enctype = 'multipart/form-data'>

[% IF status == 'update_ok' %]
<p><font color="red">Your router settings have been updated.</font></p>
[% END %]

[% IF errors %]
<p><font color="red">Please correct the form errors shown below</font></p>
[% END %]

<table class="edit">
<tr><td colspan="2"><hr></td></tr>
<tr><td>
[% IF errors.missing.name %]<font color="red">Name this router:</font>
[% ELSE %]
Name this router:
[% END %]
</td>
<td>
<input type="text" name = "name" size="25" maxlength="25" value='[% req.param('name') or router.name %]'>
<input type="hidden" name="id" value="[% router.router_id %]">
</td></tr>

<tr><td>
[% IF errors.missing.macaddr or errors.invalid.macaddr %]<font color="red">[% END %]
Mac Address:
[% IF errors.missing.macaddr or errors.invalid.macaddr %]</font>[% END %]
</td>
<td>
<input type="text" name = "macaddr" size="17" maxlength="17" value='[% req.param('macaddr') or router.macaddr%]'> (example '00:17:f2:43:38:bd')
</td></tr>

<tr><td>
[% IF errors.missing.serial_number %]<font color="red">Serial number:</font>
[% ELSE %]
Serial number:
[% END %]
</td>
<td>
<input type="text" name="serial_number" size="25" maxlength="25" value='[% router.serial_number %]'>
</td></tr>

<tr><td><input type="Submit" value="Save Router Settings"></td></tr>
<tr><td colspan="2"><hr></td></tr>

[% IF locations %]
<tr><td colspan="2">This router has been registered at the following locations:</td></tr>

[% FOREACH location = locations %]
  <tr><td><ul><li>[% IF location.name %][% location.name %][% ELSE %]Unnamed location[% END %] - [% location.ip %]</li></ul></td></tr>
[% END %]

[% END %]
  </table>

</div>
</div>
</div>
[% PROCESS right.tmpl %]
[% PROCESS footer.tmpl %]