[% PROCESS header.tmpl %]

<div id="list_center">
	<div class="content">

<h2>[% PROCESS dashboard.tmpl %] > <a href="[% base_uri %]/app/settings/index"> Manage Settings</a> > Manage Router
[% IF router.name %] [% router.name %] 
[% ELSE %] [% router.ip %]
[% END %]</h2>

<p>Use this page to edit the settings for this router</p>
<div id="edit_form">

<form method="POST" action="[% base_uri %]/app/settings/router" enctype = 'multipart/form-data'>

[% IF updated_name == 'ok' %]
<p><font color="red">Name has been updated</font></p>
[% END %]

<table class="edit">

<tr><td>
[% IF errors.missing.name %]<font color="red">Name this router:</font>
[% ELSE %]
Name this router:
[% END %]
</td>
<td>
<input type="text" name = "name" size="25" maxlength="25" value='[% router.name %]'>
<input type="hidden" name="id" value="[% router.router_id %]">
</td></tr>


<tr><td>
[% IF errors.missing.macaddr %]<font color="red">Mac address:</font>
[% ELSE %]
Mac address:
[% END %]
</td>
<td>
<input type="text" name = "name" size="17" maxlength="17" value='[% router.macaddr %]'>
</td></tr>

<tr><td>
[% IF errors.missing.serial_number %]<font color="red">Serial number:</font>
[% ELSE %]
Serial number:
[% END %]
</td>
<td>
<input type="text" name = "name" size="25" maxlength="25" value='[% router.serial_number %]'>
</td></tr>

[% IF locations %]
<tr><td colspan="2">This router has been registered at the following locations:</td></tr>

[% FOREACH location = locations %]
  <tr><td><ul><li>[% IF location.name %][% location.name %][% ELSE %]Unnamed location[% END %] - [% location.ip %]</li></ul></td></tr>
[% END %]

[% END %]
  </table>

</div>
</div>
</div>
[% PROCESS right.tmpl %]
[% PROCESS footer.tmpl %]

