[% PROCESS header.tmpl title="Silver Lining Dashboard:  Manage Users"  %]
[% PROCESS left.tmpl %]

<div id="list_center">
<div class="content">


<h2>[% PROCESS settings/nav.tmpl %]  > Service Uptime</h2>

<hr class="sl_line">


<h3>Service Uptime</h3>
<br />
<iframe width="480" height="340" align="middle" src="https://www.siteuptime.com/prem_statistics.php?Id=617&&UserId=87549">
</div>
</div>

[% PROCESS  footer.tmpl %]
