<html>
    <head>
	<link rel="stylesheet" href="http://silverliningworks.typepad.com/blog/styles.css" type="text/css">
</style>
	</head>
	<body>
	
	<div id="container">
		<div id="banner">
	<a id="banner-img" href="/app" style="background: #FFFFFF url('http://silverliningworks.typepad.com/images/silverlining_application.gif');">
	<span class="banner-alt"></span></a>
	</div>