[% INCLUDE header.tmpl %]
<div id="container">

<p class="breadcrumb">Home</p>
<p>Welcome to the Silver Lining dashboard.</p>
<p>You can <a href="/app/ad/list">manage your current ads</a></p>
<p>You can also <a href="/app/ad/report">view a report of activity</a></p>
<p>If you need help please visit 
<a href="http://www.silverliningnetworks.com/forum">our forum</a></p>
</div>
[% INCLUDE footer.tmpl %]