<div id="left">
<a href="/app/settings/index"><img border="0"  src="http://www.redhotpenguin.com/images/sl/manage_routers.gif"></a><br>
<a href="/app/ad/list"><img border="0"  src="http://www.redhotpenguin.com/images/sl/manage_ads.gif"></a><br>
<a href="/app/report/index"><img border="0"  src="http://www.redhotpenguin.com/images/sl/view_reports.gif"></a>
</div>
