[% INCLUDE header.tmpl %]
<div id="container">

<p class="breadcrumb">Login</p>
[% IF login_error %]<p>Error in logging in, try again</p>[% END %]
<p>Please login</p>
<form method="POST" action="/app/login">
<p>Email Address:<input type="text" name="credential_0"></p>
<p>Password:&nbsp;<input type="text" name="credential_1"></p>
<p><input type="submit" name="login" value="Login"></p>
</form>
</div>
[% INCLUDE footer.tmpl %]