<div id="right">
<a href="/app/logout"><img border="0"  src="http://www.redhotpenguin.com/images/sl/logout.gif"></a><br>
<a href="/app/ad/list"><img border="0"  src="http://www.redhotpenguin.com/images/sl/manage_ads.gif"></a><br>
<a href="/app/ad/report/index"><img border="0"  src="http://www.redhotpenguin.com/images/sl/view_reports.gif"></a><br>
</div>